<app-header></app-header>
<div class="" id="maincontainer-wrapper">
    <div class="page-content-wrapper">
        <div class="mutual-fund-wrapper" *ngIf="page == 'dashboard'">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-menu-wrapper">
                            <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                                <li role="presentation" id="menu1" class="current">
                                    <a (click)="checkpage('dashboard')" title="หน้ารวม Port">หน้ารวม Port</a>
                                </li>
                                <!-- <li role="presentation" id="menu2">
                                    <a (click)="checkpage('suitability')" title="แบบประเมินความเสี่ยง">แบบประเมินความเสี่ยง</a>
                                </li> -->

                            </ul>
                        </div>

                        <div class="fund-table-wrapper">
                            <div class="heading-section">
                                <div class="detail-head-wrapper">
                                <div class="row">
                                    
                                    <div class="col-sm-12 col-md-12 icon-option mb-3">
                                        <ul class="">
                                            <li class="ico-fb">
                                                <a href="#" title="facebook">
                                                    <img src="/assets/Images/icons/ico-pipe.png" />
                                                </a>
                                            </li>
                                            <li class="ico-line">
                                                <a href="#" title="line">
                                                    <img src="/assets/Images/icons/ico-download.png" />
                                                </a>
                                            </li>
                                            <li class="ico-yt">
                                                <a href="#" title="youtube">
                                                    <img src="/assets/Images/icons/ico-print.png" />
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">

                                        <p>เลขที่ผู้ถือหน่วยลงทุน</p>
                                        <div class="select-wrapper inline-block">
                                            <select name="ddlLink" id="ddlLink">
                                                <option value="0" selected="">9990244757</option>
                                                <option value="36">9990244757</option>
                                                <option value="29">9990244757</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <p>ชื่อผู้ถือหน่วยลงทุน</p>
                                        <span>เนติวัฒน์ โชติกร</span>
                                    </div>
                                    <div class="col-sm-6 col-md-3">

                                        <p>วันที่ออกรายงาน</p>
                                        <span>7 มิถุนายน 2561</span>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">

                                        <p>ที่อยู่</p>
                                        <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
                                    </div>
                                </div>

                                <div class="fund-list-wrapper">
                                
                                        <div class="title-heading">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img src="/assets/Images/icons/ico-asset.png">
                                                </div>
                                                <div class="col-md-6 text-left">
                                                    <h3>มูลค่าทรัพย์สินสุทธ(บาท)</h3>
                                                </div>
                                                <div class="col-md-5 text-right">
                                                    <h1>฿ 70,474,729.91</h1>
                                                </div>
                                            </div>
                                        </div>
                                   
                                    <!-- <div class="col-md-6 col-xs-12 no-padding">
                                        <div class="title-heading-blue">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="/assets/Images/icons/ico-income.png">
                                                </div>
                                                <div class="col-md-6">
                                                    <h3>กำไร/ขาดทุน (บาท)</h3>
                                                </div>
                                                <div class="col-md-4">
                                                    <h3>฿ 669,638.80</h3>
                                                </div>
                                            </div>


                                        </div>
                                    </div> -->
                                
                            </div>
                            <div class="row">
                                    <div class="col-sm">
                                        <div class="table-responsive">
                                            <table class="table table-performance">
                                                <tbody>
                                                    <tr class="captions">
                                                        <td colspan="11">
                                                            <h3>
                                                                สัดส่วนเงินลงทุน
                                                            </h3>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Fund Type
                                                        </th>
                                                        <th>
                                                            วันที่
                                                        </th>
                                                        <th>
                                                            หน่วยคงเหลือ
                                                        </th>
                                                        <th>
                                                            มูลค่าต่อหน่วย
                                                        </th>
                                                        <th class="bg-primary">
                                                            Current Amount <br/>(Bath)
                                                        </th>
                                                        <th class="bg-blue">
                                                            Unrealize<br/>(Gain/Loss)
                                                        </th>
                                                    </tr>
                                                    <tr class="line">
                                                        <td>
                                                            Long Term Equity
                                                        </td>
                                                        <td class="txt-right">
                                                            &nbsp;
                                                        </td>
                                                        <td class="txt-right">
                                                            &nbsp;
                                                        </td>
                                                        <td class="txt-right">
                                                             &nbsp;
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                                0.71
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            - LHSMART-LTF
                                                        </td>
                                                        <td class="txt-right">
                                                            03/03/2561
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                             &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                            <td>
                                                                - LHSMART-LTF
                                                            </td>
                                                            <td class="txt-right">
                                                                03/03/2561
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                 &nbsp;
                                                            </td>
                                                        </tr>
                                                    <tr class="line">
                                                            <td>
                                                                Long Term Equity
                                                            </td>
                                                            <td class="txt-right">
                                                                &nbsp;
                                                            </td>
                                                            <td class="txt-right">
                                                                &nbsp;
                                                            </td>
                                                            <td class="txt-right">
                                                                 &nbsp;
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                    0.71
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                - LHSMART-LTF
                                                            </td>
                                                            <td class="txt-right">
                                                                03/03/2561
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                 &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr class="line">
                                                                <td>
                                                                    Long Term Equity
                                                                </td>
                                                                <td class="txt-right">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="txt-right">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="txt-right">
                                                                     &nbsp;
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                        0.71
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    - LHSMART-LTF
                                                                </td>
                                                                <td class="txt-right">
                                                                    03/03/2561
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                     &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr class="line">
                                                                    <td>
                                                                        Long Term Equity
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td class="txt-right">
                                                                         &nbsp;
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                            0.71
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        - LHSMART-LTF
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        03/03/2561
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                         &nbsp;
                                                                    </td>
                                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
    
                            </div>
                            <div class="fund-list-wrapper">                                
                                    <div class="title-heading-blue">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <img src="/assets/Images/icons/ico-income.png">
                                            </div>
                                            <div class="col-md-6">
                                                <h3>กำไร/ขาดทุน (บาท)</h3>
                                            </div>
                                            <div class="col-md-5 text-right">
                                                <h1>฿ 669,638.80</h1>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12 mt-3"> <h4>Unrealize Gain/Loss</h4></div>
                                        <div class="col-sm-12"><div [chart]="chart"></div></div>
                                    </div>
                                   
                                    
                               </div> 
                               <div class="col-md-6">                                      
                                </div>
                                </div>
                            
                        </div>
                        </div>
                            </div>
                            


                            


                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>