<app-header></app-header>
<div class="" id="maincontainer-wrapper">
    <div class="page-content-wrapper">
        <div class="mutual-fund-wrapper" *ngIf="page == 'dashboard'">
            <div class="max-width-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-menu-wrapper">
                            <!-- <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                                <li role="presentation" id="menu1" class="current">
                                    <a (click)="checkpage('dashboard')" title="หน้ารวม Port">หน้ารวม Port</a>
                                </li>
                            </ul> -->
                            <div class="dropdown dropdown-content">
                                    <button class="btn-med btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        {{ 'NAVBAR.dashboard' | translate }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a (click)="checkpage('dashboard')" title="{{ 'NAVBAR.dashboard' | translate }}">{{ 'NAVBAR.dashboard' | translate }}</a>
                                        </li>
                                        <!-- <li>
                                            <a (click)="checkpage('over-view')" title="แบบประเมินความเสี่ยงในการลงทุนที่เหมาะสม">แบบประเมินความเสี่ยงในการลงทุนที่เหมาะสม</a>
                                        </li>
                                        <li>
                                            <a (click)="checkpage('change-password')" title="เปลี่ยนรหัสผ่าน">เปลี่ยนรหัสผ่าน</a>
                                        </li>
                                        <li>
                                            <a (click)="checkpage('setting')" title="ตั้งค่า">ตั้งค่า</a>
                                        </li> -->
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                                    <li role="presentation" id="menu1" class="current">
                                      <a title="{{ 'NAVBAR.dashboard' | translate }}" >{{ 'NAVBAR.dashboard' | translate }}</a>
                                    </li>
                                    
                    
                                  </ul>
                        </div>
                        <!-- <app-myport-menu></app-myport-menu> -->

                        <div class="fund-table-wrapper">
                            <div class="heading-section">
                                <div class="detail-head-wrapper" style="border:unset;">
                                <div class="row">
                                    
                                    <div class="col-sm-12 col-md-12 col-xs-12 icon-option mb-3">
                                        <ul class="">
                                            <!-- <li class="ico-fb">
                                                <a href="#" title="facebook">
                                                    <img src="/assets/Images/icons/ico-pipe.png" />
                                                </a>
                                            </li>
                                            <li class="ico-line">
                                                <a href="#" title="line">
                                                    <img src="/assets/Images/icons/ico-download.png" />
                                                </a>
                                            </li> -->
                                            <li class="ico-yt">
                                                <a title="youtube">
                                                    <img src="/assets/Images/icons/ico-print.png" (click)="print()"/>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">

                                        <p>เลขที่ผู้ถือหน่วยลงทุน</p>
                                        <div class="select-wrapper inline-block pb-3">
                                            <select name="ddlLink" id="ddlLink">
                                                <option value="0" selected="">แสดงบัญชีทั้งหมด</option>
                                                <option value="36">9990244757</option>
                                                <option value="29">9990244757</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <p>ชื่อผู้ถือหน่วยลงทุน</p>
                                        <span>เนติวัฒน์ โชติกร</span>
                                    </div>
                                    <div class="col-sm-6 col-md-3">

                                        <p>วันที่ออกรายงาน</p>
                                        <span> {{ dateformat }}</span>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">

                                        <p>ที่อยู่</p>
                                        <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
                                    </div>
                                </div>

                                <div class="fund-list-wrapper">
                                
                                        <div class="title-heading">
                                            <div class="row">
                                                <div class="col-md-1 col-xs-4">
                                                    <img src="/assets/Images/icons/ico-asset.png">
                                                </div>
                                                <div class="col-md-11 col-xs-8">
                                                    <div class="row">
                                                        <div class="col-md-6 text-md-left">
                                                        <h3>มูลค่าทรัพย์สินสุทธ(บาท)</h3>
                                                        </div>
                                                        <div class="col-md-6 text-md-right">
                                                        <h1>฿ 70,474,729.91</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                
                            </div>
                            <div class="row">
                                    <div class="col-sm">
                                        <div class="table-responsive">
                                            <table class="table table-performance">
                                                <thead>
                                                    <tr class="captions">
                                                        <td colspan="11">
                                                            <h3>
                                                                สัดส่วนเงินลงทุน
                                                            </h3>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            Fund Type
                                                        </th>
                                                        <th>
                                                            วันที่
                                                        </th>
                                                        <th>
                                                            หน่วยคงเหลือ
                                                        </th>
                                                        <th>
                                                            มูลค่าต่อหน่วย
                                                        </th>
                                                        <th class="bg-primary">
                                                            Current Amount <br/>(Bath)
                                                        </th>
                                                        <th class="bg-blue">
                                                            Unrealize<br/>(Gain/Loss) (บาท)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr class="line">
                                                        <td>
                                                            Long Term Equity
                                                        </td>
                                                        <td class="txt-right">
                                                            &nbsp;
                                                        </td>
                                                        <td class="txt-right">
                                                            &nbsp;
                                                        </td>
                                                        <td class="txt-right">
                                                             &nbsp;
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                                0.71
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            - LHSMART-LTF
                                                        </td>
                                                        <td class="txt-right">
                                                            03/03/2561
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                            498,756.44
                                                        </td>
                                                        <td class="txt-right">
                                                             &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                            <td>
                                                                - LHSMART-LTF
                                                            </td>
                                                            <td class="txt-right">
                                                                03/03/2561
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                 &nbsp;
                                                            </td>
                                                        </tr>
                                                    <tr class="line">
                                                            <td>
                                                                Long Term Equity
                                                            </td>
                                                            <td class="txt-right">
                                                                &nbsp;
                                                            </td>
                                                            <td class="txt-right">
                                                                &nbsp;
                                                            </td>
                                                            <td class="txt-right">
                                                                 &nbsp;
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                    0.71
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                - LHSMART-LTF
                                                            </td>
                                                            <td class="txt-right">
                                                                03/03/2561
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                498,756.44
                                                            </td>
                                                            <td class="txt-right">
                                                                 &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr class="line">
                                                                <td>
                                                                    Long Term Equity
                                                                </td>
                                                                <td class="txt-right">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="txt-right">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="txt-right">
                                                                     &nbsp;
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                        0.71
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    - LHSMART-LTF
                                                                </td>
                                                                <td class="txt-right">
                                                                    03/03/2561
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                    498,756.44
                                                                </td>
                                                                <td class="txt-right">
                                                                     &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr class="line">
                                                                    <td>
                                                                        Long Term Equity
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td class="txt-right">
                                                                         &nbsp;
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                            0.71
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        - LHSMART-LTF
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        03/03/2561
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                        498,756.44
                                                                    </td>
                                                                    <td class="txt-right">
                                                                         &nbsp;
                                                                    </td>
                                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
    
                            </div>
                            <div class="fund-list-wrapper">                                
                                    <div class="title-heading bg-blue">
                                        <div class="row">
                                            <div class="col-md-1 col-xs-4">
                                                <img src="/assets/Images/icons/ico-income.png">
                                            </div>
                                            <div class="col-md-11 col-xs-8">
                                                    <div class="row">
                                                        <div class="col-md-6 text-md-left">
                                                        <h3>กำไร/ขาดทุน (บาท)</h3>
                                                        </div>
                                                        <div class="col-md-6 text-md-right">
                                                        <h1>฿ 669,638.80</h1>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12 mt-3"> <h4>สัดส่วนการลงทุน (Asset Alloction)</h4></div>
                                        <div class="col-sm-12"><div [chart]="chart"></div></div>
                                    </div>
                                   
                                    
                               </div> 
                               <div class="col-md-6">                                      
                                </div>
                                </div>
                            
                        </div>
                        </div>
                            </div>
                            


                            


                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>