<div class="contact-popup active" *ngIf="page == 'signup1'">
  <div class="popup-content">
    <div class="contact-title">
      <div class="row">
        <div class="col">
          <div class="login-icon">
            <img src="/assets/Images/icons/icon-register.png" />
          </div>
          <p>
            {{ 'LOGIN.register1' | translate }}
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <ul>
            <li class="th" (click)="switchlang('th')" [ngClass]="{'current': langth}">
              <a title="Thai">Thai</a>
            </li>
            <li class="en" (click)="switchlang('en')" [ngClass]="{'current': langen}">
              <a title="Eng">Eng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-lg-3 form-group" [ngClass]="ValidatorDisplayCss('prefix')">
            <p>{{ 'LOGIN.prefix' | translate }}
            </p>
            <div class="input-wrapper">
              <input id="prefix" name="prefix" maxlength="15" type="text" formControlName="prefix" required>
              <div class="form-control-feedback" *ngIf="this.form.controls.prefix.errors && ( this.form.controls.prefix.touched)">
                <p *ngIf="this.form.controls.prefix.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <p *ngIf="this.form.controls.prefix.errors.pattern">ข้อมูลไม่ถูกต้อง</p>

              </div>
            </div>
            <!-- <div class="select-wrapper inline-block">
                    <select name="ddlLink" id="ddlLink" required>
                      <option value="นาย" selected="">นาย</option>
                      <option value="นางสาว">นางสาว</option>
                      <option value="นาง">นาง</option>
                    </select>
                  </div> -->
          </div>
          <div class="col-lg-4 form-group" [ngClass]="ValidatorDisplayCss('firstname')">
            <p>{{ 'LOGIN.firstname' | translate }}
            </p>
            <div class="input-wrapper">
              <input id="firstname" name="firstname" maxlength="50" type="text" formControlName="firstname" required>
              <div class="form-control-feedback" *ngIf="this.form.controls.firstname.errors && ( this.form.controls.firstname.touched)">
                <p *ngIf="this.form.controls.firstname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <p *ngIf="this.form.controls.firstname.errors.pattern">ข้อมูลไม่ถูกต้อง</p>
                <p *ngIf="checkFirstname">รูปแบบของข้อมูลไม่ถูกต้อง</p>
              </div>
            </div>

          </div>
          <div class="col-lg-5 form-group" [ngClass]="ValidatorDisplayCss('lastname')">
            <p>{{ 'LOGIN.lastname' | translate }}
            </p>
            <div class="input-wrapper ">
              <input id="lastname" name="lastname" maxlength="120" type="text" formControlName="lastname" required>
              <div class="form-control-feedback" *ngIf="this.form.controls.lastname.errors && ( this.form.controls.lastname.touched)">
                <p *ngIf="this.form.controls.lastname.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <p *ngIf="this.form.controls.lastname.errors.pattern">ข้อมูลไม่ถูกต้อง</p>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-7 form-group" [ngClass]="ValidatorDisplayCss('IDcard')">
            <p>{{ 'LOGIN.id-password' | translate }}
            </p>
            <div class="input-wrapper ">
              <input id="IDcard" name="IDcard" maxlength="13" type="text" formControlName="IDcard" required>
              <div class="form-control-feedback" *ngIf="this.form.controls.IDcard.errors && ( this.form.controls.IDcard.touched)">
                <p *ngIf="this.form.controls.IDcard.errors.required || this.form.controls.IDcard.errors?.minlength">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <!-- <p *ngIf="this.form.controls.IDcard.errors.pattern">ข้อมูลไม่ถูกต้อง</p> -->
              </div>
            </div>
          </div>
          <div class="col-lg-5 form-group" [ngClass]="ValidatorDisplayCss('tel')">
            <p>{{ 'LOGIN.tel' | translate }}
            </p>
            <div class="input-wrapper ">
              <input id="tel" name="tel" maxlength="10" type="text" formControlName="tel" required (keypress)="numberOnly($event)">
              <div class="form-control-feedback" *ngIf="this.form.controls.tel.errors && ( this.form.controls.tel.touched)">
                <p *ngIf="this.form.controls.tel.errors.required || this.form.controls.tel.errors?.minlength">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <p *ngIf="this.form.controls.tel.errors.pattern">ข้อมูลไม่ถูกต้อง</p>
                <!-- <p *ngIf="this.form.controls.tel.errors?.minlength">ข้อมูลไม่ครบ</p>																							 -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12 form-group" [ngClass]="ValidatorDisplayCss('email')">
            <p>{{ 'LOGIN.email' | translate }}
            </p>
            <div class="input-wrapper ">
              <input id="email" name="email" maxlength="100" type="text" formControlName="email" required>
              <div class="form-control-feedback" *ngIf="this.form.controls.email.errors && ( this.form.controls.email.touched)">
                <p *ngIf="this.form.controls.email.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <p *ngIf="this.form.controls.email.errors.pattern">ข้อมูลไม่ถูกต้อง</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-12 form-group" id="recaptcha2" [ngClass]="ValidatorDisplayCss('recaptcha')">
            <ngx-recaptcha2 [size]="size" [hl]="lang" [theme]="theme" [type]="type" (expire)="handleExpire()" (load)="handleLoad()" (success)="handleSuccess($event)"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            <div class="form-control-feedback" *ngIf="this.form.controls.recaptcha.errors && ( this.form.controls.recaptcha.touched)">
              <p *ngIf="this.form.controls.recaptcha.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
            </div>
          </div>
        </div>

        <!-- <div class="row justify-content-start">
            <div class="col-md-12">
                <div class="custom-radio-login">
                    <input value="101" id="101" name="rad1" type="radio">
                    <label for="101"></label>
                    <span >ยอมรับ</span>
                </div>
            </div>
        </div> -->
        <div class="row">
          <div class="col-md-6">
            <div class="btn-wrapper-left">
              <div class="row">
                <div class="col-xl-6 col-12">
                  <button class="btn-med btn-back-login" (click)="navigate('')">
                    <p>
                      {{ 'BUTTON.back' | translate }}
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="btn-wrapper-right">
              <div class="row justify-content-end">
                <div class="col-md-12">
                  <button class="btn-med btn-confirm-login" (click)="checkpage('signup2')">
                    <p>{{ 'BUTTON.next' | translate }}
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </p>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<div class="contact-popup active" *ngIf="page == 'signup2'">
  <div class="popup-content">
    <div class="contact-title">
      <div class="row">
        <div class="col">
          <div class="login-icon">
            <img src="/assets/Images/icons/icon-register.png" />
          </div>
          <p>
            {{ 'LOGIN.register2' | translate }}
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <ul>
            <li class="th" (click)="switchlang('th')" [ngClass]="{'current': langth}">
              <a title="Thai">Thai</a>
            </li>
            <li class="en" (click)="switchlang('en')" [ngClass]="{'current': langen}">
              <a title="Eng">Eng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form [formGroup]="formstep2">
        <div class="detail-login-wrapper">
          <div class="row">
            <div class="col-sm-12 form-group" [ngClass]="ValidatorDisplayCss2('username')">
              <p>
                <p>{{ 'LOGIN.username' | translate }}
                </p>
                <div class="input-wrapper">
                  <input id="username" name="username" maxlength="15" type="text" formControlName="username">
                  <div class="form-control-feedback" *ngIf="this.formstep2.controls.username.errors && (this.formstep2.controls.username.touched)">
                    <p *ngIf="this.formstep2.controls.username.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                    <p *ngIf="this.formstep2.controls.username.errors.pattern">อย่างน้อย 8 ตัวอักษร รวมทั้งตัวเลข</p>
                    <!-- <p *ngIf="this.formstep2.controls.username.errors?.minlength">อย่างน้อย 8 ตัวอักษร </p> -->
                  </div>
                </div>
            </div>
            <div class="col-sm-12 form-group" [ngClass]="ValidatorDisplayCss2('password')">
              <p>
                <p>{{ 'LOGIN.password' | translate }}
                  <a style="cursor: pointer;">
                    <i class="fa fa-question-circle" aria-hidden="true" placement="top" ngbTooltip="รหัสผ่านอย่างน้อย 8 ตัวอักษร ต้องประกอบด้วยข้อมูลต่อไปนี้ ตัวพิมพ์เล็ก พิมพ์ใหญ่ อักษระพิเศษ รวมทั้งตัวเลข "></i>
                  </a>
                </p>
                <div class="input-wrapper ">
                  <input id="password" name="password" maxlength="15" type="password" formControlName="password">
                  <div class="form-control-feedback" *ngIf="this.formstep2.controls.password.errors && (this.formstep2.controls.password.touched)">
                    <p *ngIf="this.formstep2.controls.password.errors.required ">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                    <p *ngIf="this.formstep2.controls.password.errors.pattern">รหัสผ่านอย่างน้อย 8 ตัวอักษร ต้องประกอบด้วยข้อมูลต่อไปนี้
                      ตัวพิมพ์เล็ก พิมพ์ใหญ่ อักษระพิเศษ รวมทั้งตัวเลข </p>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 form-group" [ngClass]="ValidatorDisplayCss2('repeatPassword')">
              <p>
                <p>{{ 'LOGIN.comfirm-p' | translate }}
                  <a style="cursor: pointer;">
                    <i class="fa fa-question-circle" aria-hidden="true" placement="top" ngbTooltip="รหัสผ่านอย่างน้อย 8 ตัวอักษร ต้องประกอบด้วยข้อมูลต่อไปนี้ ตัวพิมพ์เล็ก พิมพ์ใหญ่ อักษระพิเศษ รวมทั้งตัวเลข "></i>
                  </a>
                </p>
                <div class="input-wrapper ">
                  <input id="repeatPassword" name="repeatPassword" maxlength="15" type="password" formControlName="repeatPassword">
                  <!-- <span *ngIf="cpwd.hasError('invalid')"> Invalid Password </span> -->
                  <div class="form-control-feedback" *ngIf="this.formstep2.controls.repeatPassword.errors && (this.formstep2.controls.repeatPassword.touched)">
                    <p *ngIf="this.formstep2.controls.repeatPassword.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                    <p *ngIf="this.formstep2.controls.repeatPassword.errors.pattern">รหัสผ่านอย่างน้อย 8 ตัวอักษร ต้องประกอบด้วยข้อมูลต่อไปนี้
                      ตัวพิมพ์เล็ก พิมพ์ใหญ่ อักษระพิเศษ รวมทั้งตัวเลข </p>
                    <!-- <p *ngIf="this.formstep2.controls.password.value !== this.formstep2.controls.repeatPassword.value">mismatch</p> -->
                    <p *ngIf="cpwd.hasError('invalid')">รหัสไม่ตรงกัน</p>

                  </div>
                </div>
            </div>
            <!-- <div class="col-sm-12 mt-3">
                  <div class="btn-wrapper-left">
                    <button class="btn-med btn-next-login" (click)="checkpage('signin')">
                      <p class="pl-1 ">ลงทะเบียน
                        <i class="fa fa-angle-right pl-4" aria-hidden="true"></i>
                      </p>
                    </button>
                  </div>
                </div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="btn-wrapper-left">
              <button class="btn-med btn-back-login" (click)="checkpage('signup1')">
                <p>
                  {{ 'BUTTON.back' | translate }}
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </p>
              </button>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="btn-wrapper-left">
              <button class="btn-med btn-next-login" (click)="checkpage('otp')">
                <p>{{ 'BUTTON.signup' | translate }}
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </p>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- </div>
  </div> -->
    <!-- <div class="col-md-6 col-xs-12">
        <div class="contact-title">
            <div class="row ">
              <div class="col-md-10 col-md-offset-8 xs-hide">
                <ul>
                  <li class="th current">
                    <a href="#" title="ไทย">Thai</a>
                  </li>
                  <li class="en">
                    <a href="#" title="Eng">Eng</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contact-form-wrapper">
            <div class="row mt-5">
              <div class="col-md-12 mb-2 mt">
                <h3>ทำความเข้าใจลักษณะสินค้า,</h3>
                <h3>เงื่อนไข,ผลตอบแทน</h3>
                <h3>และความเสี่ยงก่อนตัดสินใจ</h3>
              </div>
              <div class="col-md-12 mt-3">
                <div class="btn-wrapper">
                  <div class="row justify-content-center">
                    <div class="col-md-8 col-xs-6">
                      <button class="btn-med btn-light text-center" (click)="checkpage('signin')">
                      <div class="login-icon ml-md-2 ml-0 mt-1">
                          <img src="/assets/Images/icons/icon-login-white.png" class="visible-lg-block" />
                            <img src="/assets/Images/icons/icon-login-white.png" class="visible-md-block visible-sm-block visible-xs-block" />
                      </div>
                      เข้าสู่ระบบ
                      </button>

                    </div>
                  </div>
                  
                </div>
              </div>

              
            </div>
          </div>
    </div> -->


  </div>
</div>
<div class="contact-popup active" *ngIf="page == 'otp'">

  <div class="popup-content">
    <div class="contact-title">
      <div class="row">
        <div class="col">
          <div class="login-icon">
            <img src="/assets/Images/icons/icon-otp-white.png" />
          </div>
          <p>
            {{ 'LOGIN.otp' | translate }}
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <ul>
            <li class="th" (click)="switchlang('th')" [ngClass]="{'current': langth}">
              <a title="Thai">Thai</a>
            </li>
            <li class="en" (click)="switchlang('en')" [ngClass]="{'current': langen}">
              <a title="Eng">Eng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form [formGroup]="formotp">
        <div class="row">
          <div class="col-sm-12">
            <p> {{ 'LOGIN.otp-send' | translate }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="input-wrapper">
              <input id="tel" name="tel" maxlength="30" type="text" [value]="blind" disabled>
            </div>
          </div>
          <div class="col-md-5">
            <div class="btn-wrapper">
              <button class="btn-med btn-blue" (click)="requestotp()">
                {{ 'BUTTON.otp' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p> {{ 'LOGIN.otp-receive' | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss4('otp')">
            <div class="input-wrapper">
              <input id="otp" name="otp" maxlength="6" type="text" formControlName="otp" (keypress)="numberOnly($event)">
              <div class="form-control-feedback" *ngIf="this.formotp.controls.otp.errors && ( this.formotp.controls.otp.touched)">
                <p *ngIf="this.formotp.controls.otp.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>

              </div>
            </div>
          </div>
        </div>
        <div class="row pb-4">
          <div class="col-md-12">
            <p> {{ 'LOGIN.otp-request' | translate }}</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <div class="btn-wrapper-left">
              <div class="row">
                <div class="col-md-10">
                  <button class="btn-med btn-cancel" (click)="navigate('')">
                    <p>
                      {{ 'BUTTON.cancel' | translate }}
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="btn-wrapper-right">
              <div class="row justify-content-end">
                <div class="col-md-10">

                  <button class="btn-med btn-confirm-login" (click)="checkpage('complete')">
                    <p>{{ 'BUTTON.confirm' | translate }}
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </p>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;" *ngIf="message">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">สมัครสมาชิกล้มเหลว</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ message }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal">
              <p style="margin-top: 7px;">ตกลง
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>