#recaptcha2{
    transform: scale(0.82) !important;
    transform-origin: 0 0 !important;
    margin: 14px 0 !important;
}
.has-danger .form-control-feedback p{
    color: #FF4A4A !important;
    margin:  0;
    
}
.form-group{
    margin: 0;
}