<div id="header">
  <div class="top-menu-wrapper" id="top-menu-wrapper">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6 d-lg-block d-none top-main-nav">
                </div>
                <div class="col-md-6 top-social-nav d-lg-block d-none">
                    <ul class="">
                        <li class="ico-fb">
                            <a href="#" title="บัญชีผู้ใช้">
                               {{ 'HEADER.Account' | translate }} : 
                            </a>
                        </li>
                        <li class="ico-line">
                            <a href="#" title="{{ userdetail.FirstName }}">
                                <img src="./assets/Images/icons/icon-login-white.png" />
                                {{ userdetail.FirstName }}
                                <!-- <img src="./assets/Images/icons/p_dropdown_select.png" /> -->
                            </a>
                        </li>
                        <li class="ico-yt">
                            <a [routerLink]="['/login']" title="ออกจากระบบ">
                                <img src="./assets/Images/icons/ico-forgot.png" />
                                {{ 'HEADER.logout' | translate }}
                            </a>
                        </li>
                        <!-- <li class="ico-ig">
                            <a href="#" title="">
                                <img src="./assets/Images/icons/ico-ig-white.png" />
                            </a>
                        </li> -->
                    </ul>
                    <ul class="sw-lang">
                        <li class="th" (click)="switchlang('th')" [ngClass]="{'current': langth}">
                            <a  title="ไทย">Thai</a>
                        </li>
                        <li class="en" (click)="switchlang('en')" [ngClass]="{'current': !langth}">
                            <a  title="Eng">Eng</a>
                        </li>
                        <!-- <li class="ch">
                            <a href="#" title="Chi">Chi</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
  </div>

  <div class="bottom-menu-wrapper" id="fixed-nav">
      <div class="wrapper">
          <div class="row">
              <div class="col-lg-3 col-4 ">
                  <h1 class="logo">
                      <a href="/">
                            <img src="./assets/Images/logos/logo-m-post.jpg" />
                      </a>
                  </h1>
              </div>

              <div class="col-lg-9 col-8 ">
                  <nav id="main-nav" class="main-nav">
                        <div id="menu" class="main-nav-list d-lg-block d-none">
                            <ul id="bottom-main-nav" >
                                <li id="myport"><a routerLink="/myport" title="My Port">My Port <span class="icon"></span></a></li>
                                <li id="transaction"><a routerLink="/transaction" title="{{ 'HEADER.transaction' | translate }}">{{ 'HEADER.transaction' | translate }}<span class="icon"></span></a></li>
                                <li id="rmf-ltf"><a routerLink="/rmf-ltf" title="RMF/LTF">RMF/LTF<span class="icon"></span></a></li>
                                <li id="report"><a routerLink="/report" title="{{ 'HEADER.report' | translate }}">{{ 'HEADER.report' | translate }}<span class="icon"></span></a></li>
                                <li id="regular-list"><a routerLink="/regular-list" title="{{ 'HEADER.regular' | translate }} ">{{ 'HEADER.regular' | translate }} <span class="icon"></span></a></li>
                                <li id="profile"><a routerLink="/profile" title="{{ 'HEADER.profile' | translate }}">{{ 'HEADER.profile' | translate }} <span class="icon"></span></a></li>
                            </ul>                           
                        </div>
                  </nav>                    
                  <!-- end Nav -->
                  <a id="nav-expander" class="nav-expander fixed">
                    <i class="fa fa-bars" aria-hidden="true" (click)="shownav()"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- header -->
    