<div class="footer_sub">
  <div class="container">
      <div class="row">
          <div class="footer_sub--block">
              <div class="bottom-menu col-sm-12 col-md-6 col-md-push-6">
                  <ul>
                      <li>
                          <a href="/Home/TermAndCondition" title="นโยบายความปลอดภัย">นโยบายความปลอดภัย</a>
                      </li>
                      <!-- -->
                      <li>
                          <a href="/Home/Disclaimer" title="คำสงวนสิทธิ์">คำสงวนสิทธิ์</a>
                      </li>
                  </ul>
              </div>
              <div class="copyright col-sm-12 col-md-6 col-md-pull-6">
                  <p>© สงวนลิขสิทธิ์ 2561. บริษัทหลักทรัพย์จัดการกองทุน แลนด์ แอนด์ เฮ้าส์ จำกัด</p>
              </div>
          </div>
      </div>
  </div>
</div>
