<div class="footer">
        <div class="backtotop" (click)="uptotop()">
                <i class="sprite sprite-p_back_to_top totop"></i>
            </div>
    <div class="footer_sub">
    <div class="container">
        <div class="row">
            <div class="footer_sub--block">
                <div class="copyright mt-4">
                    <h5>ต้องการสอบถามข้อมูล ติดต่อผ่ายทะเบียนกองทุนสำรองเลี้ยงชีพ
                    <span>บลจ.แลนด์ แอนด์ เฮาส์ จำกัด</span>
                    </h5>
                    <p>Tel. 02-286-3484 ต่อ 335 - 336 หรือ E-mail : registrar_pvd@lhfund.co.th</p>
                </div>
                <div class="copyright-footer mb-2">
                    <p >ต้องการสอบถามข้อมูล</p> 
                    <p>ติดต่อผ่ายทะเบียนกองทุนสำรองเลี้ยงชีพ</p>
                    <p><span>บลจ.แลนด์ แอนด์ เฮาส์ จำกัด</span></p>
                    <p>Tel. 02-286-3484 ต่อ 335 - 336 </p>
                    <p>หรือ E-mail : registrar_pvd@lhfund.co.th</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>