<div class="fund-table-wrapper" *ngIf="page == 'purchase'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
              <select id="ddlLink" [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index" >{{ unitholder.Text }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect?.unitholder?.UnitHolderName}}</span>
        </div>
        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect?.address?.ContactAddress}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.purchase' | translate }}</H4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.input-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.payment' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>หักบัญชีธนาคาร</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">{{ 'CONTENT.fund-name' | translate }}</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">
              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="36">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="29">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">{{ 'CONTENT.amount' | translate }}</span>
          </div>

          <div class="col-md-3 col-6">
            <div class="input-wrapper ">
              <input id="name" name="name" maxlength="30" type="text" class="bg-gray" value="80,000">
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="" disabled>กรุณาเลือก</option>
                <option value="บาท">บาท</option>
                <option value="หน่วย">หน่วย</option>
                <option value="ทั้งหมด">ทั้งหมด</option>
              </select>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">{{ 'CONTENT.debit-from-acc' | translate }}</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="36">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="29">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">{{ 'CONTENT.Advance-s-date' | translate }}</span>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="input-wrapper">
              <input class=" textinput dateinput bg-gray" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" id="startDate" placeholder="วว/ดด/ปปปป"
                name="date" type="text" (click)="d.toggle()">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3 col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-step1')">
              {{ 'BUTTON.ok' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-cancel" (click)="checkpage('signup1')">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-footer-wrapper">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>{{ 'CONTENT.sub-order' | translate }}
          <br class="d-block d-sm-none" />
          <label>{{ 'CONTENT.order-to-be' | translate }}</label>
        </h4>
      </div>
      <div class="col-md-6 text-md-right">
        <i class="fa fa-angle-right mr-1" aria-hidden="true"></i>
        <label>{{ 'CONTENT.view-all' | translate }}</label>
      </div>
      <div class="col-md-12 mt-2">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th>
                  กองทุน
                </th>
                <th>
                  วิธีชำระเงิน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  วันและเวลาที่ทำรายการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <th>
                  แก้ไข
                </th>
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td class="text-right">
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a>
                    <img src="/assets/Images/icons/ico-delete.png" alt="" data-toggle="modal" data-target="#disclaimer">
                  </a>
                </td>

              </tr>
              <tr>
                <td class="text-left">
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td class="text-right">
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a>
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a>
                    <img src="/assets/Images/icons/ico-delete.png" alt="" data-toggle="modal" data-target="#disclaimer">
                  </a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- purchase -->
<div class="fund-table-wrapper" *ngIf="page == 'purchase-step1'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <span class="txt-middle">{{ userselect?.unitholder?.UnitHolderNo}}</span>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect?.unitholder?.UnitHolderName}}</span>
        </div>
        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect?.address?.ContactAddress1}}  {{ userselect?.address?.ContactAddress2}} {{ userselect?.address?.ContactProvince}} {{ userselect?.address?.ContactZipCode}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.purchase' | translate }}</H4>
        <span class="color-red">(ตรวจสอบรายละเอียดก่อนกดยืนยัน)</span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.input-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.payment' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>หักบัญชีธนาคาร</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>KFCASH - กองทุนเปิดกรุงศรีตราสารเงิน</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>80,000 บาท</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.debit-from-acc' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>ธนคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.Advance-s-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-step2')">
              {{ 'BUTTON.confirm' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-back-login" (click)="checkpage('purchase-over-view')">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
      <div class="col-md-12 mt-5">
        <p class="color-red no-margin">- ข้าพเจ้าตกลงซื้อหน่วยลงทุนตามที่ระบุไว้ในคำสั่งซื้อนี้</p>
        <p class="color-red no-margin">- ข้าพเจ้ารับทราบว่าการสั่งซื้อหน่วยลงทุนทางระบบ internet นี้อาจไม่ได้รับการทำรายการ หากมีความขัดข้องทางเทคนิคเกิดขึ้น</p>
        <p class="color-red no-margin">- ทั้งนี้ข้าพเจ้ายินยอมที่จะเสียค่าธรรมเนียมในการสั่งซื้อ และปฏิบัติตามข้อกำหนด และเงื่อนไขทั้งหมดที่ระบุไว้ในหนังสือชี้ชวนเสนอขายหน่วยลงทุนทุกประการ</p>
        <h5 class=" no-margin" style="color: #C90A11;">- ในกรณีที่คำสั่งซื้อนี้ถูกปฏิเสธข้าพเจ้าตกลงที่จะรับเงินที่ได้ชำระแล้วคืนโดยไม่มีดอกเบี้ย</h5>
        <p class="color-red no-margin">- การลงทุนในหน่วยลงทุนมิใช่การฝากเงินและมีความเสี่ยงของการลงทุน ผู้ถือหน่วยลงทุนอาจได้รับเงินลงทุนคืนมากกว่าหรือน้อยกว่าเงินลงทุน</p>
        <p class="color-red no-margin">- เริ่มแรกก็ได้ และอาจไม่ได้รับชำระเงินค่าขายคืนหน่วยลงทุนภายในระยะเวลา ที่กำหนดหรืออาจไม่สามารถขายคืนหน่วยลงทุนได้ตามที่มีคำสั่งไว้</p>
      </div>
    </div>
  </div>
</div>
<!-- purchase-step1 -->
<div class="fund-table-wrapper" *ngIf="page == 'purchase-step2'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <span class="txt-middle">{{ userselect?.unitholder?.UnitHolderNo}}</span>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect?.unitholder?.UnitHolderName}}</span>
        </div>
        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect?.address?.ContactAddress1}}  {{ userselect?.address?.ContactAddress2}} {{ userselect?.address?.ContactProvince}} {{ userselect?.address?.ContactZipCode}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12 mb-3">
        <H4 class="text-left">{{ 'CONTENT.purchase' | translate }} </H4>
        <span class="color-red">(พิมพ์ใบยืนยันการทำรายการนี้เก็บไว้)</span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.input-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.payment' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>หักบัญชีธนาคาร</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>KFCASH - กองทุนเปิดกรุงศรีตราสารเงิน</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>80,000 บาท</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.debit-from-acc' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>ธนคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.Advance-s-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-step2')">
              {{ 'BUTTON.print' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-blue" (click)="checkpage('purchase-view-list')">
              {{ 'BUTTON.view-list' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
      <div class="col-md-12 mt-5">
        <p class="color-red no-margin">การยืนยันรายการนี้ยังไม่ถือว่ารายสั่งซื้อหน่วยลงทุนสมบูรณ์ ในกรณีที่ท่านยังมิได้ขอออกสมุดบัญชีแสดงสิทธิในหน่วยลงทุน
          นายทะเบียนจะจัดส่งหนังสือรับรองสิทธิในหน่วยลงทุนให้แก่ท่าน
        </p>
        <p class="color-red no-margin">เมื่อรายการนี้ได้ทำเสร็จสมบูรณ์ ภายใน 2 วันทำการ</p>
      </div>
    </div>
  </div>
</div>
<!-- purchase-step2 -->
<div class="fund-table-wrapper" *ngIf="page == 'purchase-view-list'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>

          <div class="select-wrapper inline-block">
            <select name="ddlLink"  [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholder; let i = index" >{{ unitholder.Text }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect?.unitholder?.UnitHolderName}}</span>
        </div>
        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect?.address?.ContactAddress1}}  {{ userselect?.address?.ContactAddress2}} {{ userselect?.address?.ContactProvince}} {{ userselect?.address?.ContactZipCode}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12 mb-3">
        <H4 class="text-left" style="display: unset;">{{ 'CONTENT.sub-all-order' | translate }}</H4>
        <p style="display: unset;">{{ 'CONTENT.order-to-be' | translate }}</p>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th>
                  กองทุน
                </th>
                <th>
                  วิธีชำระเงิน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  วันและเวลาที่ทำการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <th>
                  แก้ไข
                </th>
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

      <div class="col-md-4 offset-md-8 no-padding">
        <div class="list-pagination">
          <div class="holder">
            <!-- <a class="jp-first jp-disabled">First</a> -->
            <a class="jp-previous jp-disabled">previous</a>
            <a class="jp-current">1</a>
            <!-- <span class="jp-hidden">...</span> -->
            <a class="">2</a>
            <a class="">3</a>
            <a class="jp-next">next</a>
            <!-- <a class="jp-last">Last</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- purchase-view-list -->
<!-- <p-dialog [(visible)]="dialog" [modal]="true" [responsive]="true" [width]="auto" [minWidth]="200" [draggable]="false" [resizable]="false"
  [baseZIndex]="10000">
  <p-header>
    ยืนยันการทำรายการซื้อ
  </p-header>


  <h3>{{ content }}</h3>



  <p-footer>
    <div class="row justify-content-center">
      <div class="col-6 col-md-4">
        <button class="btn-med btn-primary" (click)="dialog=false" routerLink="/profile/suitability">
          <p style="margin-top: 7px;">ตกลง
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </p>
        </button>
      </div>
      <div class="col-6 col-md-4">
        <button class="btn-med btn-cancel" (click)="checkpage('purchase')">
          <p style="margin-top: 7px;">ยกเลิก
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </p>
        </button>
      </div>
    </div>
  </p-footer>
</p-dialog> -->
<!-- dialog -->