<div class="fund-table-wrapper" *ngIf="page == 'purchase'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>

          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-md-6">
            <p>{{ 'CONTENT.address' | translate }}</p>
          <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
          </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">ซื้อหน่วยลงทุน</H4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>วันที่ทำรายการ</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>เลือกวิธีชำระเงิน</p>
          </div>
          <div class="col-md-6">
            <span>หักบัญชีธนาคาร</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>กองทุน</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">
              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="36">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="29">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <span>จำนวน</span>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="input-wrapper ">
              <input id="name" name="name" maxlength="30" type="text" class="bg-gray" value="80,000">
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="select-wrapper inline-block">

                <select name="ddlLink" id="ddlLink">
                    <option value="0" selected="" disabled>กรุณาเลือก</option>
                    <option value="บาท">บาท</option>
                    <option value="หน่วย">หน่วย</option>
                    <option value="ทั้งหมด">ทั้งหมด</option>
                  </select>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <span>หักบัญชีธนาคาร</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="36">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="29">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <span>วันที่ทำรายการซื้อล่วงหน้า</span>
          </div>
          <div class="col-md-3">
            <div class="input-wrapper">
              <input class=" textinput dateinput bg-gray" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" id="startDate" placeholder="วว/ดด/ปปปป" name="date" type="text" (click)="d.toggle()">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3 col-xs-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-step1')">
              ตกลง
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6">
            <button class="btn-med btn-cancel" (click)="checkpage('signup1')">
              ยกเลิก
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-footer-wrapper">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>รายการซื้อหน่วยลงทุน <br class="d-block d-sm-none"/><label>(รายการที่รอดำเนินการ)</label></h4>
      </div>
      <div class="col-md-6 text-md-right">
        <i class="fa fa-angle-right mr-1" aria-hidden="true"></i><label>ดูรายการทั้งหมด</label>
      </div>
      <div class="col-md-12 mt-2">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th>
                  กองทุน
                </th>
                <th>
                  วิธีชำระเงิน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  วันและเวลาที่ทำรายการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <th>
                  แก้ไข
                </th>
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td class="text-right">
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a>
                    <img src="/assets/Images/icons/ico-delete.png" alt="" data-toggle="modal" data-target="#disclaimer">
                  </a>
                </td>

              </tr>
              <tr>
                <td class="text-left">
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td class="text-right">
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a>
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a>
                    <img src="/assets/Images/icons/ico-delete.png" alt="" data-toggle="modal" data-target="#disclaimer">
                  </a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fund-table-wrapper" *ngIf="page == 'purchase-step1'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">
          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <span>9990244757</span>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-md-6">
            <p>ที่อยู่</p>
          <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
          </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">ซื้อหน่วยลงทุน</H4>
        <span class="color-red">(ตรวจสอบรายละเอียดก่อนกดยืนยัน)</span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>วันที่ทำรายการ</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>เลือกวิธีชำระเงิน</p>
          </div>
          <div class="col-md-6">
            <span>หักบัญชีธนาคาร</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>กองทุน</p>
          </div>
          <div class="col-md-6">
            <span>KFCASH - กองทุนเปิดกรุงศรีตราสารเงิน</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>จำนวน</p>
          </div>
          <div class="col-md-6">
            <span>80,000 บาท</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>หักบัญชีธนาคาร</p>
          </div>
          <div class="col-md-6">
            <span>ธนคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>วันที่รายการมีผล</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-step2')">
              ยืนยัน
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6">
            <button class="btn-med btn-back-login" (click)="checkpage('purchase-over-view')">
              ย้อนกลับ
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
      <div class="col-md-12 mt-5">
        <p class="color-red no-margin">- ข้าพเจ้าตกลงซื้อหน่วยลงทุนตามที่ระบุไว้ในคำสั่งซื้อนี้</p>
        <p class="color-red no-margin">- ข้าพเจ้ารับทราบว่าการสั่งซื้อหน่วยลงทุนทางระบบ internet นี้อาจไม่ได้รับการทำรายการ หากมีความขัดข้องทางเทคนิคเกิดขึ้น</p>
        <p class="color-red no-margin">- ทั้งนี้ข้าพเจ้ายินยอมที่จะเสียค่าธรรมเนียมในการสั่งซื้อ และปฏิบัติตามข้อกำหนด และเงื่อนไขทั้งหมดที่ระบุไว้ในหนังสือชี้ชวนเสนอขายหน่วยลงทุนทุกประการ</p>
        <h5 class=" no-margin" style="color: #C90A11;">- ในกรณีที่คำสั่งซื้อนี้ถูกปฏิเสธข้าพเจ้าตกลงที่จะรับเงินที่ได้ชำระแล้วคืนโดยไม่มีดอกเบี้ย</h5>
        <p class="color-red no-margin">- การลงทุนในหน่วยลงทุนมิใช่การฝากเงินและมีความเสี่ยงของการลงทุน ผู้ถือหน่วยลงทุนอาจได้รับเงินลงทุนคืนมากกว่าหรือน้อยกว่าเงินลงทุน</p>
        <p class="color-red no-margin">- เริ่มแรกก็ได้ และอาจไม่ได้รับชำระเงินค่าขายคืนหน่วยลงทุนภายในระยะเวลา ที่กำหนดหรืออาจไม่สามารถขายคืนหน่วยลงทุนได้ตามที่มีคำสั่งไว้</p>
      </div>
    </div>
  </div>
</div>
<div class="fund-table-wrapper" *ngIf="page == 'purchase-step2'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">
          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <span>9990244757</span>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-md-6">
            <p>ที่อยู่</p>
          <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
          </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12 mb-3">
        <H4 class="text-left">ซื้อหน่วยลงทุน </H4>
        <span class="color-red">(พิมพ์ใบยืนยันการทำรายการนี้เก็บไว้)</span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>วันที่ทำรายการ</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>เลือกวิธีชำระเงิน</p>
          </div>
          <div class="col-md-6">
            <span>หักบัญชีธนาคาร</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>กองทุน</p>
          </div>
          <div class="col-md-6">
            <span>KFCASH - กองทุนเปิดกรุงศรีตราสารเงิน</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>จำนวน</p>
          </div>
          <div class="col-md-6">
            <span>80,000 บาท</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>หักบัญชีธนาคาร</p>
          </div>
          <div class="col-md-6">
            <span>ธนคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>วันที่ทำรายการซื้อล่วงหน้า</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-step2')">
              พิมพ์
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6">
            <button class="btn-med btn-blue" (click)="checkpage('purchase-view-list')">
              ดูรายการ
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
      <div class="col-md-12 mt-5">
        <p class="color-red no-margin">การยืนยันรายการนี้ยังไม่ถือว่ารายสั่งซื้อหน่วยลงทุนสมบูรณ์ ในกรณีที่ท่านยังมิได้ขอออกสมุดบัญชีแสดงสิทธิในหน่วยลงทุน
          นายทะเบียนจะจัดส่งหนังสือรับรองสิทธิในหน่วยลงทุนให้แก่ท่าน
        </p>
        <p class="color-red no-margin">เมื่อรายการนี้ได้ทำเสร็จสมบูรณ์ ภายใน 2 วันทำการ</p>
      </div>
    </div>
  </div>
</div>
<div class="fund-table-wrapper" *ngIf="page == 'purchase-view-list'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>

          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-md-6">
            <p>ที่อยู่</p>
          <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
          </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12 mb-3">
        <H4 class="text-left" style="display: unset;">รายการซื้อหน่วยลงทุนทั้งหมด </H4>
        <p style="display: unset;">(รายการที่รอดำเนินการ)</p>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th>
                  กองทุน
                </th>
                <th>
                  วิธีชำระเงิน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  วันและเวลาที่ทำการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <th>
                  แก้ไข
                </th>
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

      <div class="col-md-4 offset-md-8 no-padding">
        <div class="list-pagination">
          <div class="holder">
            <!-- <a class="jp-first jp-disabled">First</a> -->
            <a class="jp-previous jp-disabled">previous</a>
            <a class="jp-current">1</a>
            <!-- <span class="jp-hidden">...</span> -->
            <a class="">2</a>
            <a class="">3</a>
            <a class="jp-next">next</a>
            <!-- <a class="jp-last">Last</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog  [(visible)]="dialog" [modal]="true" [responsive]="true" [width]="auto" [minWidth]="200" [draggable]="false" [resizable]="false"
         [baseZIndex]="10000">		
		 	<p-header>
				ยืนยันการทำรายการซื้อ
			</p-header>
				

				<h3>{{ content }}</h3>
				
					
				
        <p-footer>
				
						<!-- <button type="button" class="btn-med btn-secondary" data-dismiss="modal">Cancel</button> -->
						<!-- <button type="button" class="btn-med btn-primary" data-dismiss="modal" (click)="checkpage('signin')">ยอมรับ</button> -->
						<div class="row justify-content-center">
							<div class="col-xs-6 col-md-4">
								<button class="btn-med btn-primary" (click)="dialog=false" routerLink="/profile/suitability">
									<p style="margin-top: 7px;">ตกลง
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</p>
								</button>
              </div>
              <div class="col-xs-6 col-md-4">
								<button class="btn-med btn-cancel" (click)="checkpage('purchase')">
									<p style="margin-top: 7px;">ยกเลิก
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</p>
								</button>
							</div>
						</div>
					
            <!-- <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button> -->
        </p-footer>
</p-dialog>