<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-6 pull-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="custom-radio-between">
              <input value="101" id="101" name="rad1" type="radio" checked>
              <label for="101"></label>
              <p>หนังสือรับรองฯ LTF</p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>ปี</p>
              </div>
              <div class="col-md-12">
                <div class="select-wrapper inline-block">
                  <select name="ddlLink" id="ddlLink">
                    <option value="0" selected="">2561</option>
                    <option value="36">2560</option>
                    <option value="29">2559</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 offset-6 mb-md-0 mb-3">
                <button class="btn-med btn-primary">
                  ตกลง
                  <i class="fa fa-angle-right" aria-hidden="true"></i>

                </button>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="custom-radio-between">
              <input value="102" id="102" name="rad1" type="radio">
              <label for="102"></label>
              <p>หนังสือรับรองฯ ขายคืน LTF</p>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
  <div class="detail-footer-wrapper">
    <div class="sidenav-left">
      <div class="vertical-menu-wrapper">
        <h3>
          หนังสือรับรองฯ LTF
        </h3>
        <ul>
          <li>
            <div class="row">
              <div class="col-md-10 col-xs-9">
                <a href="#" title="ชื่อเมนู">
                  (ชื่อ) หนังสือรับรองฯ LTF
                </a>
              </div>
              <div class="col-md-2 col-xs-3">
                <button class="btn-sm btn-download width50 ">
                  <p>Download</p>
                  <img src="/assets/Images/icons/ico-download-white.png">
                </button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-10 col-xs-9">
                <a href="#" title="ชื่อเมนู">
                  (ชื่อ) หนังสือรับรองฯ LTF
                </a>
              </div>
              <div class="col-md-2 col-xs-3">
                <button class="btn-sm btn-download width50 ">
                  <p>Download</p>
                  <img src="/assets/Images/icons/ico-download-white.png">
                </button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-10 col-xs-9">
                <a href="#" title="ชื่อเมนู">
                  (ชื่อ) หนังสือรับรองฯ LTF
                </a>
              </div>
              <div class="col-md-2 col-xs-3">
                <button class="btn-sm btn-download width50 ">
                  <p>Download</p>
                  <img src="/assets/Images/icons/ico-download-white.png">
                </button>
              </div>
            </div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
