<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="ddlLink">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderList; let i = index">{{ unitholder.Text
                }}</option>
            </select>
          </div>
        </div>
        
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle" *ngIf="userselect.UnitholderInfo">{{ userselect?.UnitholderInfo?.UnitHolderName}}</span>
          <span class="txt-middle">{{ userselect?.unitholder?.UnitHolderName}}</span>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle" *ngIf="userselect.Address">{{ userselect?.Address?.ContactAddress}}</span>
          <span class="txt-middle">{{ userselect?.address?.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-6 pull-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="custom-radio-between">
              <input value="101" id="101" name="rad1" type="radio" checked>
              <label for="101"></label>
              <p>{{ 'CONTENT.r-i-cer' | translate }}</p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{ 'CONTENT.year' | translate }}</p>
              </div>
              <div class="col-md-12">
                <div class="select-wrapper inline-block">
                  <select name="ddlLink" id="ddlLink">
                    <option value="0" selected="">2561</option>
                    <option value="36">2560</option>
                    <option value="29">2559</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 offset-6 mb-md-0 mb-3">
                <button class="btn-med btn-primary">
                  {{ 'BUTTON.ok' | translate }}
                  <i class="fa fa-angle-right" aria-hidden="true"></i>

                </button>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="custom-radio-between">
              <input value="102" id="102" name="rad1" type="radio">
              <label for="102"></label>
              <p>{{ 'CONTENT.r-r-cer' | translate }}</p>
            </div>
          </div>

          <!-- <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <p>ปี</p>
              </div>
              <div class="col-md-12">
                <div class="select-wrapper inline-block">
                  <select name="ddlLink" id="ddlLink">
                    <option value="0" selected="">2561</option>
                    <option value="36">2560</option>
                    <option value="29">2559</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 offset-6">
                <button class="btn-med btn-primary" (click)="checkpage('signup1')">
                  ตกลง
                  <i class="fa fa-angle-right" aria-hidden="true"></i>

                </button>
              </div>
            </div>

          </div> -->


        </div>
      </div>
    </div>


  </div>
  <div class="detail-footer-wrapper">
    <div class="sidenav-left">
      <div class="vertical-menu-wrapper">
        <h3>
          {{ 'CONTENT.r-i-cer' | translate }}
        </h3>
        <ul>
          <li>
            <div class="row">
              <div class="col-md-10 col-9">
                <a href="#" title="ชื่อเมนู">
                  (ชื่อ) หนังสือรับรองฯ RMF
                </a>
              </div>
              <div class="col-md-2 col-3">
                <button class="btn-sm btn-download width50 ">
                  <p>Download</p>
                  <img src="/assets/Images/icons/ico-download-white.png">
                </button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-10 col-9">
                <a href="#" title="ชื่อเมนู">
                  (ชื่อ) หนังสือรับรองฯ RMF
                </a>
              </div>
              <div class="col-md-2 col-3">
                <button class="btn-sm btn-download width50 ">
                  <p>Download</p>
                  <img src="/assets/Images/icons/ico-download-white.png">
                </button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-10 col-9">
                <a href="#" title="ชื่อเมนู">
                  (ชื่อ) หนังสือรับรองฯ RMF
                </a>
              </div>
              <div class="col-md-2 col-3">
                <button class="btn-sm btn-download width50 ">
                  <p>Download</p>
                  <img src="/assets/Images/icons/ico-download-white.png">
                </button>
              </div>
            </div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- Nav tabs For Mobile -->
      <!-- <div class="dropdown dropdown-content">
        <button class="btn-med btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          ข้อมูลเบื้องต้น
        </button>
        <ul class="dropdown-menu">
          <li class="current">
            <a href="#" title="ชื่อเมนู">กองทุนส่วนบุคคลคือ?
            </a>
          </li>
          <li>
            <a href="#" title="ชื่อเมนู">จุดเด่นของการลงทุน
            </a>

          </li>
          <li>
            <a href="#" title="ชื่อเมนู">เกี่ยวกับ LH Fund
            </a>
          </li>
          <li>
            <a href="#" title="ชื่อเมนู">นโยบายการลงทุน
            </a>
          </li>
          <li>
            <a href="#" title="ชื่อเมนู">สิ่งที่ควนพิจารณา
            </a>
          </li>
        </ul>
      </div> -->
    </div>

    <!-- <div class="row">
          <div class="col-md-6 text-left">
           <h4>รายการซื้อหน่วยลงทุน</h4> (รายการที่รอดำเนินการ)
            
          </div>
          <div class="col-md-6 text-right">
              
                    <i class="fa fa-angle-right" aria-hidden="true"></i>ดูรายการทั้งหมด
            </div>
            <div class="col-md-12 mt-5 text-center">
              ไม่มีรายการที่รอดำเนินงาน
            </div>
        </div> -->
  </div>
</div>