<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-6 pull-md-6">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="custom-radio-between">
              <input value="101" id="101" name="rad1" type="radio" checked>
              <label for="101"></label>
              <p>{{ 'CONTENT.r-i-cer' | translate }}</p>
            </div> -->
            <div class="row">
              <div class="col-md-2">
                <p>{{ 'CONTENT.year' | translate }}</p>
              </div>
              <div class="col-md-6">
                <div class="select-wrapper inline-block">
                  <select [(ngModel)]="years" name="years" id="years">
                    <option [ngValue]="years" *ngFor="let years of yearlist; let i = index">{{ years | yearthai }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-6 offset-6 offset-md-0">
                <button class="btn-med btn-primary" [disabled]="loading" (click)="OnSubmit()">
                  {{ 'BUTTON.ok' | translate }}
                  <i class="fa fa-angle-right" aria-hidden="true"></i>

                </button>
              </div>
            </div>

          </div>
          <!-- <div class="col-md-6">
            <div class="custom-radio-between">
              <input value="102" id="102" name="rad1" type="radio">
              <label for="102"></label>
              <p>{{ 'CONTENT.r-r-cer' | translate }}</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>


  </div>
  <div class="detail-footer-wrapper">
    <div class="sidenav-left">
      <div class="vertical-menu-wrapper">
        <h3>
          {{ 'CONTENT.r-i-cer' | translate }}
        </h3>
        <ul>
          <li *ngFor="let list of rmffilelist?.filenamelist; let i = index">
            <div class="row">
              <div class="col-md-10 col-9">
                <a title="{{list}}">
                  {{list}}
                </a>
              </div>
              <div class="col-md-2 col-3">
                <button class="btn-sm btn-download width50 " [disabled]="loading" (click)="download(i)">
                  <p>Download</p>
                  <img src="/assets/Images/icons/ico-download-white.png">
                </button>
              </div>
            </div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ดาวน์โหลดล้มเหลว</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>ไฟล์ไม่พร้อมใช้งาน</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal">
              <p style="margin-top: 7px;">ตกลง
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message2" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">แจ้งเตือน</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>ไม่พบหนังสือรับรองฯ RMF</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal">
              <p style="margin-top: 7px;">ตกลง
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>