<div class="fund-table-wrapper" *ngIf="page == 'purchase-for-sell'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>

          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">รายการซื้อเพื่อขาย</H4>
        <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>วันที่ทำรายการ</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>กองทุนต้นทาง</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="36">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="29">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  ยอดคงเหลือ (หน่วย)
                </th>
                <th class="bg-primary">
                  ยอดคงเหลือ (บาท)
                </th>
                <th class="bg-darkbrown">
                  วันที่มีผล
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">74.39
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(ณ วันที่ผ่านมา)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">N/A
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(หลังหักรายการวันนี้)</a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <span>ซื้อเพื่อขายจำนวน</span>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="input-wrapper ">
              <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="0">
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">บาท</option>
                <option value="36">เยน</option>
                <option value="29">ดอลล่า</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>กองทุนปลายทาง</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="36">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="29">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <span>วันที่ทำรายการซื้อเพื่อขายล่วงหน้า</span>
          </div>
          <div class="col-md-3">

            <div class="input-wrapper">
              <input class="form-control textinput dateinput bg-gray" id="startDate" placeholder="วว/ดด/ปปปป" name="date" type="text">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-for-sell-step1')">
              ตกลง
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6">
            <button class="btn-med btn-cancel" (click)="checkpage('purchase-for-sell')">
              ยกเลิก
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>


      </div>


    </div>

  </div>
  <div class="detail-footer-wrapper">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>รายการซื้อเพื่อขายหน่วยลงทุน <br class="d-block d-sm-none"/><span>(รายการที่รอดำเนินการ)</span></h4>
      </div>
      <div class="col-md-6 text-md-right">
        <i class="fa fa-angle-right mr-1" aria-hidden="true"></i><span>ดูรายการทั้งหมด</span>
      </div>
      <div class="col-md-12 mt-5 text-center">
        <p>ไม่มีรายการที่รอดำเนินงาน</p>
      </div>
    </div>
  </div>
</div>
<div class="fund-table-wrapper" *ngIf="page == 'purchase-for-sell-step1'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">
          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <span>9990244757</span>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">รายการซื้อเพื่อขาย</H4>
        <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>วันที่ทำรายการ</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>กองทุนต้นทาง</p>
          </div>
          <div class="col-md-6">
            <span>KFCRASH - กองทุนกรุงศรีตราสารเงิน</span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  ยอดคงเหลือ (หน่วย)
                </th>
                <th class="bg-primary">
                  ยอดคงเหลือ (บาท)
                </th>
                <th class="bg-darkbrown">
                  วันที่มีผล
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">74.39
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(ณ วันที่ผ่านมา)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">N/A
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(หลังหักรายการวันนี้)</a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>ซื้อเพื่อขายจำนวน</p>
          </div>
          <div class="col-md-6">
            <span>30 หน่วย</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>กองทุนปลายทาง</p>
          </div>
          <div class="col-md-6">
            <span>ธนคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>วันที่รายการมีผล</p>
          </div>
          <div class="col-md-3">
            <span>10 มิถุนายน 2561</span>

          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3 col-xs-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('purchase-for-sell-step2')">
              ยืนยัน
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6 ">
            <button class="btn-med btn-back-login" (click)="checkpage('purchase-for-sell-step1')">
              ย้อนกลับ
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="fund-table-wrapper" *ngIf="page == 'purchase-for-sell-step2'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">
          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <span>9990244757</span>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">รายการซื้อเพื่อขาย</H4>
        <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>วันที่ทำรายการ</p>
          </div>
          <div class="col-md-6">
            <span>7 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>กองทุนต้นทาง</p>
          </div>
          <div class="col-md-6">
            <span>KFCRASH - กองทุนกรุงศรีตราสารเงิน</span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  ยอดคงเหลือ (หน่วย)
                </th>
                <th class="bg-primary">
                  ยอดคงเหลือ (บาท)
                </th>
                <th class="bg-darkbrown">
                  วันที่มีผล
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">74.39
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(ณ วันที่ผ่านมา)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">N/A
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(หลังหักรายการวันนี้)</a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>ซื้อเพื่อขายจำนวน</p>
          </div>
          <div class="col-md-6">
            <span>30 หน่วย</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>กองทุนปลายทาง</p>
          </div>
          <div class="col-md-6">
            <span>ธนคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>วันทำรายการซื้อเพื่อขายล่วงหน้า</p>
          </div>
          <div class="col-md-3">
            <span>10 มิถุนายน 2561</span>

          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3 col-xs-6  offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('sell-step2')">
              พิมพ์
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6 ">
            <button class="btn-med btn-blue" (click)="checkpage('purchase-for-sell-view-list')">
              ดูรายการ
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <span class="color-red no-margin">การยืนยันรายการนี้ยังไม่ถือว่ารายการขายหน่วยลงทุนสมบูรณ์ ในกรณีที่ท่านยังมิได้ขอออกสมุดบัญชีแสดงสิทธิในหน่วยลงทุน
          นายทะเบียนจะจัดส่งหนังสือรับรองสิทธิในหน่วยลงทุนให้แก่ท่าน
        </span>
        <span class="color-red no-margin">เมื่อรายการนี้ได้ทำเสร็จสมบูรณ์ ภายใน 2 วันทำการ</span>
      </div>
    </div>

  </div>
</div>
<div class="fund-table-wrapper" *ngIf="page == 'purchase-for-sell-view-list'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>

          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12 mb-3">
        <H4 class="text-left" style="display: unset;">รายการซื้อเพื่อขายหน่วยลงทุนทั้งหมด </H4>
        <p style="display: unset;">(รายการที่รอดำเนินการ)</p>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th>
                  กองทุน
                </th>
                <th>
                  วิธีชำระเงิน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  วันและเวลาที่ทำการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <th>
                  แก้ไข
                </th>
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

      <div class="col-md-4 offset-md-8 no-padding">
        <div class="list-pagination">
          <div class="holder">
            <!-- <a class="jp-first jp-disabled">First</a> -->
            <a class="jp-previous jp-disabled">previous</a>
            <a class="jp-current">1</a>
            <!-- <span class="jp-hidden">...</span> -->
            <a class="">2</a>
            <a class="">3</a>
            <a class="jp-next">next</a>
            <!-- <a class="jp-last">Last</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
