<style>
  tbody tr.bgforlhfund:nth-child(even) {
    background: #fafafa
  }

  /* tbody tr.bgforlhfund:nth-child(odd) {background: #FFF} */
</style>
<div class="fund-table-wrapper" *ngIf="page == 'exchange'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <form [formGroup]="formexchange">
      <div class="row">
        <div class="col-md-12">
          <H4 class="text-left">{{ 'CONTENT.switching' | translate }}</H4>
          <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <p>{{ 'CONTENT.input-date' | translate }}</p>
            </div>
            <div class="col-md-6">
              <span>{{ currentdate }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.fund-name-r' | translate }}</p>
            </div>
            <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('fundsource')">
              <div class="select-wrapper inline-block">
                <select id="fundsource" name="fundsource" formControlName="fundsource" (change)="fundlistonChange()">
                  <option value="" disabled>กรุณาเลือก</option>
                  <option [ngValue]="holdingbalancelist" *ngFor="let holdingbalancelist of unitholderswitching.holdingbalance; let i = index">
                    {{ holdingbalancelist.FundName }} ({{ holdingbalancelist.FundCode }})
                  </option>
                </select>
                <div class="form-control-feedback" *ngIf="this.formexchange.controls.fundsource.errors && (this.formexchange.controls.fundsource.touched)">
                  <p *ngIf="this.formexchange.controls.fundsource.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="table-responsive">
            <table class="table table-custom">
              <thead>
                <tr>
                  <th class="bg-blue">
                    ยอดคงเหลือ (หน่วย)
                  </th>
                  <th class="bg-primary">
                    ยอดคงเหลือ (บาท)
                  </th>
                  <th class="bg-darkbrown">
                    วันที่มีผล
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="funddestinationlist">
                <tr>
                  <td>
                    <a>{{funddestinationlist.availablebalance.AvailableUnit | tofix4}}
                    </a>
                  </td>
                  <td>
                    <a>{{funddestinationlist.availablebalance.AvailableAmount | tofix}}
                    </a>
                  </td>
                  <td>
                    {{funddestinationlist.availablebalance.EffectiveDate}}
                    <!-- <a class="color-red">(ณ วันที่ผ่านมา)</a> -->
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.switching-amount' | translate }}</p>
            </div>
            <div class="col-md-3 col-6 form-group" [ngClass]="ValidatorDisplayCss('type')">
              <div class="select-wrapper inline-block">
                <select name="type" id="type" (change)="onChangeType()" formControlName="type">
                  <option value="" selected="" disabled *ngIf="!Type">กรุณาเลือก</option>
                  <option value="Amount">บาท</option>
                  <option value="Unit">หน่วย</option>
                  <option value="All">ทั้งหมด</option>
                </select>
                <div class="form-control-feedback" *ngIf="this.formexchange.controls.type.errors && (this.formexchange.controls.type.touched)">
                  <p *ngIf="this.formexchange.controls.type.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
              </div>

            </div>
            <div class="col-md-3 col-6 form-group" *ngIf="Type !== 'All' " [ngClass]="ValidatorDisplayCss('amount')">
              <div class="input-wrapper ">
                <input id="amount"
                name="amount" 
                maxlength="30" 
                type="text" 
                class="bg-gray" 
                (change)="onChangeType()" 
                formControlName="amount"
                (keypress)="notfill($event)">

                <div class="form-control-feedback" *ngIf="this.formexchange.controls.amount.errors && (this.formexchange.controls.amount.touched)">
                  <p *ngIf="this.formexchange.controls.amount.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.switching-to' | translate }}</p>
            </div>
            <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('funddestination')">
              <div class="select-wrapper inline-block">
                <select id="funddestination" formControlName="funddestination" name="funddestination">
                  <option value="" disabled>กรุณาเลือก</option>
                  <option [ngValue]="funddestination" *ngFor="let funddestination of funddestinationlist?.fundswitchingdestination; let i = index">
                    {{ funddestination.FundName }} ({{ funddestination.FundCode }})
                  </option>
                </select>
                <div class="form-control-feedback" *ngIf="this.formexchange.controls.funddestination.errors && (this.formexchange.controls.funddestination.touched)">
                  <p *ngIf="this.formexchange.controls.funddestination.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
                <a href="{{this.formexchange.controls.funddestination.value.FundFactSheetEN}}" target="_blank" *ngIf="this.formexchange.controls.funddestination.value">ดาวน์โหลดหนังสือชี้ชวน</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.Advance-sw-date' | translate }}</p>
            </div>
            <div class="col-md-6 col-lg-3 form-group">

              <div class="input-wrapper">
                <input class=" textinput dateinput bg-gray" ngbDatepicker #d="ngbDatepicker" id="startDate" placeholder="วว/ดด/ปปปป" name="date"
                  type="text" (click)="d.toggle()" formControlName="date" [minDate]="minDate" readonly>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-6 offset-md-4">
              <button class="btn-med btn-primary" (click)="onSubmited()">
                {{ 'BUTTON.ok' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col-md-3 col-6">
              <button class="btn-med btn-cancel" (click)="reset()">
                {{ 'BUTTON.cancel' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="detail-footer-wrapper">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>{{ 'CONTENT.sw-order' | translate }}
          <br class="d-block d-sm-none" />
          <label>{{ 'CONTENT.order-to-be' | translate }}</label>
        </h4>
      </div>
      <!-- <div class="col-md-6 text-md-right">
        <i class="fa fa-angle-right mr-1" aria-hidden="true"></i>
        <label>{{ 'CONTENT.view-all' | translate }}</label>
      </div> -->
      <div class="col-md-12 mt-5 text-center" *ngIf="!nolist">
        <p>{{ 'CONTENT.no-list' | translate }}</p>
      </div>

      <div class="col-md-12 mt-2" *ngIf="nolist">
        <div class="table-responsive">
          <table class="table table-nav">
            <thead>
              <tr>
                <th>
                  กองทุนที่สับเปลี่ยน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  หน่วย
                </th>
                <th>
                  วันและเวลาที่ทำรายการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <!-- <th>
                  แก้ไข
                </th> -->
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody *ngIf="orderswitchinglist">
              <ng-container *ngFor="let list of orderswitchinglist; let i = index">
                <tr class="bgforlhfund">
                  <td class="text-left">
                    <b>ต้นทาง:</b> {{list.FundSource}} ({{list.FundSourceCode}})<br>
                    <b>ปลายทาง:</b> {{list.funddestination}} ({{list.funddestinationCode}})
                  </td>
                  <td class="text-right">
                    {{list.Amount | tofix}}
                  </td>
                  <td class="text-right">
                    {{list.Unit | tofix4}}
                  </td>
                  <td>
                    {{list.OrderTime | datethai}}, {{list.OrderTime | time}}
                  </td>
                  <td>
                    {{list.EffectiveDateSource | datethai}}<br>
                    <!-- {{list.EffectiveDatedestiantion| datethai}} -->
                  </td>
                  <!-- <td>
                    <a href="">
                      <img src="/assets/Images/icons/ico-edit.png">
                    </a>
                  </td> -->
                  <td>
                    <a>
                      <img src="/assets/Images/icons/ico-delete.png" alt="" (click)="modaldeleteorder(list)">
                    </a>
                  </td>

                </tr>
              </ng-container>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- exchange -->
<div class="fund-table-wrapper" *ngIf="page == 'exchange-step1'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <span class="txt-middle">{{ userselect.UnitholderNo}}</span>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.switching' | translate }}</H4>
        <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.input-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{ currentdate }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name-r' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{ formexchange.controls.fundsource.value.FundName }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  ยอดคงเหลือ (หน่วย)
                </th>
                <th class="bg-primary">
                  ยอดคงเหลือ (บาท)
                </th>
                <th class="bg-darkbrown">
                  วันที่มีผล
                </th>
              </tr>
            </thead>
            <tbody *ngIf="funddestinationlist">
              <tr>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableUnit | tofix4}}
                  </a>
                </td>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableAmount | tofix}}
                  </a>
                </td>
                <td>
                  {{funddestinationlist.availablebalance.EffectiveDate}}
                  <!-- <a class="color-red">(ณ วันที่ผ่านมา)</a> -->
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span *ngIf="Type == 'Amount'">{{formexchange.controls.amount.value}} บาท</span>
            <span *ngIf="Type == 'Unit'">{{formexchange.controls.amount.value}} หน่วย</span>
            <span *ngIf="Type == 'All'">{{funddestinationlist.availablebalance.AvailableUnit | tofix4}} หน่วย</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-to' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{formexchange.controls.funddestination.value.FundName}}</span>
          </div>
        </div>

        <div class="row" *ngIf="date">
          <div class="col-md-4">
            <p>{{ 'CONTENT.Advance-sw-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{date}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.effectivedate' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{resultsubmit.data.EffectiveDate | datethaiDM}}</span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3 col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="confirmswitching()">
              {{ 'BUTTON.confirm' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-back-login" (click)="checkpage('exchange')">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- exchange-step1 -->
<div class="fund-table-wrapper" *ngIf="page == 'exchange-step2'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <span class="txt-middle">{{ userselect.UnitholderNo}}</span>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.switching' | translate }}</H4>
        <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.input-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{ currentdate }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name-r' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{ formexchange.controls.fundsource.value.FundName }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  ยอดคงเหลือ (หน่วย)
                </th>
                <th class="bg-primary">
                  ยอดคงเหลือ (บาท)
                </th>
                <th class="bg-darkbrown">
                  วันที่มีผล
                </th>
              </tr>
            </thead>
            <tbody *ngIf="funddestinationlist">
              <tr>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableUnit | tofix4}}
                  </a>
                </td>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableAmount | tofix}}
                  </a>
                </td>
                <td>
                  {{funddestinationlist.availablebalance.EffectiveDate}}
                  <!-- <a class="color-red">(ณ วันที่ผ่านมา)</a> -->
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span *ngIf="Type == 'Amount'">{{formexchange.controls.amount.value}} บาท</span>
            <span *ngIf="Type == 'Unit'">{{formexchange.controls.amount.value}} หน่วย</span>
            <span *ngIf="Type == 'All'">{{funddestinationlist.availablebalance.AvailableUnit | tofix4}} หน่วย</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-to' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{formexchange.controls.funddestination.value.FundName}}</span>
          </div>
        </div>

        <div class="row" *ngIf="date">
          <div class="col-md-4">
            <p>{{ 'CONTENT.Advance-sw-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{date}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.effectivedate' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>{{resultsubmit.data.EffectiveDate | datethaiDM}}</span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3 col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="print()">
              {{ 'BUTTON.print' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-blue" (click)="checkpage('exchange')">
              {{ 'BUTTON.view-list' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <span class="color-red no-margin">การยืนยันรายการนี้ยังไม่ถือว่ารายการขายหน่วยลงทุนสมบูรณ์ ในกรณีที่ท่านยังมิได้ขอออกสมุดบัญชีแสดงสิทธิในหน่วยลงทุน
          นายทะเบียนจะจัดส่งหนังสือรับรองสิทธิในหน่วยลงทุนให้แก่ท่าน
        </span>
        <span class="color-red no-margin">เมื่อรายการนี้ได้ทำเสร็จสมบูรณ์ ภายใน 2 วันทำการ</span>
      </div>
    </div>

  </div>
</div>
<!-- exchange-step2 -->
<div class="fund-table-wrapper" *ngIf="page == 'exchange-view-list'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12 mb-3">
        <H4 class="text-left" style="display: unset;">{{ 'CONTENT.sw-all-order' | translate }} </H4>
        <p style="display: unset;">{{ 'CONTENT.order-to-be' | translate }}</p>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th>
                  กองทุน
                </th>
                <th>
                  วิธีชำระเงิน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  วันและเวลาที่ทำการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <th>
                  แก้ไข
                </th>
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

      <div class="col-md-4 offset-md-8 no-padding">
        <div class="list-pagination">
          <div class="holder">
            <!-- <a class="jp-first jp-disabled">First</a> -->
            <a class="jp-previous jp-disabled">previous</a>
            <a class="jp-current">1</a>
            <!-- <span class="jp-hidden">...</span> -->
            <a class="">2</a>
            <a class="">3</a>
            <a class="jp-next">next</a>
            <!-- <a class="jp-last">Last</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- exchange-view-list -->

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">คำเตือน</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ message }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal">
              <p style="margin-top: 7px;">ตกลง
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message2" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">แจ้งเตือน</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ message }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal" (click)="checkpage('exchange-step1')">
              <p style="margin-top: 7px;">ตกลง
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="delete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header warning">

        <h4 class="modal-title warning">คุณต้องการลบรายการที่เลือกหรือไม่</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <h4 class="modal-title warning">X</h4>
        </button>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <div class="row mt-3">
          <div class="col-md-6 col-6">
            <p>เลขที่ผู้ถือหน่วยลงทุน</p>
            <span>{{ userselect.UnitholderNo }}</span>
          </div>
          <div class="col-md-6 col-6">
            <p>ชื่อผู้ถือหน่วยลงทุน</p>
            <span>{{ userselect.FirstName}} {{ userselect.LastName}}</span>
          </div>

          <div class="col-md-12 mt-4">
            <div class="table-responsive">
              <table class="table table-custom">
                <tbody>
                  <tr>
                    <td class="text-left">
                      วันที่ทำรายการ
                    </td>
                    <td class="text-left content">
                      {{deletedOrder?.OrderTime | datethai}}, {{deletedOrder?.OrderTime | time}}
                    </td>
                  </tr>
                  <!-- <tr>
                    <td class="text-left">
                      เลือกวิธีชำระเงิน
                    </td>
                    <td class="text-left content">
                      หักบัญชีธนาคาร
                    </td>
                  </tr> -->
                  <tr>
                    <td class="text-left">
                      กองทุนต้นทาง
                    </td>
                    <td class="text-left content">
                      {{deletedOrder?.FundSource}} ({{deletedOrder?.FundSourceCode}})
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      กองทุนปลายทาง
                    </td>
                    <td class="text-left content">                   
                      {{deletedOrder?.funddestination}} ({{deletedOrder?.funddestinationCode}})
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      จำนวน
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="deletedOrder?.Amount">{{deletedOrder?.Amount | tofix}} บาท <br /></ng-container>
                      <ng-container *ngIf="deletedOrder?.Unit">{{deletedOrder?.Unit | tofix}} หน่วย</ng-container>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td class="text-left">
                      หักบัญชีธนาคาร
                    </td>
                    <td class="text-left content">
                      {{deletedOrder?.BankName}}
                    </td>
                  </tr> -->
                  <tr>
                    <td class="text-left">
                      วันที่มีผล
                    </td>
                    <td class="text-left content">
                      {{deletedOrder?.EffectiveDateSource | datethai}}<br>
                      <!-- {{deletedOrder?.EffectiveDatedestiantion | datethai}} -->
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center">
            <div class="col-md-6 col-6 col-sm-6">
              <button class="btn-med btn-cancel" (click)="deleteorder()">
                ลบรายการนี้
                <i class="fa fa-angle-right" aria-hidden="true"></i>

              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="expiremodal" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">คำเตือน</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>แบบประเมินความเสี่ยงของท่านครบกำหนดแล้ว กรุณาปรับปรุงแบบประเมินความเสี่ยง เพื่อให้สามารถทำรายการซื้อ หรือ รายการสับเปลี่ยนเข้า
          ด้วยค่ะ
        </h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-center">
          <!-- <div class="col-4">
              <button class="btn-med btn-primary" data-dismiss="modal" (click)="checkpage('purchase-step1')">
                {{ 'BUTTON.confirm' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div> -->
          <div class="col-5">
            <button class="btn-med btn-cancel" data-dismiss="modal" routerLink="">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-5">
            <button class="btn-med btn-primary" data-dismiss="modal" routerLink="/profile/suitability">
              <p style="margin-top: 7px;">ทำแบบประเมิน
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="risklevel" style="z-index: 9999;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">คำเตือน</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3 *ngIf="Islevel">- ระดับความเสี่ยงในการลงทุนของท่านน้อยกว่าระดับความเสี่ยงของกองทุน</h3>
        <h3 *ngIf="Isprotect">- กองทุนที่ท่านเลือกไม่มีนโยบายป้องกันความเสี่ยงอัตราแลกเปลี่ยนเต็มจำนวน</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-center">
          <div class="col-4">
            <button class="btn-med btn-primary" data-dismiss="modal" (click)="checkpage('exchange-step1')">
              {{ 'BUTTON.acceptrisk' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-4">
            <button class="btn-med btn-cancel" data-dismiss="modal">
              {{ 'BUTTON.notaccept' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-4" *ngIf="Islevel">
            <button class="btn-med btn-primary" data-dismiss="modal" routerLink="/profile/suitability">
              <p style="margin-top: 7px;">ทำแบบประเมินความเสี่ยง
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>