<style>
  tbody tr.bgforlhfund:nth-child(even) {
    background: #fafafa
  }

  /* tbody tr.bgforlhfund:nth-child(odd) {background: #FFF} */
</style>
<div class="fund-table-wrapper" *ngIf="page == 'exchange'">
  <div class="heading-section" *ngIf="userall != ''">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>
          </ul>

        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno" data-live-search="true"
              class="selectpicker">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
                <ng-container *ngIf="unitholder.AgentCode">({{unitholder.AgentCode }})</ng-container>
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper" *ngIf="userall != ''">
    <form [formGroup]="formexchange">
      <div class="row">
        <div class="col-md-12">
          <H4 class="text-left">{{ 'CONTENT.switching' | translate }}</H4>
        </div>
        <div class="col-md-9">
          <div class="row">

            <div class="col-md-4">
              <p>{{ 'CONTENT.input-date' | translate }}</p>
            </div>

            <div class="col-md-6">
              <ng-container *ngIf="lang == 'th' "><span>{{ currentdate }}</span></ng-container>
              <ng-container *ngIf="lang == 'en' "><span>{{ currentdateEng }}</span></ng-container>
            </div>

          </div>
          <div class="row">

            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.fund-name-r' | translate }}</p>
            </div>

            <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('fundsource')">
              <div class="select-wrapper inline-block">
                <select title="{{ 'CONTENT.select' | translate }}" id="fund" name="fundsource" formControlName="fundsource" (change)="fundlistonChange()"
                  class="selectpicker" data-live-search="true">
                  <option [ngValue]="holdingbalancelist" *ngFor="let holdingbalancelist of unitholderswitching.fundlist; let i = index">
                    <ng-container *ngIf="lang == 'th' ">{{ holdingbalancelist.FundName }}</ng-container>
                    <ng-container *ngIf="lang == 'en' ">{{ holdingbalancelist.FundNameEng }}</ng-container>
                  </option>
                </select>
                <div class="form-control-feedback" *ngIf="this.formexchange.controls.fundsource.errors && (this.formexchange.controls.fundsource.touched)">
                  <p *ngIf="this.formexchange.controls.fundsource.errors.required">{{ 'Validation.required' | translate }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-9">
          <div class="table-responsive">
            <table class="table table-custom">
              <thead>
                <tr>
                  <th class="bg-blue">
                    <!-- ยอดคงเหลือ (หน่วย) -->
                    {{ 'TABLE.balance' | translate }} {{ 'TABLE.unit' | translate }}
                  </th>
                  <th class="bg-primary">
                    <!-- ยอดคงเหลือ (บาท) -->
                    {{ 'TABLE.balance' | translate }} {{ 'TABLE.bath' | translate }}
                  </th>
                  <th class="bg-darkbrown">
                    <!-- วันที่มีผล -->
                    {{ 'TABLE.ef-date' | translate }}
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="funddestinationlist">
                <tr>
                  <td>
                    <a>{{funddestinationlist.availablebalance.AvailableUnit | tofix4}}
                    </a>
                  </td>
                  <td>
                    <a>{{funddestinationlist.availablebalance.AvailableAmount | tofix}}
                    </a>
                  </td>
                  <td>
                    {{funddestinationlist.availablebalance.EffectiveDate}}
                    <!-- <a class="color-red">(ณ วันที่ผ่านมา)</a> -->
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">

            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.switching-amount' | translate }}</p>
            </div>

            <div class="col-md-3 col-6 form-group" [ngClass]="ValidatorDisplayCss('type')">
              <div class="select-wrapper inline-block">
                <select name="type" id="type" (change)="onChangeType()" formControlName="type" class="selectpicker" title="{{ 'CONTENT.select' | translate }}">
                  <option value="Amount">{{ 'CONTENT.bath' | translate }}</option>
                  <option value="Unit">{{ 'CONTENT.unit' | translate }}</option>
                  <option value="All">{{ 'CONTENT.all' | translate }}</option>
                </select>
                <div class="form-control-feedback" *ngIf="this.formexchange.controls.type.errors && (this.formexchange.controls.type.touched)">
                  <p *ngIf="this.formexchange.controls.type.errors.required">{{ 'Validation.required' | translate }}</p>
                </div>
              </div>

            </div>
            <div class="col-md-3 col-6 form-group" *ngIf="Type !== 'All' " [ngClass]="ValidatorDisplayCss('amount')">
              <div class="input-wrapper ">
                <input id="amount" name="amount" maxlength="30" type="text" class="bg-gray" (change)="onBlurType()" formControlName="amount"
                  (keypress)="notfill($event)">
                <div class="form-control-feedback" *ngIf="this.formexchange.controls.amount.errors && (this.formexchange.controls.amount.touched)">
                  <p *ngIf="this.formexchange.controls.amount.errors.required">{{ 'Validation.required' | translate }}</p>
                </div>
                <p class="color-red no-margin" *ngIf="this.formexchange.controls.amount.value == 0">{{ 'CONTENT.lesszero' | translate }}</p>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.switching-to' | translate }}</p>
            </div>
            <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('funddestination')">
              <div class="select-wrapper inline-block">
                <select title="{{ 'CONTENT.select' | translate }}" id="fund2" formControlName="funddestination" name="funddestination" class="selectpicker"
                  data-live-search="true">
                  <option [ngValue]="funddestination" *ngFor="let funddestination of funddestinationlist?.fundswitchingdestination; let i = index">
                    <ng-container *ngIf="lang == 'th' ">{{ funddestination.FundName }}</ng-container>
                    <ng-container *ngIf="lang == 'en' ">{{ funddestination.FundNameEng }}</ng-container>
                  </option>
                </select>
                <div class="form-control-feedback" *ngIf="this.formexchange.controls.funddestination.errors && (this.formexchange.controls.funddestination.touched)">
                  <p *ngIf="this.formexchange.controls.funddestination.errors.required">{{ 'Validation.required' | translate
                    }}</p>
                </div>
                <a href="{{this.formexchange.controls.funddestination.value.FundFactSheetTH}}" target="_blank" *ngIf="this.formexchange.controls.funddestination.value && lang == 'th'">{{
                  'CONTENT.prospectus' | translate }}</a>
                <a href="{{this.formexchange.controls.funddestination.value.FundFactSheetEN}}" target="_blank" *ngIf="this.formexchange.controls.funddestination.value && lang == 'en'">{{
                  'CONTENT.prospectus' | translate }}</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p class="">{{ 'CONTENT.Advance-sw-date' | translate }} <label class="color-red">*</label></p>
            </div>
            <div class="col-md-5 col-lg-3 col-10 form-group">
              <div class="input-wrapper">
                <input class=" textinput dateinput bg-gray" ngbDatepicker #d="ngbDatepicker" id="startDate" placeholder="{{ 'CONTENT.place-holder-date' | translate }}"
                  name="date" type="text" (click)="d.toggle()" formControlName="date" [minDate]="minDate" readonly>
              </div>
            </div>
            <div class="col-2 cleardate no-padding">
              <i class="fa fa-times" aria-hidden="true" (click)="resetdate()" *ngIf="this.formexchange.controls.date.value"></i>
            </div>
            <div class="col-md-12 offset-md-4">
              <div class="input-wrapper">
                <ng-container *ngIf="lang == 'th' ">
                  <p class="color-red">* หากไม่ต้องการกำหนดวันแลกเปลี่ยนหน่วยลงทุนล่วงหน้า ไม่ต้องระบุ</p>
                </ng-container>
                <ng-container *ngIf="lang == 'en' ">
                  <p class="color-red">* Please leave blank if you do not wish to plan advance Switching date</p>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-6 offset-md-4">
              <button class="btn-med btn-primary btn" (click)="onSubmited()" [disabled]="loading">
                {{ 'BUTTON.ok' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col-md-3 col-6">
              <button class="btn-med btn-cancel" (click)="reset()">
                {{ 'BUTTON.cancel' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="detail-footer-wrapper" *ngIf="userall != ''">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>{{ 'CONTENT.sw-order' | translate }}
          <br class="d-block d-sm-none" />
          <label>{{ 'CONTENT.order-to-be' | translate }}</label>
        </h4>
      </div>
      <div class="col-md-12 mt-5 text-center" *ngIf="!nolist">
        <p>{{ 'CONTENT.no-list' | translate }}</p>
      </div>

      <div class="col-md-12 mt-2" *ngIf="nolist">
        <div class="table-responsive">
          <table class="table table-nav">
            <thead>
              <tr>
                <th>
                  <!-- กองทุนที่สับเปลี่ยน -->
                  {{ 'TABLE.fund' | translate }}
                </th>
                <th>
                  <!-- บาท (THB) -->
                  {{ 'CONTENT.bath' | translate }} (THB)
                </th>
                <th>
                  <!-- หน่วย -->
                  {{ 'CONTENT.unit' | translate }}
                </th>
                <th>
                  <!-- วันและเวลาที่ทำรายการ -->
                  {{ 'TABLE.or-date-time' | translate }}
                </th>
                <th>
                  <!-- วันที่มีผล -->
                  {{ 'TABLE.ef-date' | translate }}
                </th>
                <!-- <th>
                  แก้ไข
                </th> -->
                <th>
                  <!-- ยกเลิก -->
                  {{ 'BUTTON.cancel' | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="orderswitchinglist">
              <ng-container *ngFor="let list of orderswitchinglist; let i = index">
                <tr class="bgforlhfund">

                  <td class="text-left">
                    <ng-container *ngIf="lang == 'th' ">
                      <b>ต้นทาง:</b> {{list.FundSource}} ({{list.FundSourceCode}})<br>
                      <b>ปลายทาง:</b> {{list.funddestination}} ({{list.funddestinationCode}})
                    </ng-container>
                    <ng-container *ngIf="lang == 'en' ">
                      <b>Switch from fund:</b> {{list.FundSourceEng}} ({{list.FundSourceCode}})<br>
                      <b>Switch to fund:</b> {{list.funddestinationEng}} ({{list.funddestinationCode}})
                    </ng-container>
                  </td>
                  <td class="text-right">
                    {{list.Amount | tofix}}
                  </td>
                  <td class="text-right">
                    {{list.Unit | tofix4}}
                  </td>
                  <td>                    
                    <ng-container *ngIf="lang == 'th' ">{{list.OrderTime | datethai}}, {{list.OrderTime | time}}</ng-container>
                    <ng-container *ngIf="lang == 'en' ">{{list.OrderTime | dateeng}}, {{list.OrderTime | time}}</ng-container>
                  </td>
                  <td>                    
                    <ng-container *ngIf="lang == 'th' ">{{list.EffectiveDateSource | datethai}}<br></ng-container>
                    <ng-container *ngIf="lang == 'en' ">{{list.EffectiveDateSource | dateeng}}<br></ng-container>
                  </td>
                  <!-- <td>
                    <a href="">
                      <img src="/assets/Images/icons/ico-edit.png">
                    </a>
                  </td> -->
                  <td>
                    <a>
                      <img src="/assets/Images/icons/ico-delete.png" alt="" (click)="modaldeleteorder(list)">
                    </a>
                  </td>

                </tr>
              </ng-container>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-footer-wrapper" *ngIf="userall == ''">
    <div class="row">
      <div class="col-md-12 mt-5 text-center">
        <!-- <p>ไม่พบเลขที่ผู้ถือหน่วยลงทุน ไม่สามารถทำรายการได้</p> -->
        <a href="https://www.lhfund.co.th/Investment/SellingPoint" target="_blank">กรุณาติดต่อตัวแทนของท่าน คลิกที่นี่</a>
      </div>
    </div>
  </div>
</div>
<!-- exchange -->
<div class="fund-table-wrapper" *ngIf="page == 'exchange-step1'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <span class="txt-middle">{{ userselect.UnitholderNo}} <ng-container *ngIf="userselect.AgentCode">({{userselect.AgentCode
              }})</ng-container></span>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper" style="border-bottom: 0px;">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.switching' | translate }}</H4>
        <span class="color-red">({{ 'CONTENT.be-confirm' | translate }})</span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.input-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{ currentdate }}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{ currentdateEng }}</span></ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name-r' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{ formexchange.controls.fundsource.value.FundName }}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{ formexchange.controls.fundsource.value.FundNameEng }}</span></ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  <!-- ยอดคงเหลือ (หน่วย) -->
                  {{ 'TABLE.balance' | translate }} {{ 'TABLE.unit' | translate }}
                </th>
                <th class="bg-primary">
                  <!-- ยอดคงเหลือ (บาท) -->
                  {{ 'TABLE.balance' | translate }} {{ 'TABLE.bath' | translate }}
                </th>
                <th class="bg-darkbrown">
                  <!-- วันที่มีผล -->
                  {{ 'TABLE.ef-date' | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="funddestinationlist">
              <tr>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableUnit | tofix4}}
                  </a>
                </td>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableAmount | tofix}}
                  </a>
                </td>
                <td>
                  {{funddestinationlist.availablebalance.EffectiveDate}}
                  <!-- <a class="color-red">(ณ วันที่ผ่านมา)</a> -->
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span *ngIf="Type == 'Amount'">{{formexchange.controls.amount.value}} {{ 'CONTENT.bath' | translate }}</span>
            <span *ngIf="Type == 'Unit'">{{formexchange.controls.amount.value}} {{ 'CONTENT.unit' | translate }}</span>
            <span *ngIf="Type == 'All'">{{funddestinationlist.availablebalance.AvailableUnit | tofix4}} {{ 'CONTENT.unit'
              | translate }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-to' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{ formexchange.controls.funddestination.value.FundName }}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{ formexchange.controls.funddestination.value.FundNameEng }}</span></ng-container>
          </div>
        </div>

        <div class="row" *ngIf="date">
          <div class="col-md-4">
            <p>{{ 'CONTENT.Advance-sw-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{resultsubmit.data.OrderDate | datethaiDM}}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{resultsubmit.data.OrderDate | dateengDM}}</span></ng-container>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.effectivedate' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{resultsubmit.data.EffectiveDate | datethaiDM}}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{resultsubmit.data.EffectiveDate | dateengDM}}</span></ng-container>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3 col-6 offset-md-4">
            <button class="btn-med btn-primary btn" (click)="confirmswitching()" [disabled]="loading">
              {{ 'BUTTON.confirm' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-back-login" (click)="checkpage('exchange')">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- exchange-step1 -->
<div class="fund-table-wrapper" *ngIf="page == 'exchange-step2'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <span class="txt-middle">{{ userselect.UnitholderNo}} <ng-container *ngIf="userselect.AgentCode">({{userselect.AgentCode
              }})</ng-container></span>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper" style="border-bottom: 0px;">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.switching' | translate }}</H4>
        <span class="color-red">({{ 'CONTENT.be-print' | translate }})</span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.input-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{ currentdate }}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{ currentdateEng }}</span></ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name-r' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{ formexchange.controls.fundsource.value.FundName }}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{ formexchange.controls.fundsource.value.FundNameEng }}</span></ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  <!-- ยอดคงเหลือ (หน่วย) -->
                  {{ 'TABLE.balance' | translate }} {{ 'TABLE.unit' | translate }}
                </th>
                <th class="bg-primary">
                  <!-- ยอดคงเหลือ (บาท) -->
                  {{ 'TABLE.balance' | translate }} {{ 'TABLE.bath' | translate }}
                </th>
                <th class="bg-darkbrown">
                  <!-- วันที่มีผล -->
                  {{ 'TABLE.ef-date' | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="funddestinationlist">
              <tr>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableUnit | tofix4}}
                  </a>
                </td>
                <td>
                  <a>{{funddestinationlist.availablebalance.AvailableAmount | tofix}}
                  </a>
                </td>
                <td>
                  {{funddestinationlist.availablebalance.EffectiveDate}}
                  <!-- <a class="color-red">(ณ วันที่ผ่านมา)</a> -->
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span *ngIf="Type == 'Amount'">{{formexchange.controls.amount.value}} {{ 'CONTENT.bath' | translate }}</span>
            <span *ngIf="Type == 'Unit'">{{formexchange.controls.amount.value}} {{ 'CONTENT.unit' | translate }}</span>
            <span *ngIf="Type == 'All'">{{funddestinationlist.availablebalance.AvailableUnit | tofix4}} {{ 'CONTENT.unit'
              | translate }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.switching-to' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{ formexchange.controls.funddestination.value.FundName }}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{ formexchange.controls.funddestination.value.FundNameEng }}</span></ng-container>
          </div>
        </div>

        <div class="row" *ngIf="date">
          <div class="col-md-4">
            <p>{{ 'CONTENT.Advance-sw-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{resultsubmit.data.OrderDate | datethaiDM}}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{resultsubmit.data.OrderDate | dateengDM}}</span></ng-container>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.effectivedate' | translate }}</p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="lang == 'th' "><span>{{resultsubmit.data.EffectiveDate | datethaiDM}}</span></ng-container>
            <ng-container *ngIf="lang == 'en' "><span>{{resultsubmit.data.EffectiveDate | dateengDM}}</span></ng-container>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3 col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="print()">
              {{ 'BUTTON.print' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-blue" (click)="checkpage('exchange')">
              {{ 'BUTTON.view-list' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-12 mt-3">
        <span class="color-red no-margin">{{ 'CONTENT.warn-order' | translate }}</span>
      </div> -->
    </div>

  </div>
</div>
<!-- exchange-step2 -->
<div class="fund-table-wrapper" *ngIf="page == 'exchange-view-list'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12 mb-3">
        <H4 class="text-left" style="display: unset;">{{ 'CONTENT.sw-all-order' | translate }} </H4>
        <p style="display: unset;">{{ 'CONTENT.order-to-be' | translate }}</p>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th>
                  กองทุน
                </th>
                <th>
                  วิธีชำระเงิน
                </th>
                <th>
                  บาท (THB)
                </th>
                <th>
                  วันและเวลาที่ทำการ
                </th>
                <th>
                  วันที่มีผล
                </th>
                <th>
                  แก้ไข
                </th>
                <th>
                  ยกเลิก
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
                </td>
                <td>
                  หักบัญชี
                </td>
                <td>
                  20,000.00
                </td>
                <td>
                  07/06/2561, 11:25
                </td>
                <td>
                  07/06/2561
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-edit.png">
                  </a>
                </td>
                <td>
                  <a href="">
                    <img src="/assets/Images/icons/ico-delete.png" alt="">
                  </a>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

      <div class="col-md-4 offset-md-8 no-padding">
        <div class="list-pagination">
          <div class="holder">
            <!-- <a class="jp-first jp-disabled">First</a> -->
            <a class="jp-previous jp-disabled">previous</a>
            <a class="jp-current">1</a>
            <!-- <span class="jp-hidden">...</span> -->
            <a class="">2</a>
            <a class="">3</a>
            <a class="jp-next">next</a>
            <!-- <a class="jp-last">Last</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- exchange-view-list -->

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ message }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal">
              <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="delete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header warning">

        <h4 class="modal-title warning">{{ 'Modal.delete' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <h4 class="modal-title warning">X</h4>
        </button>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <div class="row mt-3">
          <div class="col-md-6 col-6">
            <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
            <span>{{ userselect.UnitholderNo }} <ng-container *ngIf="userselect.AgentCode">({{userselect.AgentCode }})</ng-container></span>
          </div>
          <div class="col-md-6 col-6">
            <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
            <span>{{ userselect.FirstName}} {{ userselect.LastName}}</span>
          </div>

          <div class="col-md-12 mt-4">
            <div class="table-responsive">
              <table class="table table-custom">
                <tbody>
                  <tr>
                    <td class="text-left">
                      <!-- วันที่ทำรายการ -->
                      {{ 'TABLE.or-date-time' | translate }}
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="lang == 'th' ">{{deletedOrder?.OrderTime | datethai}}, {{deletedOrder?.OrderTime | time}}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{deletedOrder?.OrderTime | dateeng}}, {{deletedOrder?.OrderTime | time}}</ng-container>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td class="text-left">
                      เลือกวิธีชำระเงิน
                    </td>
                    <td class="text-left content">
                      หักบัญชีธนาคาร
                    </td>
                  </tr> -->
                  <tr>
                    <td class="text-left">
                      <!-- กองทุนต้นทาง -->
                      {{ 'CONTENT.fund-name-s' | translate }}
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="lang == 'th' ">{{deletedOrder?.FundSource}} ({{deletedOrder?.FundSourceCode}})</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{deletedOrder?.FundSourceEng}} ({{deletedOrder?.FundSourceCode}})</ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <!-- กองทุนปลายทาง -->
                      {{ 'CONTENT.switching-to' | translate }}
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="lang == 'th' ">{{deletedOrder?.funddestination}} ({{deletedOrder?.funddestinationCode}})</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{deletedOrder?.funddestinationEng}} ({{deletedOrder?.funddestinationCode}})</ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <!-- จำนวน -->
                      {{ 'CONTENT.switching-amount' | translate }}
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="deletedOrder?.Amount">{{deletedOrder?.Amount | tofix}} {{ 'CONTENT.bath' | translate
                        }} <br /></ng-container>
                      <ng-container *ngIf="deletedOrder?.Unit">{{deletedOrder?.Unit | tofix4}} {{ 'CONTENT.unit' | translate
                        }}</ng-container>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td class="text-left">
                      หักบัญชีธนาคาร
                    </td>
                    <td class="text-left content">
                      {{deletedOrder?.BankName}}
                    </td>
                  </tr> -->
                  <tr>
                    <td class="text-left">
                      <!-- วันที่มีผล -->
                      {{ 'TABLE.ef-date' | translate }}
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="lang == 'th' ">{{deletedOrder?.EffectiveDateSource | datethai}}<br></ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{deletedOrder?.EffectiveDateSource | dateeng}}<br></ng-container>
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center">
            <div class="col-md-6 col-6 col-sm-6">
              <button class="btn-med btn-cancel" (click)="deleteorder()">
                <!-- ลบรายการนี้ -->
                {{ 'BUTTON.delete' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>

              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="expiremodal" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ 'CONTENT.expiremodal' | translate }}
        </h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-center">
          <div class="col-5">
            <button class="btn-med btn-cancel" data-dismiss="modal" routerLink="">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-5">
            <button class="btn-med btn-primary" data-dismiss="modal" routerLink="/profile/suitability" *ngIf="userdetail.MemberType != 'Agent'">
              <p style="margin-top: 7px;">{{ 'BUTTON.suittest' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="risklevel" style="z-index: 9999;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3 *ngIf="Islevel">- {{ 'CONTENT.risk-level' | translate }}</h3>
        <h3 *ngIf="Isprotect">- {{ 'CONTENT.hed' | translate }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-center">
          <div class="col-4">
            <button class="btn-med btn-primary" data-dismiss="modal" (click)="checkpage('exchange-step1')">
              {{ 'BUTTON.acceptrisk' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-4">
            <button class="btn-med btn-cancel" data-dismiss="modal">
              {{ 'BUTTON.notaccept' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-4" *ngIf="Islevel">
            <button class="btn-med btn-primary" data-dismiss="modal" routerLink="/profile/suitability" *ngIf="userdetail.MemberType != 'Agent'">
              <p style="margin-top: 7px;">{{ 'BUTTON.suittest' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="se-pre-con">
  <div class="preloader">
    <div><i class="fa fa-refresh fa-spin"></i></div>
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
    <span class="line line-4"></span>
    <span class="line line-5"></span>
    <span class="line line-6"></span>
    <span class="line line-7"></span>
    <span class="line line-8"></span>
  </div>
</div>

<app-footerforwarning *ngIf="userall != ''"></app-footerforwarning>