<div class="fund-table-wrapper" *ngIf="page == 'regular-exchange'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>

          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span class="txt-middle">เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-sm-6 col-md-6">
          <p>ที่อยู่</p>
          <span class="txt-middle">19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">สับเปลี่ยนหน่วยลงทุนแบบประจำ</H4>
        <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">กองทุนต้นทาง</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="36">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="29">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  ยอดคงเหลือ (หน่วย)
                </th>
                <th class="bg-primary">
                  ยอดคงเหลือ (บาท)
                </th>
                <th class="bg-darkbrown">
                  วันที่มีผล
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">74.39
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(ณ วันที่ผ่านมา)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">N/A
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(หลังหักรายการวันนี้)</a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">สับเปลี่ยนจำนวน</span>
          </div>
          <div class="col-md-3 col-6">
            <div class="input-wrapper ">
              <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="0">
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="select-wrapper inline-block">

                <select name="ddlLink" id="ddlLink">
                    <option value="0" selected="" disabled>กรุณาเลือก</option>
                    <option value="บาท">บาท</option>
                    <option value="หน่วย">หน่วย</option>
                    <option value="ทั้งหมด">ทั้งหมด</option>
                  </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">กองทุนปลายทาง</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="36">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="29">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">เงื่อนไข</span>
          </div>
          <div class="col-md-3 col-6">
            <div class="custom-radio-between txt-middle">
              <input value="101" id="101" name="rad1" type="radio" checked>
              <label for="101"></label>
              <p>รายเดือน</p>
            </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="row">
                <div class="col-md-6 col-6">
                  <span class="txt-middle">วันที่</span>
                </div>
                <div class="col-md-6 col-6">
                  <div class="select-wrapper inline-block">
  
                    <select name="ddlLink" id="ddlLink">
                      <option value="0" selected="">1</option>
                      <option value="36">2</option>
                      <option value="29">3</option>
                    </select>
                  </div>
                </div>
              </div>
  
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">ระยะเวลาเริ่มต้น</span>
          </div>
          <div class="col-md-3">
            <div class="input-wrapper">
                <input class=" textinput dateinput bg-gray" [(ngModel)]="model.startDate" ngbDatepicker #d1="ngbDatepicker" id="startDate" placeholder="วว/ดด/ปปปป" name="startDate" type="text" (click)="d1.toggle()">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="txt-middle">ระยะเวลาสิ้นสุด</span>
          </div>
          <div class="col-md-3">
            <div class="input-wrapper">
              <input class=" textinput dateinput bg-gray" [(ngModel)]="model.endDate" ngbDatepicker #d2="ngbDatepicker" id="endDate" placeholder="วว/ดด/ปปปป" name="endDate" type="text" (click)="d2.toggle()">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3  col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('regular-exchange-step1')">
              ตกลง
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-cancel" (click)="checkpage('signup1')">
              ยกเลิก
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>


      </div>


    </div>

  </div>
  <div class="detail-footer-wrapper">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>รายการสับเปลี่ยนหน่วยลงทุน <br class="d-block d-sm-none"/><label>(รายการที่รอดำเนินการ)</label></h4>
      </div>
      <div class="col-md-6 text-md-right">
        <i class="fa fa-angle-right mr-1" aria-hidden="true"></i><label>ดูรายการทั้งหมด</label>
      </div>
      <div class="col-md-12 mt-5 text-center">
        <p>ไม่มีรายการที่รอดำเนินงาน</p>
      </div>
    </div>
  </div>
</div>
<!-- regular-exchange -->
<div class="fund-table-wrapper" *ngIf="page == 'regular-exchange-step1'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>

          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span class="txt-middle">เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-sm-6 col-md-6">
          <p>ที่อยู่</p>
          <span class="txt-middle">19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">สับเปลี่ยนหน่วยลงทุนแบบประจำ</H4>
        <!-- <p>ขั้นตอนที่ 1 เลือกลงทุนและใส่จำนวนที่ต้องการ</p> -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>กองทุนต้นทาง</p>
          </div>
          <div class="col-md-6">
            <span>KFCRASH - กองทุนกรุงศรีตราสารเงิน</span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>
                <th class="bg-blue">
                  ยอดคงเหลือ (หน่วย)
                </th>
                <th class="bg-primary">
                  ยอดคงเหลือ (บาท)
                </th>
                <th class="bg-darkbrown">
                  วันที่มีผล
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">74.39
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(ณ วันที่ผ่านมา)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/MutualFund" title="ประเภทกองทุน">6.2456
                  </a>
                </td>
                <td>
                  <a href="/MutualFund/FundDetail" title="ชื่อกองทุน">N/A
                  </a>
                </td>
                <td>
                  05/04/60
                  <a class="color-red">(หลังหักรายการวันนี้)</a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>สับเปลี่ยนจำนวน</p>
          </div>
          <div class="col-md-6">
            <span>3,000 บาท</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>รับเงินค่าขายคืน</p>
          </div>
          <div class="col-md-6">
            <span>ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>เงื่อนไข</p>
          </div>
          <div class="col-md-6">
            <span>รายเดือน : วันที่ 1</span>                          
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>ระยะเวลาเริ่มต้น</p>
          </div>
          <div class="col-md-6">
            <span>07 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>ระยะเวลาสิ้นสุด</p>
          </div>
          <div class="col-md-6">
            <span>10 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3  col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('')">
              พิมพ์
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-blue" (click)="checkpage('signup1')">
              ดูรายการ
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>


      </div>


    </div>

  </div>
</div>
<!-- regular-exchange-step1 -->