<div class="contact-popup active" *ngIf="page == 'forgotpassword'">
  <div class="popup-content">
    <div class="contact-title">
      <div class="row">
        <div class="col">
          <p>
            <i class="fas fa-unlock-alt mr-2"></i>
            {{ 'LOGIN.forgot' | translate }}

          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <ul>
            <li class="th" (click)="switchlang('th')" [ngClass]="{'current': langth}">
              <a title="Thai">Thai</a>
            </li>
            <li class="en" (click)="switchlang('en')" [ngClass]="{'current': langen}">
              <a title="Eng">Eng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form [formGroup]="formforgot" (ngSubmit)="onSubmit()">
        <div class="detail-login-wrapper">
          <div class="row">
            <div class="col-sm-12 form-group" [ngClass]="ValidatorDisplayCss3('IDcard')">
              <p>{{ 'LOGIN.id-password' | translate }}
              </p>
              <div class="input-wrapper ">
                <input id="IDcard" name="IDcard" maxlength="13" type="text" formControlName="IDcard" required>
                <div class="form-control-feedback" *ngIf="this.formforgot.controls.IDcard.errors && ( this.formforgot.controls.IDcard.touched)">
                  <p *ngIf="this.formforgot.controls.IDcard.errors.required || this.formforgot.controls.IDcard.errors?.minlength">{{
                    'Validation.required' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 form-group" [ngClass]="ValidatorDisplayCss3('email')">
              <p>{{ 'LOGIN.email' | translate }}
              </p>
              <div class="input-wrapper ">
                <input id="email" name="email" maxlength="30" type="text" formControlName="email" required>
                <div class="form-control-feedback" *ngIf="this.formforgot.controls.email.errors && ( this.formforgot.controls.email.touched)">
                  <p *ngIf="this.formforgot.controls.email.errors.required">{{ 'Validation.required' | translate }}</p>
                  <p *ngIf="this.formforgot.controls.email.errors.pattern">{{ 'Validation.incorrect' | translate }}</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 form-group" id="recaptcha2" [ngClass]="ValidatorDisplayCss3('recaptcha')">
              <ngx-recaptcha2 #captchaElem [size]="size" [hl]="lang" [theme]="theme" [type]="type"
                formControlName="recaptcha">
              </ngx-recaptcha2>
              <div class="form-control-feedback" *ngIf="this.formforgot.controls.recaptcha.errors && ( this.formforgot.controls.recaptcha.touched)">
                <p *ngIf="this.formforgot.controls.recaptcha.errors.required">{{ 'Validation.required' | translate }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="btn-wrapper-left">
              <div class="row">
                <div class="col-md-10">
                  <button class="btn-med btn-back-login" type="button" (click)="navigate('')">
                    <p>{{ 'BUTTON.back' | translate }}
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="btn-wrapper-right">
              <div class="row justify-content-end">
                <div class="col-md-10">
                  <button class="btn-med btn-confirm-login btn" type="submit" [disabled]="loading">
                    <p>{{ 'BUTTON.ok' | translate }}
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </p>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="reset" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ 'LOGIN.sent-mail' | translate }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal" (click)="navigate('')">
              <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;" *ngIf="message">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ message }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" type="submit" data-dismiss="modal">
              <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>