<app-header></app-header>
<div class="" id="maincontainer-wrapper">
  <div class="page-content-wrapper">
    <div class="mutual-fund-wrapper">
      <div class="max-width-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="tabs-menu-wrapper">
              <div class="dropdown dropdown-content">
                <button class="btn-med btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  เมนูกองทุน
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="navigate('ltf-condition-complete')" title="{{ 'NAVBAR.ltf-for-re' | translate }}">{{ 'NAVBAR.ltf-for-re' | translate }}</a>
                  <a class="dropdown-item" (click)="navigate('conclusion')" title="{{ 'NAVBAR.rmf-ltf-sub' | translate }}">{{ 'NAVBAR.rmf-ltf-sub' | translate }}</a>
                  <a class="dropdown-item" (click)="navigate('certificate-rmf')" title="{{ 'NAVBAR.rmf-cer' | translate }}">{{ 'NAVBAR.rmf-cer' | translate }}</a>
                  <a class="dropdown-item" (click)="navigate('certificate-ltf')" title="{{ 'NAVBAR.ltf-cer' | translate }}">{{ 'NAVBAR.ltf-cer' | translate }}</a>
                </div>
              </div>
              <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                <li role="presentation" id="menu1">
                  <a title="{{ 'NAVBAR.ltf-for-re' | translate }}" (click)="navigate('ltf-condition-complete')">{{ 'NAVBAR.ltf-for-re' | translate }}</a>
                </li>
                <li role="presentation" id="menu2">
                  <a title="{{ 'NAVBAR.rmf-ltf-sub' | translate }}" (click)="navigate('conclusion')">{{ 'NAVBAR.rmf-ltf-sub' | translate }}</a>
                </li>
                <li role="presentation" id="menu3">
                  <a title="{{ 'NAVBAR.rmf-cer' | translate }}" (click)="navigate('certificate-rmf')">{{ 'NAVBAR.rmf-cer' | translate }}</a>
                </li>
                <li role="presentation" id="menu4">
                  <a title="{{ 'NAVBAR.ltf-cer' | translate }}" (click)="navigate('certificate-ltf')">{{ 'NAVBAR.ltf-cer' | translate }}</a>
                </li>

              </ul>
            </div>

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>