
.fund-list-wrapper{
    
    @media screen and (max-width: 767px) {
        .title-heading{
            padding: 20px;
           p{
               margin-bottom: 1rem !important;
           }
        }
        .title-heading-blue{
            padding: 10px 20px;
            p{
                font-size: 20px;
            }
        }
        img{
            padding: 10px 20px;
        }
        h3{
            font-size: 30px;
        }
      }
      @media screen and (max-width: 999px) {
        .title-heading{

            p,h3{
                margin: 0px;
                padding-left: 10px;
                
            }
        }
    }
}
.vertical-menu-wrapper{
    @media screen and (max-width: 767px) {
        img{
            margin: 0px !important;
        }
    }
}