<app-header></app-header>
<div class="" id="maincontainer-wrapper">
  <div class="page-content-wrapper">
    <div class="mutual-fund-wrapper">
      <div class="max-width-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="tabs-menu-wrapper">
              <div class="dropdown dropdown-content">
                <button class="btn-med btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                  เมนูกองทุน
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a (click)="navigate('ltf-condition-complete')" title="หน่วยลงทุน LTF ที่ครบตามเงื่อนไข">หน่วยลงทุน LTF ที่ครบตามเงื่อนไข</a>
                  </li>
                  <li>
                    <a (click)="navigate('conclusion')" title="สรุปยอดซื้อ RMF & LTF ในรอบปี">สรุปยอดซื้อ RMF & LTF ในรอบปี</a>
                  </li>
                  <li>
                    <a (click)="navigate('certificate-rmf')" title="หนังสือรับรองฯ RMF">หนังสือรับรองฯ RMF</a>
                  </li>
                  <li>
                    <a (click)="navigate('certificate-ltf')" title="หนังสือรับรองฯ LTF">หนังสือรับรองฯ LTF</a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                <li role="presentation" id="menu1">
                  <a title="รายการซื้อ" (click)="navigate('ltf-condition-complete')">หน่วยลงทุน LTF ที่ครบตามเงื่อนไข</a>
                </li>
                <li role="presentation" id="menu2">
                  <a title="รายการขาย" (click)="navigate('conclusion')">สรุปยอดซื้อ RMF & LTF ในรอบปี</a>
                </li>
                <li role="presentation" id="menu3">
                  <a title="รายการสับเปลี่ยน" (click)="navigate('certificate-rmf')">หนังสือรับรองฯ RMF</a>
                </li>
                <li role="presentation" id="menu4">
                  <a title="รายการตั้งซื้อขายล่วงหน้า" (click)="navigate('certificate-ltf')">หนังสือรับรองฯ LTF</a>
                </li>

              </ul>
            </div>

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>