/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*Arial*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
.test {
  color: red; }

#header .top-menu-wrapper {
  display: none !important; }

#header .bottom-menu-wrapper {
  display: none !important; }

#main-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  background-image: url("/assets/Images/banners/banner-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 767px) {
    #main-wrapper {
      background-image: url("/assets/Images/banners/banner-login-m.png"); } }

.footer_sub {
  display: none !important; }

input[type="text"], input[type="password"] {
  height: 42px !important; }

/* form-control-feedback p{
    color: red !important;
} */
.has-danger .form-control-feedback p {
  color: #FF4A4A !important;
  margin: 0; }

.form-group {
  margin: 0; }

.ui-widget-header {
  background-color: white;
  background: unset; }

.ui-widget {
  font-family: "KitithadaBold" !important; }

#recaptcha2 {
  -webkit-transform: scale(0.82) !important;
  -ms-transform: scale(0.82) !important;
  transform: scale(0.82) !important;
  -webkit-transform-origin: 0 0 !important;
  -ms-transform-origin: 0 0 !important;
  transform-origin: 0 0 !important;
  margin: 14px 0 !important; }

/* .rc-anchor-light{
    background: white !important;
} */
.modal-body {
  height: 300px; }

@media screen and (min-width: 767px) {
  .modal-body {
    height: 400px; } }

.modal-dialog {
  max-width: none; }

.copyright a, .copyright-footer a {
  font-size: 24px;
  line-height: 22px;
  color: #1CA59B; }
