.test {
    color: red;
}
#header .top-menu-wrapper{
    display: none !important;
}
#header .bottom-menu-wrapper{
    display: none !important;
}
.footer_sub{
    display: none !important;
}
input[type="text"],input[type="password"]{
    height: 42px !important;
}