/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*Arial*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
@font-face {
  font-family: 'KitithadaRegular';
  src: url("/assets/fonts/PSL094PRO.eot");
  src: url("/assets/fonts/PSL094PRO.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/PSL094PRO.woff") format("woff"), url("/assets/fonts/PSL094PRO.ttf") format("truetype"), url("/assets/fonts/PSL094PRO.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KitithadaBold';
  src: url("/assets/fonts/PSL096PRO.eot");
  src: url("/assets/fonts/PSL096PRO.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/PSL096PRO.woff") format("woff"), url("/assets/fonts/PSL096PRO.ttf") format("truetype"), url("/assets/fonts/PSL096PRO.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* note : for IE8,7 need css3pie helper*/
#main-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  background-image: url("/assets/Images/banners/banner-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 767px) {
    #main-wrapper {
      background-image: url("/assets/Images/banners/banner-login-m.png"); } }

.copyright {
  display: block;
  text-align: center;
  width: 100%;
  z-index: 1;
  text-decoration: none;
  position: relative; }
  @media screen and (max-width: 767px) {
    .copyright {
      display: none; } }
  .copyright h1, .copyright h2, .copyright h3, .copyright h4, .copyright h5, .copyright h6 {
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #5a5a5a; }
  .copyright p {
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    color: #5a5a5a; }
  .copyright span {
    margin: 0 auto;
    margin-bottom: 15px;
    color: #1CA59B;
    font-size: 24px;
    line-height: 28px; }

.copyright-footer {
  display: none;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding: 20px;
  z-index: 1;
  text-decoration: none;
  position: relative; }
  @media screen and (max-width: 767px) {
    .copyright-footer {
      display: block; } }
  .copyright-footer h1, .copyright-footer h2, .copyright-footer h3, .copyright-footer h4, .copyright-footer h5, .copyright-footer h6 {
    margin: 0 auto;
    margin-bottom: 15px;
    color: #5a5a5a; }
  .copyright-footer p {
    margin: 0 auto;
    font-size: 24px;
    line-height: 20px;
    color: #5a5a5a; }
  .copyright-footer span {
    margin: 0 auto;
    color: #1CA59B;
    font-size: 24px;
    line-height: 20px; }

@media screen and (max-width: 767px) {
  #main-wrapper.main-login-wrapper {
    padding-top: 70px;
    overflow: auto; } }

.login-icon {
  position: relative;
  height: 28px;
  display: block;
  float: left;
  padding: 0;
  margin-right: 10px; }

.contact-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-top: 160px; }
  .contact-wrapper .detail-login-wrapper {
    position: relative;
    max-width: 100%;
    padding: 10px 40px 20px 40px;
    margin: 0 auto;
    width: 100%; }
    .contact-wrapper .detail-login-wrapper h4 {
      display: block; }
  .contact-wrapper .contact-popup {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact-wrapper .caption-link {
    width: 70px;
    height: 70px;
    display: block;
    text-indent: -9999px;
    background-size: cover;
    cursor: pointer; }
    .contact-wrapper .caption-link.phone {
      background-image: url("../../../../Images/contact_phone.png");
      background-repeat: no-repeat; }
      .contact-wrapper .caption-link.phone:hover {
        background-image: url("../../../../Images/contact_phone_over.png"); }
    .contact-wrapper .caption-link.location {
      background-image: url("../../../../Images/contact_location.png");
      background-repeat: no-repeat; }
      .contact-wrapper .caption-link.location:hover {
        background-image: url("../../../../Images/contact_location_over.png"); }
    .contact-wrapper .caption-link.mail {
      background-image: url("../../../../Images/contact_mail.png");
      background-repeat: no-repeat; }
      .contact-wrapper .caption-link.mail:hover {
        background-image: url("../../../../Images/contact_mail_over.png"); }
  .contact-wrapper .xs-show {
    display: none !important; }
    @media screen and (max-width: 767px) {
      .contact-wrapper .xs-show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important; } }
  .contact-wrapper .xs-hide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
    @media screen and (max-width: 767px) {
      .contact-wrapper .xs-hide {
        display: none !important; } }
  .contact-wrapper .refresh {
    margin: 0 -5px;
    padding: 10px 0; }
  .contact-wrapper .popup-content {
    background-image: url("/assets/Images/bg/bg-login-box.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    opacity: 1;
    z-index: 1;
    text-align: left;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 20px; }
    @media screen and (max-width: 767px) {
      .contact-wrapper .popup-content {
        position: relative; } }
    .contact-wrapper .popup-content h1, .contact-wrapper .popup-content h2, .contact-wrapper .popup-content h3 {
      margin: 0;
      color: #fff;
      text-align: center; }
    .contact-wrapper .popup-content p, .contact-wrapper .popup-content span {
      font-size: 22px;
      line-height: 24px;
      color: #fff;
      text-align: left; }
    .contact-wrapper .popup-content ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      float: left; }
      .contact-wrapper .popup-content ul li {
        display: inline-block;
        margin: 0 5px;
        cursor: pointer; }
        .contact-wrapper .popup-content ul li a {
          font-size: 22px;
          line-height: 28px;
          color: #333; }
          .contact-wrapper .popup-content ul li a:hover {
            color: #fff;
            text-decoration: none; }
        .contact-wrapper .popup-content ul li.current a {
          color: #fff;
          text-decoration: underline; }
    .contact-wrapper .popup-content .btn-blue {
      position: relative;
      color: #fff;
      border: 1px solid #00698C;
      background-color: #00698C;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      padding: 0 30 0 10px;
      margin: 0 auto;
      font-family: "KitithadaBold";
      min-width: 100%;
      height: 42px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      text-decoration: none; }
      .contact-wrapper .popup-content .btn-blue:hover {
        color: #fff;
        border: 1px solid #000;
        background-color: #000; }
    .contact-wrapper .popup-content .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      font-size: 28px;
      line-height: 40px;
      color: #fff;
      border: none;
      border-radius: 50%;
      background-color: #1CA59B;
      padding: 0;
      text-align: center;
      display: block;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 20; }
    .contact-wrapper .popup-content .gmap {
      margin-top: 40px;
      margin-bottom: 10px; }
    .contact-wrapper .popup-content .btn-wrapper {
      text-align: center; }
    .contact-wrapper .popup-content .btn-red p {
      text-align: left;
      color: #FF4A4A;
      margin-top: 7px; }
    .contact-wrapper .popup-content .btn-wrapper-right {
      text-align: right;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .contact-wrapper .popup-content .btn-wrapper-right p {
        text-align: left;
        margin-top: 7px; }
    .contact-wrapper .popup-content .btn-wrapper-left {
      text-align: left;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      @media screen and (max-width: 767px) {
        .contact-wrapper .popup-content .btn-wrapper-left {
          margin-bottom: 20px; } }
      .contact-wrapper .popup-content .btn-wrapper-left p {
        text-align: left;
        margin-top: 7px; }
  .contact-wrapper .popup-side-content-left {
    background: rgba(28, 165, 155, 0.8);
    height: 460px;
    max-width: 100%;
    opacity: 1;
    z-index: 1;
    text-align: left;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 20px; }
    @media screen and (max-width: 767px) {
      .contact-wrapper .popup-side-content-left {
        position: relative;
        height: auto; } }
    .contact-wrapper .popup-side-content-left h1, .contact-wrapper .popup-side-content-left h2, .contact-wrapper .popup-side-content-left h3 {
      margin: 0;
      margin-bottom: 20px;
      color: #1CA59B; }
    .contact-wrapper .popup-side-content-left p, .contact-wrapper .popup-side-content-left span {
      font-size: 22px;
      line-height: 24px;
      color: #fff;
      text-align: left; }
    .contact-wrapper .popup-side-content-left ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      float: left; }
      .contact-wrapper .popup-side-content-left ul li {
        display: inline-block;
        padding: 10px 0;
        margin: 0 5px; }
        .contact-wrapper .popup-side-content-left ul li a {
          font-size: 22px;
          line-height: 28px;
          color: #333; }
          .contact-wrapper .popup-side-content-left ul li a:hover {
            color: #000;
            text-decoration: none; }
        .contact-wrapper .popup-side-content-left ul li.current a {
          color: #fff;
          text-decoration: underline; }
          .contact-wrapper .popup-side-content-left ul li.current a:hover {
            color: #000;
            text-decoration: none; }
    .contact-wrapper .popup-side-content-left .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      font-size: 28px;
      line-height: 40px;
      color: #fff;
      border: none;
      border-radius: 50%;
      background-color: #1CA59B;
      padding: 0;
      text-align: center;
      display: block;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 20; }
      .contact-wrapper .popup-side-content-left .btn-close:hover {
        /*color: $color-primary;
                border-color: $color-primary;*/ }
    .contact-wrapper .popup-side-content-left .gmap {
      margin-top: 40px;
      margin-bottom: 10px; }
    .contact-wrapper .popup-side-content-left .btn-wrapper {
      text-align: center; }
    .contact-wrapper .popup-side-content-left .btn-red p {
      text-align: left;
      color: #FF4A4A;
      margin-top: 7px; }
    .contact-wrapper .popup-side-content-left .btn-primary p {
      text-align: left;
      color: #1CA59B;
      margin-top: 7px; }
    .contact-wrapper .popup-side-content-left .btn-wrapper-right {
      text-align: right;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .contact-wrapper .popup-side-content-left .btn-wrapper-right p {
        text-align: left;
        margin-top: 7px; }
    .contact-wrapper .popup-side-content-left .btn-wrapper-left {
      text-align: left;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .contact-wrapper .popup-side-content-left .btn-wrapper-left p {
        text-align: left;
        margin-top: 7px; }
  .contact-wrapper .popup-side-content-right {
    background: rgba(28, 165, 155, 0.8);
    float: right;
    min-width: 100%;
    min-height: 460px;
    opacity: 1;
    z-index: 1;
    text-align: left;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 20px; }
    @media screen and (max-width: 767px) {
      .contact-wrapper .popup-side-content-right {
        position: relative;
        background: rgba(28, 165, 155, 0.8);
        min-height: auto; } }
    .contact-wrapper .popup-side-content-right h1, .contact-wrapper .popup-side-content-right h2, .contact-wrapper .popup-side-content-right h3 {
      margin: 0;
      color: #fff;
      text-align: center; }
      @media screen and (max-width: 767px) {
        .contact-wrapper .popup-side-content-right h1, .contact-wrapper .popup-side-content-right h2, .contact-wrapper .popup-side-content-right h3 {
          color: #fff !important; } }
    .contact-wrapper .popup-side-content-right p {
      font-size: 22px;
      line-height: 24px;
      color: #fff;
      text-align: center; }
      @media screen and (max-width: 767px) {
        .contact-wrapper .popup-side-content-right p {
          color: #fff !important; } }
    .contact-wrapper .popup-side-content-right span {
      font-size: 22px;
      line-height: 24px;
      color: #333;
      text-align: center; }
      @media screen and (max-width: 767px) {
        .contact-wrapper .popup-side-content-right span {
          color: #fff !important; } }
    .contact-wrapper .popup-side-content-right ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      float: left; }
      .contact-wrapper .popup-side-content-right ul li {
        display: inline-block;
        padding: 10px 0;
        margin: 0 5px; }
        .contact-wrapper .popup-side-content-right ul li a {
          font-size: 22px;
          line-height: 28px;
          color: #333; }
          .contact-wrapper .popup-side-content-right ul li a:hover {
            color: #000;
            text-decoration: none; }
        .contact-wrapper .popup-side-content-right ul li.current a {
          color: #fff;
          text-decoration: underline; }
          .contact-wrapper .popup-side-content-right ul li.current a:hover {
            color: #000;
            text-decoration: none; }
    .contact-wrapper .popup-side-content-right .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      font-size: 28px;
      line-height: 40px;
      color: #fff;
      border: none;
      border-radius: 50%;
      background-color: #1CA59B;
      padding: 0;
      text-align: center;
      display: block;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 20; }
      .contact-wrapper .popup-side-content-right .btn-close:hover {
        /*color: $color-primary;
                border-color: $color-primary;*/ }
    .contact-wrapper .popup-side-content-right .gmap {
      margin-top: 40px;
      margin-bottom: 10px; }
    .contact-wrapper .popup-side-content-right .btn-wrapper {
      text-align: center; }
    .contact-wrapper .popup-side-content-right .btn-red p {
      text-align: left;
      color: #FF4A4A;
      margin-top: 7px; }
    .contact-wrapper .popup-side-content-right .btn-primary p {
      text-align: left;
      color: #1CA59B;
      margin-top: 7px; }
    .contact-wrapper .popup-side-content-right .btn-wrapper-right {
      text-align: right;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .contact-wrapper .popup-side-content-right .btn-wrapper-right p {
        text-align: left;
        margin-top: 7px; }
    .contact-wrapper .popup-side-content-right .btn-wrapper-left {
      text-align: left;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .contact-wrapper .popup-side-content-right .btn-wrapper-left p {
        text-align: left;
        margin-top: 7px; }
  .contact-wrapper .contact-title {
    margin-bottom: 20px; }
    .contact-wrapper .contact-title h1, .contact-wrapper .contact-title h2, .contact-wrapper .contact-title h3 {
      margin: 0;
      margin-bottom: 5px;
      color: #fff; }
    .contact-wrapper .contact-title p {
      color: #fff; }
    .contact-wrapper .contact-title .sw-lang {
      float: right; }
  .contact-wrapper .contact-info {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0; }
    .contact-wrapper .contact-info .label {
      font-size: 22px;
      line-height: 24px;
      color: #5a5a5a; }
    .contact-wrapper .contact-info .info span {
      font-size: 22px;
      line-height: 24px;
      color: #1CA59B; }
    .contact-wrapper .contact-info .info a {
      font-size: 22px;
      line-height: 24px;
      color: #1CA59B; }
      .contact-wrapper .contact-info .info a:hover {
        color: #000;
        text-decoration: none; }
  .contact-wrapper .contact-form-wrapper input[type="text"], .contact-wrapper .contact-form-wrapper textarea {
    color: #5a5a5a; }
  .contact-wrapper .contact-form-wrapper input[type="password"] {
    color: #5a5a5a; }
  .contact-wrapper .contact-form-wrapper p {
    margin-bottom: 10px; }
    .contact-wrapper .contact-form-wrapper p span {
      color: #FF4A4A; }
  .contact-wrapper .contact-form-wrapper .captcha {
    min-height: 20px;
    color: #5a5a5a;
    padding-bottom: 15px; }
    .contact-wrapper .contact-form-wrapper .captcha img {
      width: 100% !important;
      height: 40px !important; }
  .contact-wrapper .active .popup-content {
    opacity: 1;
    z-index: 98;
    margin-top: -30px;
    visibility: visible;
    overflow: visible !important; }
  @media screen and (max-width: 767px) {
    .contact-wrapper {
      margin: 75px auto; } }

.modal-custom .modal-dialog .modal-content .modal-body .address {
  display: block;
  width: 240px;
  height: auto;
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 1px solid #cdcdcd;
  background-color: #fff; }
  .modal-custom .modal-dialog .modal-content .modal-body .address h3 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    color: #1CA59B; }
  .modal-custom .modal-dialog .modal-content .modal-body .address p, .modal-custom .modal-dialog .modal-content .modal-body .address span {
    font-size: 22px;
    line-height: 24px; }

.modal-custom .modal-dialog .modal-content .modal-footer {
  text-align: left; }
