<style>
  tbody tr.bgforlhfund:nth-child(even) {
    background: #fafafa
  }

  /* tbody tr.bgforlhfund:nth-child(odd) {background: #FFF} */
</style>
<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">

        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block pb-3">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="ddlLink">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.report-date' | translate }}</p>
          <span class="txt-middle">{{ dateformat }}</span>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">

          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>
      </div>
    </div>

  </div>

  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <h4>{{ 'NAVBAR.view-plan' | translate }}</h4>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-performance">
            <thead>
              <tr>

                <th>
                  วันและเวลา
                  <br/>ที่ทำรายการ
                </th>
                <th>
                  รายการ
                </th>
                <th>
                  หักบัญชีธนาคาร
                </th>
                <th>
                  กองทุน
                  <br/> ปลายทาง
                </th>
                <th>
                  เงื่อนไข
                </th>
                <th>
                  จำนวน
                  <br/> (บาท)
                </th>
                <th>
                  ระยะเวลา
                </th>
                <!-- <th>
                  แก้ไข
                </th> -->
                <th>
                  ยกเลิก
                </th>

              </tr>
            </thead>
            <tbody *ngFor="let type of standingorder?.standingorderlist; let i = index">
              <tr class="line">
                <td colspan="10">
                  <ng-container *ngIf="lang == 'th' ">{{ type.FundTypeName }}</ng-container>
                  <ng-container *ngIf="lang == 'en' ">{{ type.FundTypeNameEng }}</ng-container>
                </td>
              </tr>
              <ng-container *ngFor="let group of type?.StandingOrderFund; let y = index">
                <!-- <tr class="line">
                  <td colspan="10">
                    {{group.FundName}}
                  </td>
                </tr> -->
                <tr *ngFor="let list of group?.StandingOrder; let z = index" class="bgforlhfund">

                  <td class="">
                    {{list.StandingOrderDate | datethai}}, {{list.StandingOrderDate | time}}
                  </td>
                  <td class="text-center">
                    {{list.StandingOrderTxType | type}}
                  </td>
                  <td class="text-center">
                    {{list.IDCardNo}}
                  </td>
                  <td class="">
                    &nbsp;
                  </td>
                  <td class="text-center">
                    รายเดือน ทุกๆวันที่ ({{list.StandingOrderDayNo}})
                  </td>
                  <td class="txt-right">
                    {{list.StandingOrderAmount | tofix}}
                  </td>
                  <td class="text-center">
                    {{list.StandingOrderEffectiveDate | datethai}} - {{list.ExpiryDate | datethai}}
                  </td>
                  <!-- <td>
                    <a>
                      <img src="/assets/Images/icons/ico-edit.png">
                    </a>
                  </td> -->
                  <td class="text-center">
                    <a>
                      <img src="/assets/Images/icons/ico-delete.png" alt="" (click)="modaldeleteorder(group,list)">
                    </a>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>



      </div>
      <div class="col-md-12 mb-5">
        <p class="color-red no-margin">ข้อมูลที่แสดงข้างต้นนี้อาจมีการเปลี่ยนแปลงแก้ไขได้ หากเป็นการซื้อที่เรียกเก็บเงิน
          หรือรายการผิดพลาดใดๆ ทั้งนี้การเปลี่ยนแปลงแก้ไขจะเป็นไปตามวิธีและข้อกำหนดที่ระบุไว้ในโครงการจัดการกองทุนที่ท่านลงทุน
        </p>
      </div>
      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="col-md-2 col-6 col-sm-4">
            <button class="btn-med btn-primary" (click)="print()">
              {{ 'BUTTON.print' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>

            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="delete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header warning">

        <h4 class="modal-title warning">คุณต้องการลบรายการที่เลือกหรือไม่</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <h4 class="modal-title warning">X</h4>
        </button>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <div class="row mt-3">
          <div class="col-md-6 col-6">
            <p>เลขที่ผู้ถือหน่วยลงทุน</p>
            <span>{{ userselect.UnitholderNo }}</span>
          </div>
          <div class="col-md-6 col-6">
            <p>ชื่อผู้ถือหน่วยลงทุน</p>
            <span>{{ userselect.FirstName}} {{ userselect.LastName}}</span>
          </div>

          <div class="col-md-12 mt-4">
            <div class="table-responsive">
              <table class="table table-custom">
                <tbody>
                  <tr>
                    <td class="text-left">
                      วันที่ทำรายการ
                    </td>
                    <td class="text-left content">
                      {{deletedOrder?.StandingOrderDate | datethai}}, {{deletedOrder?.StandingOrderDate | time}}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      กองทุน
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="lang == 'th' ">{{ deletedGroup?.FundName }}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{ deletedGroup?.FundNameEng }}</ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      บาท (THB)
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="deletedOrder">{{deletedOrder?.StandingOrderAmount | tofix}}</ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      เงื่อนไข
                    </td>
                    <td class="text-left content">
                      รายเดือน ทุกๆวันที่ ({{deletedOrder?.StandingOrderDayNo}})
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      ระยะเวลา
                    </td>
                    <td class="text-left content">
                      {{deletedOrder?.StandingOrderEffectiveDate | datethai}} - {{deletedOrder?.ExpiryDate | datethai}}
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center">
            <div class="col-md-6 col-6 col-sm-6">
              <button class="btn-med btn-cancel" (click)="deleteorder()">
                ลบรายการนี้
                <i class="fa fa-angle-right" aria-hidden="true"></i>

              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">คำเตือน</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ message }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal">
              <p style="margin-top: 7px;">ตกลง
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>