<div class="" id="maincontainer-wrapper">
  <div class="page-content-wrapper">
    <div class="mutual-fund-wrapper">
      <div class="max-width-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="tabs-menu-wrapper">
              <div class="dropdown dropdown-content">
                <button class="btn-med btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  เมนูกองทุน
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="navigate('regular-purchase')" title="{{ 'NAVBAR.regular-subscription-order' | translate }}">{{
                    'NAVBAR.regular-subscription-order' | translate }}</a>
                  <!-- <a class="dropdown-item" (click)="navigate('regular-sell')" title="{{ 'NAVBAR.regular-redemption-order' | translate }}">{{ 'NAVBAR.regular-redemption-order' | translate }}</a>
                        <a class="dropdown-item" (click)="navigate('regular-exchange')" title="{{ 'NAVBAR.regular-switching-order' | translate }}">{{ 'NAVBAR.regular-switching-order' | translate }}</a> -->
                  <a class="dropdown-item" (click)="navigate('all-list')" title="{{ 'NAVBAR.view-plan' | translate }}">{{
                    'NAVBAR.view-plan' | translate }}</a>
                </div>
              </div>
              <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                <li role="presentation" id="menu1">
                  <a title="{{ 'NAVBAR.regular-subscription-order' | translate }}" (click)="navigate('regular-purchase')">{{
                    'NAVBAR.regular-subscription-order' | translate }}</a>
                </li>
                <!-- <li role="presentation" id="menu2">
                  <a title="{{ 'NAVBAR.regular-redemption-order' | translate }}" (click)="navigate('regular-sell')">{{ 'NAVBAR.regular-redemption-order' | translate }}</a>
                </li>
                <li role="presentation" id="menu3" (click)="navigate('regular-exchange')">
                  <a title="{{ 'NAVBAR.regular-switching-order' | translate }}">{{ 'NAVBAR.regular-switching-order' | translate }}</a>
                </li> -->
                <li role="presentation" id="menu4" (click)="navigate('all-list')">
                  <a title="{{ 'NAVBAR.view-plan' | translate }}">{{ 'NAVBAR.view-plan' | translate }}</a>
                </li>
              </ul>
            </div>

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>