<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="table-responsive">
      <table class="table table-nav">
        <thead>
          <tr>
            <th>
              ชื่อกองทุน
            </th>
            <th>
              วันที่ซื้อ
            </th>
            <th>
              จำนวนหน่วย
            </th>
            <th>
              วันที่
            </th>
            <th>
              มูลค่าต่อหน่วย
            </th>
            <th>
              มูลค่าหน่วย
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let orderltflist of ltflist">
            <!-- <tr class="topic">
            <th colspan="11">
              9990244757
            </th>
          </tr> -->
          <ng-container *ngIf="!orderltflist.islast">
            <tr class="line" *ngIf="orderltflist.FundNameGroup || orderltflist.FundCodeGroup">
              <td colspan="6">
                {{ orderltflist.FundNameGroup }} ({{orderltflist.FundCodeGroup}})
                <ng-container *ngIf="lang == 'th' ">{{ orderltflist.FundNameGroup }} ({{orderltflist.FundCodeGroup}})</ng-container>
                <ng-container *ngIf="lang == 'en' ">{{ orderltflist.FundNameEngGroup }} ({{orderltflist.FundCodeGroup}})</ng-container>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                &nbsp;
              </td>
              <td class="">
                {{ orderltflist.FirstPurchaseDate | datethai }}
              </td>
              <td class="">
                {{ orderltflist.Unit | tofix4 }}
              </td>
              <td class="">
                {{ orderltflist.BalanceDate | datethai }}
              </td>
              <td class="txt-right">
                {{ orderltflist.NAV | tofix4 }}
              </td>
              <td class="txt-right">
                {{ orderltflist.BalanceAmount | tofix }}
              </td>
            </tr>
          </ng-container>
            <tr class="summary" *ngIf="orderltflist.islast">
              <th class="text-left" >
                รวม {{orderltflist.FundCode}}
              </th>
              <th class="text-right" colspan="3">
                &nbsp;
              </th>
              <th class="text-right">
                {{orderltflist.nav | tofix4 }}
              </th>
              <th class="text-right">
                {{orderltflist.unit | tofix }}
              </th>

            </tr>
          </ng-container>
          <tr class="summary" *ngIf="totalnav || totalunit">
            <th class="text-left custom-label">
              รวม
            </th>
            <th colspan="3" class="custom-label">
              <!-- รวม {{list.FundCode}} -->
              &nbsp;
            </th>
            <th class="text-right custom-label">
              {{totalnav | tofix4 }}
            </th>
            <th class="text-right custom-label">
              {{totalunit | tofix }}
            </th>

          </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>