<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="table-responsive">
      <table class="table table-nav">
        <thead>
          <tr>
            <th>
              ชื่อกองทุน
            </th>
            <th>
              วันที่ซื้อ
            </th>
            <th>
              จำนวนหน่วย
            </th>
            <th>
              วันที่
            </th>
            <th>
              มูลค่าต่อหน่วย
            </th>
            <th>
              มูลค่าหน่วย
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="topic">
            <th colspan="11">
              9990244757
            </th>
          </tr>
          <tr class="line">
            <td>
              (KFLTFSTARD) กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
            </td>
            <td colspan="6">&nbsp;</td>
          </tr>
          <tr>
            <td class="text-left">
              &nbsp;
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="">
              30
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="txt-right">
              11.1500
            </td>
            <td class="txt-right">
              17,055.4525
            </td>
          </tr>
          <tr>
            <td class="text-left">
              &nbsp;
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="">
              30
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="txt-right">
              11.1500
            </td>
            <td class="txt-right">
              17,055.4525
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="topic">
            <th colspan="11">
              9990244758
            </th>
          </tr>
          <tr class="line">
            <td>
              (KFLTFSTARD) กองทุนเปิดกรุงศรีหุ้นระยะยาวไทยออลสตาร์ปันผล
            </td>
            <td colspan="6">&nbsp;</td>
          </tr>
          <tr>
            <td class="text-left">
              &nbsp;
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="">
              30
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="txt-right">
              11.1500
            </td>
            <td class="txt-right">
              17,055.4525
            </td>
          </tr>
          <tr>
            <td class="text-left">
              &nbsp;
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="">
              30
            </td>
            <td class="">
              07/06/2561
            </td>
            <td class="txt-right">
              11.1500
            </td>
            <td class="txt-right">
              17,055.4525
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>