<div class="fund-table-wrapper" *ngIf="page == 'regular-purchase'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">ซื้อหน่วยลงทุนแบบประจำ</H4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <span>กองทุน</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">
              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="36">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="29">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <span>หักบัญชีธนาคาร</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="36">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="29">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>

              </select>
            </div>
          </div>
          <div class="col-md-4">
            <span>จำนวน(บาท)</span>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="input-wrapper ">
              <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="0">
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">บาท</option>
                <option value="36">เยน</option>
                <option value="29">ดอลล่า</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <span>เงื่อนไข</span>
          </div>
          <div class="col-md-3  col-xs-6">
            <div class="custom-radio-between">
              <input value="101" id="101" name="rad1" type="radio" checked>
              <label for="101"></label>
              <p>รายเดือน</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">วันที่1</option>
                <option value="36">วันที่2</option>
                <option value="29">วันที่3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>ระยะเวลาเริ่มต้น</span>
          </div>
          <div class="col-md-3">
            <div class="input-wrapper">
              <input class="form-control textinput dateinput bg-gray" id="startDate" placeholder="วว/ดด/ปปปป" name="date" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>ระยะเวลาสิ้นสุด</span>
          </div>
          <div class="col-md-3">
            <div class="input-wrapper">
              <input class="form-control textinput dateinput bg-gray" id="startDate" placeholder="วว/ดด/ปปปป" name="date" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3  col-xs-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('regular-purchase-step1')">
              ตกลง
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6">
            <button class="btn-med btn-cancel" (click)="checkpage('')">
              ยกเลิก
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-footer-wrapper">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>รายการซื้อหน่วยลงทุน <br class="d-block d-sm-none"/><span>(รายการที่รอดำเนินการ)</span></h4>
      </div>
      <div class="col-md-6 text-md-right">
        <i class="fa fa-angle-right mr-1" aria-hidden="true"></i><span>ดูรายการทั้งหมด</span>
      </div>
      <div class="col-md-12 mt-5 text-center">
        <p>ไม่มีรายการที่รอดำเนินงาน</p>
      </div>
    </div>
  </div>
</div>
<div class="fund-table-wrapper" *ngIf="page == 'regular-purchase-step1'">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">ซื้อหน่วยลงทุนแบบประจำ</H4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>กองทุน</p>
          </div>
          <div class="col-md-6">
            <span>KFCRASH - กองทุนกรุงศรีตราสารเงิน</span>
          </div>
          <div class="col-md-4">
            <p>หักบัญชีธนาคาร</p>
          </div>
          <div class="col-md-6">
            <span>ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
          <div class="col-md-4">
            <p>จำนวน(บาท)</p>
          </div>
          <div class="col-md-6">
            <span>3,000 บาท</span>
          </div>                     

        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>เงื่อนไข</p>
          </div>
          <div class="col-md-6">
            <span>รายเดือน : วันที่1</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>ระยะเวลาเริ่มต้น</p>
          </div>
          <div class="col-md-6">
            <span>07 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>ระยะเวลาสิ้นสุด</p>
          </div>
          <div class="col-md-6">
              <span>10 มิถุนายน 2561</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3  col-xs-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('signup1')">
              พิมพ์
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-xs-6">
            <button class="btn-med btn-blue" (click)="checkpage('signup1')">
              ดูรายการ
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>

          <div class="col-md-12 mt-4">
              <p class="color-red no-margin">*ถ้าวันที่ทำรายการซื้อนั้นตรงกับวันหยุดทำการ บริษัทจะดำเนินการทำรายการซื้อให้ในวันทำการถัดไป</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>