<div class="fund-table-wrapper" *ngIf="page == 'regular-purchase'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.regular-purchase' | translate }}</H4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <span>{{ 'CONTENT.fund-name' | translate }}</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">
              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="36">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
                <option value="29">KFCRASH - กองทุนกรุงศรีตราสารเงิน</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <span>{{ 'CONTENT.debit-from-acc' | translate }}</span>
          </div>
          <div class="col-md-6">
            <div class="select-wrapper inline-block">

              <select name="ddlLink" id="ddlLink">
                <option value="0" selected="">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="36">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>
                <option value="29">ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</option>

              </select>
            </div>
          </div>
          <div class="col-md-4">
            <span>{{ 'CONTENT.amount' | translate }}</span>
          </div>
          <div class="col-md-3 col-6">
            <div class="input-wrapper ">
              <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="0">
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="select-wrapper inline-block">
 <!-- (change)='onGroupChange($event)' -->
                <select name="ddlLink" id="ddlLink">
                    <option value="0" selected="" disabled>กรุณาเลือก</option>
                    <option value="บาท">บาท</option>
                    <option value="หน่วย">หน่วย</option>
                    <option value="ทั้งหมด">ทั้งหมด</option>
                  </select>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <span>{{ 'CONTENT.condition' | translate }}</span>
          </div>
          <div class="col-md-3  col-6">
            <div class="custom-radio-between">
              <input value="101" id="101" name="rad1" type="radio" checked>
              <label for="101"></label>
              <p>{{ 'CONTENT.monthly' | translate }}</p>
            </div>


          </div>
          <div class="col-md-3 col-6">
            <div class="row">
              <div class="col-md-6 col-6">
                <span>{{ 'CONTENT.day' | translate }}</span>
              </div>
              <div class="col-md-6 col-6" style="padding-left:0px;">
                <div class="select-wrapper inline-block">

                  <select name="ddlLink" id="ddlLink">
                    <option value="0" selected="">1</option>
                    <option value="36">2</option>
                    <option value="29">3</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>{{ 'CONTENT.start-date' | translate }}</span>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="input-wrapper">
                <input class=" textinput dateinput bg-gray" [(ngModel)]="model.startDate" ngbDatepicker #d1="ngbDatepicker" id="startDate" placeholder="วว/ดด/ปปปป" name="startDate" type="text" (click)="d1.toggle()">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>{{ 'CONTENT.end-date' | translate }}</span>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="input-wrapper">
              <input class=" textinput dateinput bg-gray" [(ngModel)]="model.endDate" ngbDatepicker #d2="ngbDatepicker" id="endDate" placeholder="วว/ดด/ปปปป" name="endDate" type="text" (click)="d2.toggle()">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3  col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('regular-purchase-step1')">
              {{ 'BUTTON.ok' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-cancel" (click)="checkpage('')">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-footer-wrapper">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>{{ 'CONTENT.regular-purchase-list' | translate }}
          <br class="d-block d-sm-none" />
          <label>{{ 'CONTENT.order-to-be' | translate }}</label>
        </h4>
      </div>
      <div class="col-md-6 text-md-right">
        <i class="fa fa-angle-right mr-1" aria-hidden="true"></i>
        <label>{{ 'CONTENT.view-all' | translate }}</label>
      </div>
      <div class="col-md-12 mt-5 text-center">
        <p>ไม่มีรายการที่รอดำเนินงาน</p>
      </div>
    </div>
  </div>
</div>
<!-- regular-purchase -->
<div class="fund-table-wrapper" *ngIf="page == 'regular-purchase-step1'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.regular-purchase' | translate }}</H4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>KFCRASH - กองทุนกรุงศรีตราสารเงิน</span>
          </div>
          <div class="col-md-4">
            <p>{{ 'CONTENT.debit-from-acc' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
          <div class="col-md-4">
            <p>{{ 'CONTENT.amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>3,000 บาท</span>
          </div>

        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.condition' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>รายเดือน : วันที่1</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.start-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>07 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.end-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>10 มิถุนายน 2561</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3  col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('signup1')">
              {{ 'BUTTON.print' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-blue" (click)="checkpage('signup1')">
              {{ 'BUTTON.view-list' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>

          <div class="col-md-12 mt-4">
            <p class="color-red no-margin">*ถ้าวันที่ทำรายการซื้อนั้นตรงกับวันหยุดทำการ บริษัทจะดำเนินการทำรายการซื้อให้ในวันทำการถัดไป</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- regular-purchase-step1 -->