<style>
  tbody tr.bgforlhfund:nth-child(even) {
    background: #fafafa
  }

  /* tbody tr.bgforlhfund:nth-child(odd) {background: #FFF} */
</style>
<div class="fund-table-wrapper" *ngIf="page == 'regular-purchase'">
  <div class="heading-section" *ngIf="userall != ''">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno" class="selectpicker" data-live-search="true">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall?.unitholderlist; let i = index">{{ unitholder?.UnitholderNo
                }} <ng-container *ngIf="unitholder.AgentCode">({{unitholder?.AgentCode }})</ng-container>
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect?.FirstName}} {{ userselect?.LastName}}</span>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect?.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper" *ngIf="userall != ''">
    <form [formGroup]="formsubstanding">
      <div class="row">
        <div class="col-md-12">
          <H4 class="text-left">{{ 'CONTENT.regular-purchase' | translate }}</H4>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.fund-name' | translate }}</p>
            </div>
            <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('fund')">
              <div class="select-wrapper inline-block">
                <select id="fund" name="fund" formControlName="fund" class="selectpicker" data-live-search="true" title="{{ 'CONTENT.select' | translate }}">
                  <option [ngValue]="fund" *ngFor="let fund of fundlist?.fundlist; let i = index">
                    <ng-container *ngIf="lang == 'th' ">{{ fund.FundName }}</ng-container>
                    <ng-container *ngIf="lang == 'en' ">{{ fund.FundNameEng }}</ng-container>
                  </option>
                </select>
                <div class="form-control-feedback" *ngIf="this.formsubstanding.controls.fund.errors && (this.formsubstanding.controls.fund.touched)">
                  <p *ngIf="this.formsubstanding.controls.fund.errors.required">{{ 'Validation.required' | translate }}</p>
                </div>
                <a href="{{this.formsubstanding.controls.fund.value.FundFactSheetTH}}" target="_blank" *ngIf="this.formsubstanding.controls.fund.value && lang == 'th' ">{{ 'CONTENT.prospectus' | translate }}</a>
                <a href="{{this.formsubstanding.controls.fund.value.FundFactSheetEN}}" target="_blank" *ngIf="this.formsubstanding.controls.fund.value && lang == 'en' ">{{ 'CONTENT.prospectus' | translate }}</a>
              </div>
            </div>
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.debit-from-acc' | translate }}</p>
            </div>
            <div class="col-md-6">
              <div class="input-wrapper ">
                <input id="Bank" [(ngModel)]="Bank" name="Bank" maxlength="30" type="text" class="bg-gray" readonly [ngModelOptions]="{standalone: true}" placeholder="{{ 'CONTENT.ats' | translate }}">
              </div>
            </div>
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.amount' | translate }}</p>
            </div>
            <div class="col-md-3 col-6 form-group" [ngClass]="ValidatorDisplayCss('amount')">
              <div class="input-wrapper ">
                <input id="amount" name="amount" maxlength="30" type="text" class="bg-gray" formControlName="amount" required (keypress)="numberOnly($event)"
                  (blur)="tofix($event.target.value)">
                <div class="form-control-feedback" *ngIf="this.formsubstanding.controls.amount.errors && (this.formsubstanding.controls.amount.touched)">
                  <p *ngIf="this.formsubstanding.controls.amount.errors.required">{{ 'Validation.required' | translate }}</p>
                  <p *ngIf="cpwd.hasError('invalid')">กรุณากรอกจำนวนขั้นต่ำ 1000 บาท</p>
                </div>
                <p class="color-red no-margin" *ngIf="this.formsubstanding.controls.amount.value == 0 ">{{ 'CONTENT.lesszero' | translate }}</p>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <p class="txt-middle">{{ 'CONTENT.bath' | translate }}</p>
            </div>
          </div>
          
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.condition' | translate }}</p>
            </div>
            <div class="col-md-3  col-6">
              <div class="custom-radio-between  txt-middle">
                <input value="101" id="101" name="rad1" type="radio" checked>
                <label for="101"></label>
                <p>{{ 'CONTENT.monthly' | translate }}</p>
              </div>


            </div>
            <div class="col-md-3 col-6">
              <div class="row">
                <div class="col-md-6 col-6">
                  <p class="txt-middle">{{ 'CONTENT.every-day' | translate }}</p>
                </div>
                <div class="col-md-6 col-6 form-group" style="padding-left:0px;">
                  <div class="select-wrapper inline-block">

                    <select name="month" id="month" formControlName="day" class="selectpicker">
                      <option [ngValue]="month" *ngFor="let month of month; let i = index">{{month}}</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.start-date' | translate }}</p>
            </div>
            <div class="col-md-6 col-lg-3 form-group " [ngClass]="ValidatorDisplayCss('datestart')">
              <div class="input-wrapper">
                <input class=" textinput dateinput bg-gray" ngbDatepicker #d1="ngbDatepicker" id="startDate" placeholder="{{ 'CONTENT.place-holder-date' | translate }}" name="startDate"
                  type="text" (click)="d1.toggle()" formControlName="datestart" [minDate]="minDate" readonly>
                <div class="form-control-feedback" *ngIf="this.formsubstanding.controls.datestart.errors && (this.formsubstanding.controls.datestart.touched)">
                  <p *ngIf="this.formsubstanding.controls.datestart.errors.required">{{ 'Validation.required' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="has-danger" *ngIf="dateless">
              <div class="form-control-feedback">
                <p>กรุณากรอกวันเริ่มต้นให้น้อยกว่าวันสิ้นสุด</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="txt-middle">{{ 'CONTENT.end-date' | translate }}</p>
            </div>
            <div class="col-md-6 col-lg-3 form-group" [ngClass]="ValidatorDisplayCss('dateend')">
              <div class="input-wrapper">
                <input class=" textinput dateinput bg-gray" ngbDatepicker #d2="ngbDatepicker" id="endDate" placeholder="{{ 'CONTENT.place-holder-date' | translate }}" name="endDate"
                  type="text" (click)="d2.toggle()" formControlName="dateend" [minDate]="minDate" readonly>
                <div class="form-control-feedback" *ngIf="this.formsubstanding.controls.dateend.errors && (this.formsubstanding.controls.dateend.touched)">
                  <p *ngIf="this.formsubstanding.controls.dateend.errors.required">{{ 'Validation.required' | translate }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3  col-6 offset-md-4">
              <button class="btn-med btn-primary btn" type="submit" (click)="onSubmited()" [disabled]="loading">
                {{ 'BUTTON.ok' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col-md-3 col-6">
              <button class="btn-med btn-cancel" type="button" (click)="reset()">
                {{ 'BUTTON.cancel' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="detail-footer-wrapper" *ngIf="userall != ''">
    <div class="row">
      <div class="col-md-6 text-left">
        <h4>{{ 'CONTENT.regular-purchase-list' | translate }}
          <br class="d-block d-sm-none" />
          <label>{{ 'CONTENT.order-to-be' | translate }}</label>
        </h4>
      </div>
      <div class="col-md-12 mt-5 text-center" *ngIf="nolist">
        <p>{{ 'CONTENT.no-list' | translate }}</p>
      </div>

      <div class="col-md-12" *ngIf="!nolist">
        <div class="table-responsive">
          <table class="table table-nav">
            <thead>
              <tr>
                <th>
                  <!-- กองทุน -->
                  {{ 'TABLE.fund' | translate }}
                </th>
                <th>
                  <!-- บาท (THB) -->
                  {{ 'CONTENT.bath' | translate }} (THB)
                </th>
                <th>
                  <!-- เงื่อนไข -->
                  {{ 'CONTENT.condition' | translate }}
                </th>
                <th>
                  <!-- ระยะเวลา -->
                  {{ 'CONTENT.duration' | translate }}
                </th>
                <th>
                  <!-- วันและเวลาที่ทำรายการ -->
                  {{ 'TABLE.or-date-time' | translate }}
                </th>
                <!-- <th>
                  แก้ไข
                </th> -->
                <th>
                  <!-- ยกเลิก -->
                  {{ 'BUTTON.cancel' | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="standingorder">
              <ng-container *ngFor="let type of standingorder?.standingorderlist; let i = index">
                <!-- <tr class="line">
                  <td colspan="10">
                    {{type.FundTypeName}}
                  </td>
                </tr> -->
                <ng-container *ngFor="let group of type?.StandingOrderFund; let y = index">
                  <!-- <tr class="line">
                    <td colspan="10">
                      {{group.FundName}}
                    </td>
                  </tr> -->
                  <tr *ngFor="let list of group?.StandingOrder; let z = index" class="bgforlhfund">

                    <td class="text-left">
                      <ng-container *ngIf="lang == 'th' ">{{ group.FundName }}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{ group.FundNameEng }}</ng-container>
                    </td>
                    <td class="text-right">
                      {{list.StandingOrderAmount | tofix}}
                    </td>
                    <td>
                      {{ 'CONTENT.monthly' | translate }} {{ 'CONTENT.every-day' | translate }} ({{list.StandingOrderDayNo}})
                    </td>
                    <td class="">                      
                      <ng-container *ngIf="lang == 'th' ">{{list.StandingOrderEffectiveDate | datethai}} - {{list.ExpiryDate | datethai}}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{list.StandingOrderEffectiveDate | dateeng}} - {{list.ExpiryDate | dateeng}}</ng-container>
                    </td>
                    <td class="">                        
                      <ng-container *ngIf="lang == 'th' ">{{list.StandingOrderDate | datethai}}, {{list.StandingOrderDate | time}}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{list.StandingOrderDate | dateeng}}, {{list.StandingOrderDate | time}}</ng-container>
                    </td>
                    <!-- <td>
                      <a>
                        <img src="/assets/Images/icons/ico-edit.png">
                      </a>
                    </td> -->
                    <td>
                      <a>
                        <img src="/assets/Images/icons/ico-delete.png" alt="" (click)="modaldeleteorder(group,list)">
                      </a>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="detail-footer-wrapper" *ngIf="userall == ''">
      <div class="row">
        <div class="col-md-12 mt-5 text-center">
          <!-- <p>ไม่พบเลขที่ผู้ถือหน่วยลงทุน ไม่สามารถทำรายการได้</p> -->
          <a href="https://www.lhfund.co.th/Investment/SellingPoint" target="_blank">กรุณาติดต่อตัวแทนของท่าน คลิกที่นี่</a>
        </div>
      </div>
    </div>
</div>
<!-- regular-purchase -->
<div class="fund-table-wrapper" *ngIf="page == 'regular-purchase-step1'">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <H4 class="text-left">{{ 'CONTENT.regular-purchase' | translate }}</H4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.fund-name' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>KFCRASH - กองทุนกรุงศรีตราสารเงิน</span>
          </div>
          <div class="col-md-4">
            <p>{{ 'CONTENT.debit-from-acc' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน)</span>
          </div>
          <div class="col-md-4">
            <p>{{ 'CONTENT.amount' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>3,000 บาท</span>
          </div>

        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.condition' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>รายเดือน : วันที่1</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.start-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>07 มิถุนายน 2561</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>{{ 'CONTENT.end-date' | translate }}</p>
          </div>
          <div class="col-md-6">
            <span>10 มิถุนายน 2561</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3  col-6 offset-md-4">
            <button class="btn-med btn-primary" (click)="checkpage('signup1')">
              {{ 'BUTTON.print' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-3 col-6">
            <button class="btn-med btn-blue" (click)="checkpage('signup1')">
              {{ 'BUTTON.view-list' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>

          <div class="col-md-12 mt-4">
            <p class="color-red no-margin">*ถ้าวันที่ทำรายการซื้อนั้นตรงกับวันหยุดทำการ บริษัทจะดำเนินการทำรายการซื้อให้ในวันทำการถัดไป</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<!-- regular-purchase-step1 -->

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ message }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <button class="btn-med btn-primary" data-dismiss="modal">
              <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="expiremodal" style="z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3>{{ 'CONTENT.expiremodal' | translate }}
        </h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-center">
          <div class="col-5">
            <button class="btn-med btn-cancel" data-dismiss="modal" routerLink="">
              {{ 'BUTTON.cancel' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-5">
            <button class="btn-med btn-primary" data-dismiss="modal" routerLink="/profile/suitability">
              <p style="margin-top: 7px;">{{ 'BUTTON.suittest' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="risklevel" style="z-index: 9999;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <h3 *ngIf="Islevel">- {{ 'CONTENT.risk-level' | translate }}</h3>
        <h3 *ngIf="Isprotect">- {{ 'CONTENT.hed' | translate }}</h3>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justify-content-center">
          <div class="col-4">
            <button class="btn-med btn-primary" data-dismiss="modal" (click)="confirm()">
              {{ 'BUTTON.acceptrisk' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-4">
            <button class="btn-med btn-cancel" data-dismiss="modal">
              {{ 'BUTTON.notaccept' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-4" *ngIf="Islevel">
            <button class="btn-med btn-primary" data-dismiss="modal" routerLink="/profile/suitability">
              <p style="margin-top: 7px;">{{ 'BUTTON.suittest' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="delete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header warning">

        <h4 class="modal-title warning">{{ 'Modal.delete' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <h4 class="modal-title warning">X</h4>
        </button>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <div class="row mt-3">
          <div class="col-md-6 col-6">
            <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
            <span>{{ userselect?.UnitholderNo }} <ng-container *ngIf="userselect.AgentCode">({{userselect?.AgentCode }})</ng-container></span>
          </div>
          <div class="col-md-6 col-6">
            <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
            <span>{{ userselect?.FirstName}} {{ userselect?.LastName}}</span>
          </div>

          <div class="col-md-12 mt-4">
            <div class="table-responsive">
              <table class="table table-custom">
                <tbody>
                  <tr>
                    <td class="text-left">
                      <!-- วันที่ทำรายการ -->
                      {{ 'TABLE.or-date-time' | translate }}
                    </td>
                    <td class="text-left content">                      
                      <ng-container *ngIf="lang == 'th' ">{{deletedOrder?.StandingOrderDate | datethai}}, {{deletedOrder?.StandingOrderDate | time}}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{deletedOrder?.StandingOrderDate | dateeng}}, {{deletedOrder?.StandingOrderDate | time}}</ng-container>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td class="text-left">
                      หักบัญชีธนาคาร
                    </td>
                    <td class="text-left content">
                        {{deletedGroup?.StandingOrderDate | datethai}}
                    </td>
                  </tr> -->
                  <tr>
                    <td class="text-left">
                      <!-- กองทุน -->
                      {{ 'TABLE.fund' | translate }}
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="lang == 'th' ">{{ deletedGroup?.FundName }}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{ deletedGroup?.FundNameEng }}</ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      {{ 'CONTENT.amount2' | translate }}
                    </td>
                    <td class="text-left content">
                      <ng-container *ngIf="deletedOrder">{{deletedOrder?.StandingOrderAmount | tofix}} {{ 'CONTENT.bath' | translate }}</ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <!-- เงื่อนไข -->
                      {{ 'CONTENT.condition' | translate }}
                    </td>
                    <td class="text-left content">
                      {{ 'CONTENT.monthly' | translate }} {{ 'CONTENT.every-day' | translate }} ({{deletedOrder?.StandingOrderDayNo}})
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <!-- ระยะเวลา -->
                      {{ 'CONTENT.duration' | translate }}
                    </td>
                    <td class="text-left content">
                      
                      <ng-container *ngIf="lang == 'th' ">{{deletedOrder?.StandingOrderEffectiveDate | datethai}} - {{deletedOrder?.ExpiryDate | datethai}}</ng-container>
                      <ng-container *ngIf="lang == 'en' ">{{deletedOrder?.StandingOrderEffectiveDate | dateeng}} - {{deletedOrder?.ExpiryDate | dateeng}}</ng-container>
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center">
            <div class="col-md-6 col-6 col-sm-6">
              <button class="btn-med btn-cancel" (click)="deleteorder()">
                <!-- ลบรายการนี้ -->
                {{ 'BUTTON.delete' | translate }}
                <i class="fa fa-angle-right" aria-hidden="true"></i>

              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<app-footerforwarning *ngIf="userall != ''"></app-footerforwarning>