<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="detail-head-wrapper">
      <div class="row">
        <div class="col-md-12 col-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a title="print">
                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
          <div class="select-wrapper inline-block">
            <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno" class="selectpicker" data-live-search="true">
              <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{ unitholder.UnitholderNo
                }} <ng-container *ngIf="unitholder.AgentCode">({{unitholder.AgentCode }})</ng-container>
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
          <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>{{ 'CONTENT.address' | translate }}</p>
          <span class="txt-middle">{{ userselect.ContactAddress}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-2">
        <p class="txt-middle">RMF & LTF ปี พ.ศ.</p>
      </div>
      <div class="col-md-3">
        <div class="select-wrapper inline-block">
          <select [(ngModel)]="years" name="years" id="years" class="selectpicker">
            <option [ngValue]="years" *ngFor="let years of Year; let i = index">{{ years | yearthai }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn-med btn-primary width50 btn" (click)="Onclick()" [disabled]="loading">
          {{ 'BUTTON.ok' | translate }}
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-md-12">
        <div class="fund-list-wrapper">
          <div class="row">
            <div class="col-md-6 col-12 no-padding">
              <div class="title-heading-blue">
                <div class="row">
                  <!-- <div class="col-md-2"><img src="/assets/Images/icons/ico-asset.png"></div> -->
                  <div class="col-md-12">
                    <h3 class="no-margin">{{ 'CONTENT.sub' | translate }}</h3>
                  </div>
                  <div class="col-md-12">
                    <!-- <h3 class="no-margin">จาก 1 มกราคม {{ years | yearthai }} ถึง 31 ธันวาคม {{ years | yearthai }}</h3> -->
                    <ng-container *ngIf="lang == 'th' "><h3 class="no-margin">From 1 มกราคม {{ years | yearthai }} to 31 ธันวาคม {{ years | yearthai }}</h3></ng-container>
                    <ng-container *ngIf="lang == 'en' "><h3 class="no-margin">From 1 January {{ years }} to 31 December {{ years }}</h3></ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12 no-padding">
              <div class="title-heading">
                <div class="row">
                  <div class="col-md-3 col-3">
                    <img src="/assets/Images/icons/ico-rmf.png">
                  </div>
                  <div class="col-md-9 col-9">
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="no-margin">{{ 'CONTENT.sub-r-total' | translate }}</p>
                      </div>
                      <div class="col-sm-12">
                        <h3 class="no-margin">฿ {{balancermf | tofix}}</h3>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-3 col-12 no-padding">
              <div class="title-heading bg-sea">
                <div class="row">
                  <div class="col-md-3 col-3">
                    <img src="/assets/Images/icons/ico-ltf.png">
                  </div>
                  <div class="col-md-9 col-9">
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="no-margin">{{ 'CONTENT.sub-l-total' | translate }}</p>
                      </div>
                      <div class="col-sm-12">
                        <h3 class="no-margin">฿ {{balanceltf | tofix}}</h3>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-nav">
          <thead>
            <tr>
              <th>
                <!-- วันที่ทำรายการ -->
                {{ 'TABLE.or-date' | translate }}
              </th>
              <th>
                <!-- เลขที่อ้างอิง -->
                {{ 'TABLE.ref' | translate }}
              </th>
              <th>
                <!-- ประเภทหน่วยลงทุน -->
                {{ 'TABLE.type-in' | translate }}
              </th>
              <th>
                <!-- มูลค่าต่อหน่วย -->
                {{ 'TABLE.nav-unit' | translate }}
              </th>
              <th>
                <!-- หน่วย -->
                {{ 'CONTENT.unit' | translate }}
              </th>
              <th>
                <!-- มูลค่าการลงทุน -->
                {{ 'TABLE.invest' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngIf="nolist">
              <td colspan="11">
                <p>{{ 'CONTENT.not-found' | translate }}</p>
              </td>
            </tr>
            <ng-container *ngFor="let list of rmflist; let i = index">
              <tr class="topic" *ngIf="list.FundNameGroup">
                <th colspan="9">  
                  <ng-container *ngIf="lang == 'th' ">{{list.FundNameGroup}}</ng-container>
                  <ng-container *ngIf="lang == 'en' ">{{list.FundNameEngGroup}}</ng-container>
                </th>
              </tr>
              <tr class="line" *ngIf="list.FundName2">
                <td colspan="6">
                  <!-- {{list.FundCode}} : {{list.FundName}} -->
                  <ng-container *ngIf="lang == 'th' ">{{list.FundCode}} : {{list.FundName}}</ng-container>
                  <ng-container *ngIf="lang == 'en' ">{{list.FundCode}} : {{list.FundNameEng}}</ng-container>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  {{list.OrderDate | datethai}}
                </td>
                <td class="text-center">
                  {{list.ReferenceNo}}
                </td>
                <td class="text-center">
                  {{list.FundSubType}}
                </td>
                <td class="txt-right">
                  {{list.AllotedNAV | tofix4}}
                </td>
                <td class="txt-right">
                  {{list.AllotedUnit | tofix4}}
                </td>
                <td class="txt-right">
                  {{list.AllotedAmount | tofix}}
                </td>
              </tr>
              <tr class="summary" *ngIf="list.unit || list.amount">
                <th colspan="2">
                  {{ 'TABLE.total' | translate }} {{list.FundCode}}
                </th>
                <th class="text-right">
                  &nbsp;
                </th>
                <th class="text-right">
                  <!-- {{list.nav | tofix4 }} -->
                </th>
                <th class="text-right">
                  {{list.unit | tofix4 }}
                </th>
                <th class="text-right">
                    {{list.amount | tofix}}
                </th>

              </tr>
            </ng-container>
          </tbody>

          <tbody>
            <ng-container *ngFor="let list of ltflist; let i = index">
            <tr class="topic" *ngIf="list.FundNameGroup">
              <th colspan="9">
                <!-- {{list.FundNameGroup}} -->
                <ng-container *ngIf="lang == 'th' ">{{list.FundNameGroup}}</ng-container>
                <ng-container *ngIf="lang == 'en' ">{{list.FundNameEngGroup}}</ng-container>
              </th>
            </tr>
            <tr class="line" *ngIf="list.FundName2">
              <td colspan="6">
                <!-- {{list.FundCode}} : {{list.FundName}} -->
                <ng-container *ngIf="lang == 'th' ">{{list.FundCode}} : {{list.FundName}}</ng-container>
                <ng-container *ngIf="lang == 'en' ">{{list.FundCode}} : {{list.FundNameEng}}</ng-container>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                {{list.OrderDate | datethai}}
              </td>
              <td class="text-center">
                {{list.ReferenceNo}}
              </td>
              <td class="text-center">
                {{list.FundSubType}}
              </td>
              <td class="txt-right">
                {{list.AllotedNAV | tofix4}}
              </td>
              <td class="txt-right">
                {{list.AllotedUnit | tofix4}}
              </td>
              <td class="txt-right">
                {{list.AllotedAmount | tofix}}
              </td>
            </tr>
            <tr class="summary" *ngIf="list.unit || list.amount">

              <th colspan="2">
                {{ 'TABLE.total' | translate }} {{list.FundCode}}
              </th>
              <th class="text-right">
                &nbsp;
              </th>
              <th class="text-right">
                <!-- {{list.nav | tofix4}} -->
              </th>
              <th class="text-right">
                {{list.unit | tofix4}}
              </th>
              <th class="text-right">
                {{list.amount | tofix}}
            </th>

            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <!-- <div class="col-md-6 mt-2">
        <p class="color-red no-margin">หมายเหตุ: คำนวณจากยอดเงินลงทุนใหม่ในรอบปีทั้งหมด โดยไม่รวมรายการดังต่อไปนี้</p>
        <p class="color-red no-margin">1. เงินลงทุนที่รับโอนมาจากหรือโอนออกไปยังบลจ.อื่น</p>
        <p class="color-red no-margin">2. รายการสับเปลี่ยนระหว่าง RMF ด้วยกันหรือ LTF ด้วยกัน</p>
        <p class="color-red no-margin">3. จำนวนเงินที่ขายคืนระหว่างปี</p>
        <p class="color-red no-margin">4. เงินลงทุนใน RMF/LTF ของผู้ถือหน่วยท่านเดียวกัน แต่อยู่ในบัญชีผู้ถือลงทุนหมายเลขอื่นกับ
          บลจ.กรุงศรี
        </p>
      </div> -->

      <div class="col-md-12  mt-3">
        <div class="row justify-content-center">
          <div class="col-md-2 col-6 col-sm-4">
            <button class="btn-med btn-primary" (click)="print()">
              {{ 'BUTTON.print' | translate }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>

            </button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>