<div class="fund-table-wrapper">
  <div class="heading-section">
    <div class="row">
      <div class="detail-head-wrapper">
        <div class="col-md-12 col-xs-12 icon-option mb-3">

          <ul class="">
            <!-- <li class="ico-fb">
              <a href="#" title="facebook">
                <img src="/assets/Images/icons/ico-pipe.png" />
              </a>
            </li>
            <li class="ico-line">
              <a href="#" title="line">
                <img src="/assets/Images/icons/ico-download.png" />
              </a>
            </li> -->
            <li class="ico-yt">
              <a href="#" title="youtube">
                <img src="/assets/Images/icons/ico-print.png" />
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <p>เลขที่ผู้ถือหน่วยลงทุน</p>
          <div class="select-wrapper inline-block">
            <select name="ddlLink" id="ddlLink">
              <option value="0" selected="">9990244757</option>
              <option value="36">9990244757</option>
              <option value="29">9990244757</option>
            </select>
          </div>
        </div>


        <div class="col-md-3">
          <p>ชื่อผู้ถือหน่วยลงทุน</p>
          <span>เนติวัฒน์ โชติกร</span>
        </div>
        <div class="col-sm-6 col-md-6">

            <p>ที่อยู่</p>
            <span>19/259 ซ.จุลดิส แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body-wrapper">
    <div class="row">
      <div class="col-md-2">
        <p>RMF & LTF ปี พ.ศ.</p>
      </div>
      <div class="col-md-3">
        <div class="select-wrapper inline-block">
          <select name="ddlLink" id="ddlLink">
            <option value="0" selected="">2561</option>
            <option value="36">2560</option>
            <option value="29">2559</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn-med btn-primary width50">
          ตกลง
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-md-12">
        <div class="fund-list-wrapper">
          <div class="row">
            <div class="col-md-6 col-xs-12 no-padding">
              <div class="title-heading-blue">
                <div class="row">
                  <!-- <div class="col-md-2"><img src="/assets/Images/icons/ico-asset.png"></div> -->
                  <div class="col-md-12">
                    <h1 class="no-margin">มูลค่าการลงทุน RMF & LTF</h1>
                  </div>
                  <div class="col-md-12">
                    <h3 class="no-margin">จาก 1 มกราคม 2561 ถึง 12 มิถุนายน 2561</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 no-padding">
              <div class="title-heading">
                <div class="row">
                  <div class="col-md-3 col-xs-3">
                    <img src="/assets/Images/icons/ico-rmf.png">
                  </div>
                  <div class="col-md-9 col-xs-9">
                    <div class="row">
                      <div class="col-sm-12">
                        <p>มูลค่าการลงทุน RMF (บาท)</p>
                      </div>
                      <div class="col-sm-12">
                        <h3 class="no-margin">฿ 669,638.80</h3>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 no-padding">
              <div class="title-heading bg-sea">
                <div class="row">
                  <div class="col-md-3 col-xs-3">
                    <img src="/assets/Images/icons/ico-ltf.png">
                  </div>
                  <div class="col-md-9 col-xs-9">
                    <div class="row">
                      <div class="col-sm-12">
                        <p>มูลค่าการลงทุน LTF (บาท)</p>
                      </div>
                      <div class="col-sm-12">
                        <h3 class="no-margin">฿ 669,638.80</h3>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-nav">
          <thead>
              <tr>
                  <th>
                    วันที่ทำรายการ
                  </th>
                  <th>
                    ประเภทหน่วยลงทุน
                  </th>
                  <th>
                    มูลค่าต่อหน่วย
                  </th>
                  <th>
                    หน่วย
                  </th>
                  <th>
                    มูลค่าการลงทุน
                  </th>
                </tr>
          </thead>
          <tbody>                        
            <tr class="line">
              <td colspan="5">
                KFHCARERMF : กองทุนเปิดกรุงศรีโกลบอลเฮลธ์แคร์อควิตี้เพื่อการเลี้ยงชีพ
              </td>
            </tr>
            <tr>
              <td class="text-center">
                03/03/2561
              </td>
              <td class="text-center">
                DE
              </td>
              <td class="txt-right">
                11.1500
              </td>
              <td class="txt-right">
                17,055.4525
              </td>
              <td class="txt-right">
                200.000
              </td>
            </tr>
            <tr>
              <td class="text-center">
                03/03/2561
              </td>
              <td class="text-center">
                DE
              </td>
              <td class="txt-right">
                11.1500
              </td>
              <td class="txt-right">
                17,055.4525
              </td>
              <td class="txt-right">
                200.000
              </td>
            </tr>
            <tr class="summary">
              <th colspan="2">
                รวม KFHCARERMF
              </th>
              <th class="text-right">
                &nbsp;
              </th>
              <th class="text-right">
                51,116.3575
              </th>
              <th class="text-right">
                400.000
              </th>
            </tr>
            <tr class="line">
              <td colspan="5">
                KFHCARERMF : กองทุนเปิดกรุงศรีโกลบอลเฮลธ์แคร์อควิตี้เพื่อการเลี้ยงชีพ
              </td>
            </tr>
            <tr>
              <td class="text-center">
                03/03/2561
              </td>
              <td class="text-center">
                DE
              </td>
              <td class="txt-right">
                11.1500
              </td>
              <td class="txt-right">
                17,055.4525
              </td>
              <td class="txt-right">
                200.000
              </td>
            </tr>
            <tr>
              <td class="text-center">
                03/03/2561
              </td>
              <td class="text-center">
                DE
              </td>
              <td class="txt-right">
                11.1500
              </td>
              <td class="txt-right">
                17,055.4525
              </td>
              <td class="txt-right">
                200.000
              </td>
            </tr>
            <tr class="summary">
              <th colspan="2">
                รวม KFHCARERMF
              </th>
              <th class="text-right">
                &nbsp;
              </th>
              <th class="text-right">
                51,116.3575
              </th>
              <th class="text-right">
                400.000
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 mt-2">
        <p class="color-red no-margin">หมายเหตุ: คำนวณจากยอดเงินลงทุนใหม่ในรอบปีทั้งหมด โดยไม่รวมรายการดังต่อไปนี้</p>
        <p class="color-red no-margin">1. เงินลงทุนที่รับโอนมาจากหรือโอนออกไปยังบลจ.อื่น</p>
        <p class="color-red no-margin">2. รายการสับเปลี่ยนระหว่าง RMF ด้วยกันหรือ LTF ด้วยกัน</p>
        <p class="color-red no-margin">3. จำนวนเงินที่ขายคืนระหว่างปี</p>
        <p class="color-red no-margin">4. เงินลงทุนใน RMF/LTF ของผู้ถือหน่วยท่านเดียวกัน แต่อยู่ในบัญชีผู้ถือลงทุนหมายเลขอื่นกับ บลจ.กรุงศรี</p>
      </div>

      <div class="col-md-12  mt-3">
          <div class="row justify-content-center">
            <div class="col-md-2 col-xs-6 col-sm-4">
              <button class="btn-med btn-primary">
                พิมพ์
                <i class="fa fa-angle-right" aria-hidden="true"></i>

              </button>
            </div>
          </div>

        </div>

    </div>

  </div>
</div>
