<div class="fund-table-wrapper" *ngIf="page == 'over-view'">
    <div class="heading-section">
        <div class="detail-head-wrapper" style="border:unset;">
            <div class="row">
                <div class="col-md-12 col-12 icon-option mb-3">
                    <ul class="">
                        <!-- <li class="ico-fb">
                          <a href="#" title="facebook">
                              <img src="/assets/Images/icons/ico-pipe.png" />
                          </a>
                      </li>
                      <li class="ico-line">
                          <a href="#" title="line">
                              <img src="/assets/Images/icons/ico-download.png" />
                          </a>
                      </li> -->
                        <li class="ico-yt">
                            <a title="print">
                                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
                    <div class="select-wrapper inline-block">
                        <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno" class="selectpicker" data-live-search="true">
                            <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{
                                unitholder.UnitholderNo }} <ng-container *ngIf="unitholder.AgentCode">({{unitholder.AgentCode }})</ng-container></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
                    <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
                </div>
                <div class="col-md-3">
                    <p>{{ 'CONTENT.eval-date' | translate }}</p>
                    <span class="txt-middle">{{ userselect.RiskLevel1LastUpdated | datethai}}</span>
                </div>
                <div class="col-md-3">
                    <p>{{ 'CONTENT.expired-date' | translate }}</p>
                    <span class="txt-middle">{{ userselect.RiskLevelExpireDate | datethai}}</span>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-3">
                    <p>{{ 'CONTENT.your-risk-socre' | translate }}</p>
                    <span class="txt-middle">{{ riskprofile?.RiskProfileScore}}</span>
                </div>
                <div class="col-md-3">
                    <p>{{ 'CONTENT.your-investor-level' | translate }}</p>
                    <span class="txt-middle">{{ userselect.RiskLevel1}}</span>
                </div>
            </div>
            <div class="row justify-content-center mb-3 mt-lg-4">
                <div class="col-md-2 col-6 col-sm-4">
                    <button class="btn-med btn-primary" (click)="checkpage('suitability-test')">
                        {{ 'BUTTON.edit' | translate }}
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- over-view -->
<div class="fund-table-wrapper" *ngIf="page == 'suitability-test'">
    <div class="heading-section">
        <div class="detail-head-wrapper">
            <div class="row">
                <div class="col-md-12 col-12 icon-option mb-3">

                    <ul class="">
                        <!-- <li class="ico-fb">
                            <a href="#" title="facebook">
                                <img src="/assets/Images/icons/ico-pipe.png" />
                            </a>
                        </li>
                        <li class="ico-line">
                            <a href="#" title="line">
                                <img src="/assets/Images/icons/ico-download.png" />
                            </a>
                        </li> -->
                        <li class="ico-yt">
                            <a href="#" title="print">
                                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">

                    <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
                    <div class="select-wrapper inline-block">
                        <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno" class="selectpicker" data-live-search="true">
                            <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{
                                unitholder.UnitholderNo }} <ng-container *ngIf="unitholder.AgentCode">({{unitholder.AgentCode }})</ng-container></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
                    <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
                </div>
                <div class="col-sm-6 col-md-3">

                </div>
                <div class="col-sm-6 col-md-3">


                </div>
                <div class="col-sm-12 col-md-12 mt-md-3">
                    <p>{{ 'CONTENT.address' | translate }}</p>
                    <span class="txt-middle">{{ userselect.ContactAddress}}</span>
                </div>
            </div>
        </div>

        <div class="detail-head-wrapper" style="padding-bottom:10px;">
            <div class="row">
                <div class="col-md-6 text-left">
                    <p class="no-margin">{{ 'CONTENT.eval-date' | translate }}
                        <!-- <span> {{ dateformat }}</span> -->
                        <ng-container *ngIf="lang == 'th' "><span class="txt-middle">{{ dateformat }}</span></ng-container>
                        <ng-container *ngIf="lang == 'en' "><span class="txt-middle">{{ dateformatEng }}</span></ng-container>
                    </p>
                </div>
                <div class="col-md-6 text-md-right">
                    <p class="no-margin">NO.
                        <span>01</span>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="open-account-wrapper">
        <form [formGroup]="form">
            <div class="open-account-box">
                <div class="title-box">
                    <!-- <h3 class="sub-title -main-color">มีคำถามทั้งหมด {{countquestion}} ข้อ
                        <span class="color-red">ให้เลือกคำตอบที่คิดว่าดีที่สุดสำหรับนักลงทุนข้อละ 1 คำตอบ</span>
                    </h3> -->
                    <ng-container *ngIf="lang == 'th' ">
                        <h3 class="sub-title -main-color">มีคำถามทั้งหมด {{countquestion}} ข้อ
                        <span class="color-red">ให้เลือกคำตอบที่คิดว่าดีที่สุดสำหรับนักลงทุนข้อละ 1 คำตอบ</span>
                    </h3>
                    </ng-container>
                    <ng-container *ngIf="lang == 'en' ">
                        <h3 class="sub-title -main-color">There are {{countquestion}} questions
                        <span class="color-red">you must choose the best answer for each question</span>
                    </h3>
                    </ng-container>
                </div>
                <div class="wrap-container" formArrayName="question">
                    <div class="wrap-suitability">

                        <div class="row" *ngFor="let question of suitest.question; let y = index">
                            <div class="choice-wrap" *ngIf="suitest">
                                <div class="col-md-12">
                                    <div class="question-wrapper">
                                        <span class="color-red" *ngIf="y == 10">
                                                <ng-container *ngIf="lang == 'th' ">คำถามข้อ 11 ใช้เป็นข้อมูลเพิ่มเติมเพื่อประกอบการให้คำแนะนำ</ng-container>
                                                <ng-container *ngIf="lang == 'en' ">Question 11 is used as additional information to suggestions.</ng-container>
                                        </span>
                                        
                                        <br/>
                                        <span *ngIf="lang == 'th' ">{{y+1}}. {{ question.Name }}</span>
                                        <span *ngIf="lang == 'en' ">{{y+1}}. {{ question.NameEng }}</span>
                                    </div>
                                    <div class="answer-wrapper">
                                        <div class="row">
                                            <div class="col-12 col-lg-6" *ngFor="let Answers of question.Answers; let i = index">
                                                <div class="custom-radio-between">
                                                    <input id="{{y}}-{{i}}" type="radio" [value]="Answers" [formControlName]="y" required class="form-check-input rdo_custom"
                                                    />
                                                    <label for="{{y}}-{{i}}"></label>
                                                    <label for="{{y}}-{{i}}" class="title-fill control-label lbl_custom" *ngIf="lang == 'th' ">
                                                        {{Answers.Name}}</label>
                                                    <label for="{{y}}-{{i}}" class="title-fill control-label lbl_custom" *ngIf="lang == 'en' ">
                                                        {{Answers.NameEng}}</label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- for -->


                        <div class="row justify-content-center">
                            <div class="col-md-2 col-6">
                                <button class="btn-med btn-back-login" type="button" (click)="checkpage('over-view')">
                                    {{ 'BUTTON.back' | translate }}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>

                                </button>
                            </div>
                            <div class="col-md-2 col-6">
                                <button class="btn-med btn-primary btn" type="submit" (click)="checkpage('suitability-score')" [disabled]="loading">
                                    {{ 'BUTTON.cal' | translate }}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>

                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- suitability-test -->
<div class="fund-table-wrapper" *ngIf="page == 'suitability-score'">
    <div class="heading-section">
        <div class="detail-head-wrapper">
            <div class="row">
                <div class="col-md-12 icon-option mb-3">

                    <ul class="">
                        <!-- <li class="ico-fb">
                            <a href="#" title="sort">
                                <img src="/assets/Images/icons/ico-pipe.png" />
                            </a>
                        </li>
                        <li class="ico-line">
                            <a href="#" title="download">
                                <img src="/assets/Images/icons/ico-download.png" />
                            </a>
                        </li> -->
                        <li class="ico-yt">
                            <a href="#" title="print">
                                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-12">

                    <div class="score-wrapper">
                        <div class="score-result">

                            <div class="col-sm-12">
                                <div class="score-content">
                                    <h3>{{ 'CONTENT.score' | translate }}</h3>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="score-content">
                                    <div class="score-display">{{ resulttest.Score }}</div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="score-content">
                                    <span>{{ 'CONTENT.score-result' | translate }}</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="fund-list-wrapper">
                        <div class="row justify-content-center">
                            <div class="col-md-3 col-12 mr-3 mb-3">
                                <div class="row">
                                    <div class="col-md-8 col-8 no-padding">
                                        <div class="title-heading bg-little-green">
                                            <h3 class="">Risk Profile Level</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-4 no-padding">
                                        <div class="title-heading bg-green">
                                            <h3 class="text-center">{{ resulttest.RiskProfile }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-12 mr-3 mb-3">
                                <div class="row">
                                    <div class="col-md-8 col-8 no-padding">
                                        <div class="title-heading bg-little-primary">
                                            <h3 class="">{{ 'TABLE.fund-risk' | translate }}</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-4 no-padding">
                                        <div class="title-heading">
                                            <h3 class="text-center">{{ resulttest.RiskCriteria }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-12 mr-3 mb-3">
                                <div class="row">
                                    <div class="col-md-8 col-8 no-padding">
                                        <div class="title-heading bg-little-blue">
                                            <h3 class="">{{ 'TABLE.acc-risk' | translate }}</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-4 no-padding">
                                        <div class="title-heading bg-blue">
                                            <h3 class="text-center" *ngIf="resulttest.IsAcceptRisk">ได้</h3>
                                            <h3 class="text-center" *ngIf="!resulttest.IsAcceptRisk">ไม่ได้</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="show">
                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-2 col-6">
                            <button class="btn-med btn-primary btn" type="submit" (click)="summitriskprofile()" [disabled]="loading">
                                {{ 'BUTTON.accept' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>

                            </button>

                        </div>
                        <div class="col-md-2 col-6">
                            <button class="btn-med btn-back-login" type="button" (click)="checkpage('suitability-test')">
                                {{ 'BUTTON.edit' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>

                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="detail-body-wrapper">
        <div class="row no-margin">
            <div class="col-md-6 no-padding">
                <h3>
                    {{ 'CONTENT.example' | translate }}
                </h3>
                <div class="table-responsive">
                    <table class="table table-custom-score">
                        <thead>
                            <tr>
                                <th>
                                    <!-- คะแนน -->
                                    {{ 'TABLE.score' | translate }}
                                </th>
                                <th>
                                    Risk Profile
                                </th>
                                <th>
                                    <!-- ระดับความเสี่ยงของกองทุน -->
                                    {{ 'TABLE.fund-risk' | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>{{ 'TABLE.low' | translate }} 15</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    1
                                </td>
                                <td class="text-left">
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>15 - 21</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    2
                                </td>
                                <td class="text-left">
                                    1 - 4
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>22 - 29</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    3
                                </td>
                                <td class="text-left">
                                    1 - 5
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>30 - 36</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    4
                                </td>
                                <td class="text-left">
                                    1 - 7
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>37 {{ 'TABLE.up' | translate }}</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    5
                                </td>
                                <td class="text-left">
                                    1 - 8
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="row no-margin">
            <div class="col-md-12 no-padding">
                <h3>
                    <!-- สัดส่วนการลงทุน -->
                    {{ 'CONTENT.asset-alloction' | translate }}
                </h3>
                <div class="table-responsive">
                    <table class="table table-custom-score">
                        <thead>
                            <tr>
                                <th>
                                    <!-- ประเภทนักลงทุน -->
                                    {{ 'TABLE.invetor-type' | translate }}
                                </th>
                                <th>
                                    <!-- เงินฝากและ
                                    <br/>ตราสารหนี้ระยะสั้น -->
                                    {{ 'TABLE.deposit' | translate }}
                                </th>
                                <th>
                                    <!-- ตราสารหนี้ภาครัฐ
                                    <br/>ที่มีอายุ{{ 'TABLE.more' | translate }}1ปี -->
                                    {{ 'TABLE.gov-bond' | translate }}
                                </th>
                                <th>
                                    <!-- ตราสารหนี้
                                    <br/>ภาคเอกชน -->
                                    {{ 'TABLE.pri' | translate }}
                                </th>
                                <th>
                                    <!-- ตราสารทุน -->
                                    {{ 'TABLE.equity' | translate }}
                                </th>
                                <th>
                                    <!-- การลงทุน
                                    <br/>ทางเลือก** -->
                                    {{ 'TABLE.alter' | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>{{ 'TABLE.level' | translate }} 1</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.more' | translate }} 60 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.more' | translate }} 60 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 20 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 10 %
                                </td>

                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 5 %
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>{{ 'TABLE.level' | translate }} 2</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 20 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 70 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 70 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 20 %
                                </td>

                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 10 %
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>{{ 'TABLE.level' | translate }} 3</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 10 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 60 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 60 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 30 %
                                </td>

                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 10 %
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>{{ 'TABLE.level' | translate }} 4</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 10 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 40 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 40 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 40 %
                                </td>

                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 20 %
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <ul>
                                        <li>{{ 'TABLE.level' | translate }} 5</li>
                                    </ul>
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 5 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 30 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 30 %
                                </td>
                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 60 %
                                </td>

                                <td class="text-left">
                                    {{ 'TABLE.less' | translate }} 30 %
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <p class="color-red mt-3">**รวมถึงสินค้าโภคภัณฑ์ สัญญาซื้อขายล่วงหน้า</p>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-md-2 col-6 col-sm-4">
                <button class="btn-med btn-primary" (click)="checkpage('over-view')">
                    {{ 'BUTTON.edit' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>

                </button>
            </div>
        </div>
    </div>

</div>
<!-- suitability-score -->

<div class="modal fade modal-custom" tabindex="-1" role="dialog" style="z-index: 9999;" id="otpsuitest">
    <div class="modal-dialog otp" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">{{ 'LOGIN.otp' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <form [formGroup]="formotp">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{ 'LOGIN.otp-send' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-wrapper">
                                <input id="tel" name="tel" maxlength="30" type="text" [value]="resultsubmit?.mobile" disabled class="bg-gray">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-wrapper" style="margin: 0;">
                                <button class="btn-med btn-blue btn" (click)="requestotp()" type="button" [disabled]="loading">
                                    {{ 'BUTTON.otp' | translate }}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-receive' | translate }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss1('otp')">
                            <div class="input-wrapper">
                                <input class="bg-gray" id="otp" name="otp" maxlength="6" type="text" formControlName="otp" (keypress)="numberOnly($event)">
                                <div class="form-control-feedback" *ngIf="this.formotp.controls.otp.errors && ( this.formotp.controls.otp.touched)">
                                    <p *ngIf="this.formotp.controls.otp.errors.required">{{ 'Validation.required' | translate }}</p>
                                    <!-- <p *ngIf="this.form.controls.otp.errors.pattern">ข้อมูลไม่ถูกต้อง</p> -->

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row has-danger">
                        <div class="col-12 form-control-feedback">
                            <p>{{message}}</p>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-request' | translate }}{{ 'BUTTON.otp' | translate }}{{ 'LOGIN.otp-request2' | translate }}</p>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-primary btn" (click)="updatesuitest()" type="submit" [disabled]="loading">
                                {{ 'BUTTON.confirm' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-cancel" data-dismiss="modal" type="button" (click)="resetotp()">
                                {{ 'BUTTON.cancel' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="messagesuc" style="z-index: 9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <h3>บันทึกคะแนนแบบประเมินความเสี่ยงสำเร็จ</h3>
            </div>
            <div class="modal-footer" style="display: block;">
                <div class="row justify-content-end">
                    <div class="col-sm-6">
                        <button class="btn-med btn-primary" data-dismiss="modal">
                            <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <h3>{{message}}</h3>
            </div>
            <div class="modal-footer" style="display: block;">
                <div class="row justify-content-end">
                    <div class="col-sm-6">
                        <button class="btn-med btn-primary" data-dismiss="modal">
                            <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>