<!-- Paste this code after body tag -->
<!-- <div class="se-pre-con"></div> -->
<!-- Ends -->

<div class="canvas-menu-wrapper">
  <nav class="canvas-menu">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hidenav()">
          <h4 class="modal-title">X</h4>
        </button>
      <div class="top-menu-wrapper" id="top-menu-wrapper">
          <div class="wrapper">
              <div class="row">
                  <div class="col-md-12 top-social-nav">
                      <ul class="">
                          <li class="ico-fb">
                              <a href="#" title="บัญชีผู้ใช้">
                                 {{ 'HEADER.Account' | translate }} : 
                              </a>
                          </li>
                          <li class="ico-line">
                              <a href="#" title="{{ userdetail.FirstName }}">
                                  <img src="./assets/Images/icons/icon-login-white.png" />
                                  {{ userdetail.FirstName }}
                                  <!-- <img src="./assets/Images/icons/p_dropdown_select.png" /> -->
                              </a>
                          </li>
                         
                          <!-- <li class="ico-ig">
                              <a href="#" title="">
                                  <img src="./assets/Images/icons/ico-ig-white.png" />
                              </a>
                          </li> -->
                      </ul>
                      <ul class="sw-lang">
                           <li class="th" (click)="switchlang('th')" [ngClass]="{'current': langth}">
                              <a  title="ไทย">Thai</a>
                          </li>
                          <li class="en" (click)="switchlang('en')" [ngClass]="{'current': langen}">
                              <a  title="Eng">Eng</a>
                          </li>
                          <!-- <li class="ch">
                              <a href="#" title="Chi">Chi</a>
                          </li> -->
                      </ul>
                  </div>
              </div>
          </div>
    </div>
 
<!-- 
    <div id="top-canvas-menu" class="header_tools">
      
    </div> -->
<!--Include your top navigation here-->
    <!-- <div id="top-canvas-search" class="header_search">
      
    </div> -->
<!-- clone element form header_search -->
    <ul id="canvas_mainnav" class="list-unstyled main-menu">
      <li id="myport"><a routerLink="/myport" title="My Port">My Port <span class="icon"></span></a></li>
                                <li id="transaction"><a routerLink="/transaction" title="{{ 'HEADER.transaction' | translate }}">{{ 'HEADER.transaction' | translate }}<span class="icon"></span></a></li>
                                <li id="rmf-ltf"><a routerLink="/rmf-ltf" title="RMF/LTF">RMF/LTF<span class="icon"></span></a></li>
                                <li id="report"><a routerLink="/report" title="{{ 'HEADER.report' | translate }}">{{ 'HEADER.report' | translate }}<span class="icon"></span></a></li>
                                <li id="regular-list"><a routerLink="/regular-list" title="{{ 'HEADER.regular' | translate }} ">{{ 'HEADER.regular' | translate }} <span class="icon"></span></a></li>
                                <li id="profile"><a routerLink="/profile" title="{{ 'HEADER.profile' | translate }}">{{ 'HEADER.profile' | translate }} <span class="icon"></span></a></li>
                                <li >&nbsp;</li>
    </ul>
    <div class="row justify-content-center ">
        <div class="col-md-6 col-10 col-sm-6">
          <button class="btn-med btn-primary text-center" [routerLink]="['/login']">
                <img style="vertical-align: sub;" src="./assets/Images/icons/ico-forgot.png" />
            ออกจากระบบ
            <!-- <i class="fa fa-angle-right" aria-hidden="true"></i> -->

          </button>
        </div>
      </div>
  </nav>
  <!-- <li class="ico-yt">
      <a href="#" title="ออกจากระบบ">
          <img src="./assets/Images/icons/ico-forgot.png" />
          {{ 'HEADER.logout' | translate }}
      </a>
  </li> -->

  <!-- <div class="navbar navbar-inverse navbar-fixed-top">
      Include your brand here
      <div class="navbar-header">
        <a id="nav-expander" class="nav-expander fixed">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>
  </div> -->
</div>
<!-- End Canvas Menu Wrapper -->