<div class="footerforwarning">
  <div class="max-width-wrapper">
    <div class="mutual-fund-wrapper">
      <div class="detail-footer-wrapper">
        <div class="row">
          <div class="col-md-12">
            <ng-container *ngIf="lang == 'th' ">
              <p class="color-red no-margin">ข้อมูลที่แสดงข้างต้นนี้อาจมีการเปลี่ยนแปลงแก้ไขได้ หากเป็นรายการซื้อที่เรียกเก็บเงินไม่ได้
                หรือรายการผิดพลาดใดๆ</p>
            </ng-container>
            <ng-container *ngIf="lang == 'en' ">
              <p class="color-red no-margin">The above information is unofficial, it may be changed or corrected if the subscription
                amount cannot be collected or there is any technical problem.</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>