<app-header></app-header>

<div class="" id="maincontainer-wrapper">
    <div class="page-content-wrapper">
        <div class="mutual-fund-wrapper">
            <div class="max-width-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-menu-wrapper">
                            <div class="dropdown dropdown-content">
                                <button class="btn-med btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    เมนูกองทุน
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a (click)="navigate('edit-profile')" title="ตรวจสอบ/แก้ไข ข้อมูลส่วนตัว">ตรวจสอบ/แก้ไข ข้อมูลส่วนตัว</a>
                                    </li>
                                    <li>
                                        <a (click)="navigate('suitability')" title="แบบประเมินความเสี่ยงในการลงทุนที่เหมาะสม">แบบประเมินความเสี่ยงในการลงทุนที่เหมาะสม</a>
                                    </li>
                                    <li>
                                        <a (click)="navigate('change-password')" title="เปลี่ยนรหัสผ่าน">เปลี่ยนรหัสผ่าน</a>
                                    </li>
                                    <li>
                                        <a (click)="navigate('setting')" title="ตั้งค่า">ตั้งค่า</a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                                <li role="presentation" id="menu1" class="current">
                                    <a title="ตรวจสอบ/แก้ไข ข้อมูลส่วนตัว" (click)="navigate('edit-profile')">ตรวจสอบ/แก้ไข ข้อมูลส่วนตัว</a>
                                </li>
                                <li role="presentation" id="menu2">
                                    <a title="แบบประเมินความเสี่ยงในการลงทุนที่เหมาะสม" (click)="navigate('suitability')">แบบประเมินความเสี่ยงในการลงทุนที่เหมาะสม</a>
                                </li>
                                <li role="presentation" id="menu3">
                                    <a title="เปลี่ยนรหัสผ่าน" (click)="navigate('change-password')">เปลี่ยนรหัสผ่าน</a>
                                </li>
                                <li role="presentation" id="menu4">
                                    <a title="ตั้งค่า" (click)="navigate('setting')">ตั้งค่า</a>
                                </li>

                            </ul>
                        </div>

                        <router-outlet></router-outlet>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="disclaimer">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">ระบบความปลอดภัย OTP</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ระบบจะส่งรหัส OTP ไปยังเบอร์โทรศัพท์มือถือ
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-wrapper">
                                <input id="email-or-tel" name="email-or-tel" maxlength="30" type="text" placeholder="085XXXXXXX" class="bg-gray">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-wrapper">
                                <button class="btn-med btn-blue">
                                    ส่งรหัส OTP
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>ระบุรหัส OTP ที่ได้รับ</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-wrapper">
                                <input id="name" name="name" maxlength="30" type="text" class="bg-gray">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <p>กรุณากดปุ่ม "Request OTP" เพื่อรับรหัสรักษาความปลอดภัย</p>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-4 col-xs-6">
                            <button class="btn-med btn-primary">
                                ยืนยัน
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <button class="btn-med btn-cancel" data-dismiss="modal">
                                ยกเลิก
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<app-footer></app-footer>