<div class="" id="maincontainer-wrapper">
    <div class="page-content-wrapper">
        <div class="mutual-fund-wrapper">
            <div class="max-width-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-menu-wrapper">
                            <div class="dropdown dropdown-content">
                                <button class="btn-med btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    เมนูกองทุน
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" (click)="navigate('edit-profile')" title="{{ 'NAVBAR.view-edit-personal-information' | translate }}" *ngIf="userdetail.MemberType != 'Agent'">{{ 'NAVBAR.view-edit-personal-information' | translate }}</a>
                                    <a class="dropdown-item" (click)="navigate('suitability')" title="{{ 'NAVBAR.suitability' | translate }}" *ngIf="userdetail.MemberType != 'Agent'">{{ 'NAVBAR.suitability' | translate }}</a>
                                    <a class="dropdown-item" (click)="navigate('change-password')" title="{{ 'NAVBAR.changepassword' | translate }}">{{ 'NAVBAR.changepassword' | translate }}</a>
                                    <!-- <a class="dropdown-item" (click)="navigate('setting')" title="{{ 'NAVBAR.setting' | translate }}">{{ 'NAVBAR.setting' | translate }}</a> -->
                                </div>
                            </div>
                            <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                                <li role="presentation" id="menu1" class="current"  *ngIf="userdetail.MemberType != 'Agent'">
                                    <a title="{{ 'NAVBAR.view-edit-personal-information' | translate }}" (click)="navigate('edit-profile')">{{ 'NAVBAR.view-edit-personal-information' | translate }}</a>
                                </li>
                                <li role="presentation" id="menu2"  *ngIf="userdetail.MemberType != 'Agent'">
                                    <a title="{{ 'NAVBAR.suitability' | translate }}" (click)="navigate('suitability')">{{ 'NAVBAR.suitability' | translate }}</a>
                                </li>
                                <li role="presentation" id="menu3">
                                    <a title="{{ 'NAVBAR.changepassword' | translate }}" (click)="navigate('change-password')">{{ 'NAVBAR.changepassword' | translate }}</a>
                                </li>
                                <!-- <li role="presentation" id="menu4">
                                    <a title="{{ 'NAVBAR.setting' | translate }}" (click)="navigate('setting')">{{ 'NAVBAR.setting' | translate }}</a>
                                </li> -->

                            </ul>
                        </div>

                        <router-outlet></router-outlet>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="disclaimer">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">{{ 'LOGIN.otp' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{ 'LOGIN.otp-send' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-wrapper">
                                <input id="email-or-tel" name="email-or-tel" maxlength="30" type="text" placeholder="085XXXXXXX" class="bg-gray">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-wrapper">
                                <button class="btn-med btn-blue">
                                    {{ 'BUTTON.otp' | translate }}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-receive' | translate }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-wrapper">
                                <input id="name" name="name" maxlength="30" type="text" class="bg-gray">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-request' | translate }}</p>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-primary">
                                {{ 'BUTTON.confirm' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-cancel" data-dismiss="modal">
                                {{ 'BUTTON.cancel' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>