@import '../../assets/Content/default/sass/variables';
.fund-list-wrapper{
     @media screen and (max-width: 999px) {
        .title-heading{
            height: 120px;            
            vertical-align: middle;
            padding: 25px 15px;
            

        }
    }
    @media screen and (max-width: 767px) {
        h3{
            font-size: 30px;

        }
        .title-heading{
            height: 120px;
            padding: 30px;
            vertical-align: middle;
            

        }
      }
}

   
