<div class="fund-table-wrapper">
  <div class="heading-section">
      <div class="row">
          <div class="detail-head-wrapper">
              <div class="col-md-12 col-xs-12 icon-option mb-3">

                  <ul class="">
                      <!-- <li class="ico-fb">
                          <a href="#" title="facebook">
                              <img src="/assets/Images/icons/ico-pipe.png" />
                          </a>
                      </li>
                      <li class="ico-line">
                          <a href="#" title="line">
                              <img src="/assets/Images/icons/ico-download.png" />
                          </a>
                      </li> -->
                      <li class="ico-yt">
                          <a href="#" title="youtube">
                              <img src="/assets/Images/icons/ico-print.png" />
                          </a>
                      </li>

                  </ul>
              </div>
              <div class="col-md-3">

                  <p>เลขที่ผู้ถือหน่วยลงทุน</p>
                  <div class="select-wrapper inline-block">
                      <select name="ddlLink" id="ddlLink">
                          <option value="0" selected="">9990244757</option>
                          <option value="36">9990244757</option>
                          <option value="29">9990244757</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-3">
                  <p>ชื่อผู้ถือหน่วยลงทุน</p>
                  <span>เนติวัฒน์ โชติกร</span>
              </div>
          </div>
      </div>
  </div>
  <div class="detail-body-wrapper">
      <div class="row">
          <div class="col-md-9">
              <div class="row">
                  <div class="col-md-4">
                      <span>รหัสผ่านปัจจุบัน</span>
                  </div>
                  <div class="col-md-6">
                      <div class="input-wrapper ">
                          <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="">
                      </div>
                  </div>
              </div>
              <div class="row">

                  <div class="col-md-4">
                      <span>รหัสผ่านใหม่</span>
                  </div>
                  <div class="col-md-6">
                      <div class="input-wrapper ">
                          <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="">
                      </div>
                  </div>
              </div>
              <div class="row">

                  <div class="col-md-4">
                      <span>ยืนยันรหัสผ่านใหม่อีกครั้ง</span>
                  </div>
                  <div class="col-md-6">
                      <div class="input-wrapper ">
                          <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="">
                      </div>
                  </div>
              </div>


              <div class="row">
                  <div class="col-md-3 col-xs-6 offset-md-4">
                      <button class="btn-med btn-primary">
                          ตกลง
                          <i class="fa fa-angle-right" aria-hidden="true"></i>

                      </button>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <button class="btn-med btn-cancel" >
                          ยกเลิก
                          <i class="fa fa-angle-right" aria-hidden="true"></i>

                      </button>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
