<div class="fund-table-wrapper">
    <div class="heading-section">
        <div class="detail-head-wrapper">
            <div class="row">
                <div class="col-md-12 col-12 icon-option mb-3">

                    <ul class="">
                        <!-- <li class="ico-fb">
                          <a href="#" title="facebook">
                              <img src="/assets/Images/icons/ico-pipe.png" />
                          </a>
                      </li>
                      <li class="ico-line">
                          <a href="#" title="line">
                              <img src="/assets/Images/icons/ico-download.png" />
                          </a>
                      </li> -->
                        <li class="ico-yt">
                            <a title="print">
                                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-3">

                    <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
                    <div class="select-wrapper inline-block">
                        <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno" class="selectpicker" data-live-search="true">
                            <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{
                                unitholder.UnitholderNo }} <ng-container *ngIf="unitholder.AgentCode">({{unitholder.AgentCode }})</ng-container></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
                    <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
                </div>
                <div class="col-md-6">
                    <p>{{ 'CONTENT.address' | translate }}</p>
                    <span class="txt-middle">{{ userselect.ContactAddress}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-body-wrapper">
        <form [formGroup]="formchangepass">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="txt-middle">{{ 'CONTENT.current-p' | translate }}</p>
                        </div>
                        <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('currentpassword')">
                            <div class="input-wrapper ">
                                <input id="currentpassword" name="currentpassword" maxlength="16" type="password" class="bg-gray" formControlName="currentpassword" required>
                                <div class="form-control-feedback" *ngIf="this.formchangepass.controls.currentpassword.errors && ( this.formchangepass.controls.currentpassword.touched)">
                                    <p *ngIf="this.formchangepass.controls.currentpassword.errors.required ">{{ 'Validation.required' | translate }}</p>
                                    <p *ngIf="this.formchangepass.controls.currentpassword.errors.pattern">{{ 'Validation.password' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <p class="txt-middle">{{ 'CONTENT.new-p' | translate }}</p>
                        </div>
                        <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('newpassword')">
                            <div class="input-wrapper ">
                                <input id="newpassword" name="newpassword" maxlength="16" type="password" class="bg-gray" formControlName="newpassword" required>
                                <div class="form-control-feedback" *ngIf="this.formchangepass.controls.newpassword.errors && ( this.formchangepass.controls.newpassword.touched)">
                                    <p *ngIf="this.formchangepass.controls.newpassword.errors.required ">{{ 'Validation.required' | translate }}</p>
                                    <p *ngIf="this.formchangepass.controls.newpassword.errors.pattern">{{ 'Validation.password' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <p class="txt-middle">{{ 'CONTENT.confirm-new-p' | translate }}</p>
                        </div>
                        <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss('confirmpassword')">
                            <div class="input-wrapper ">
                                <input id="confirmpassword" name="confirmpassword" maxlength="16" type="password" class="bg-gray" formControlName="confirmpassword" required>
                                <div class="form-control-feedback" *ngIf="this.formchangepass.controls.confirmpassword.errors && ( this.formchangepass.controls.confirmpassword.touched)">
                                    <p *ngIf="this.formchangepass.controls.confirmpassword.errors.required ">{{ 'Validation.required' | translate }}</p>
                                    <p *ngIf="this.formchangepass.controls.confirmpassword.errors.pattern">{{ 'Validation.password' | translate }}</p>
                                    <p *ngIf="cpwd.hasError('invalid')">{{ 'Validation.samepassword' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 col-6 offset-md-4">
                            <button class="btn-med btn-primary btn" type="submit" (click)="onSubmit()" [disabled]="loading">
                                {{ 'BUTTON.ok' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>

                            </button>
                        </div>
                        <div class="col-md-3 col-6">
                            <button class="btn-med btn-cancel" type="button" (click)="reset()">
                                {{ 'BUTTON.cancel' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog"  style="z-index: 9999;" id="otpchangepassword">
    <div class="modal-dialog otp" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">{{ 'LOGIN.otp' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <form [formGroup]="formotp">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{ 'LOGIN.otp-send' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-wrapper">
                                <input id="tel" name="tel" maxlength="30" type="text" [value]="res.mobile" disabled class="bg-gray">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-wrapper" style="margin: 0;">
                                <button class="btn-med btn-blue" type="button" (click)="requestotp()" [disabled]="loading">
                                    {{ 'BUTTON.otp' | translate }}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-receive' | translate }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss4('otp')">
                            <div class="input-wrapper">
                                    <input class="bg-gray" id="otp" name="otp" maxlength="6" type="text" formControlName="otp" (keypress)="numberOnly($event)">
                                    <div class="form-control-feedback" *ngIf="this.formotp.controls.otp.errors && ( this.formotp.controls.otp.touched)">
                                      <p *ngIf="this.formotp.controls.otp.errors.required">{{ 'Validation.required' | translate }}</p>
                                      <!-- <p *ngIf="this.form.controls.otp.errors.pattern">ข้อมูลไม่ถูกต้อง</p> -->
                      
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row has-danger">
                        <div class="col-12 form-control-feedback">
                            <p>{{message}}</p>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-request' | translate }}{{ 'BUTTON.otp' | translate }}{{ 'LOGIN.otp-request2' | translate }}</p>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-primary btn" type="submit" (click)="updatepassword()" [disabled]="loading">
                                {{ 'BUTTON.confirm' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-cancel" type="button" data-dismiss="modal" (click)="resetotp()">
                                {{ 'BUTTON.cancel' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
              <h3>{{ message }}</h3>
            </div>
            <div class="modal-footer" style="display: block;">
              <div class="row justify-content-end">
                <div class="col-sm-6">
                  <button class="btn-med btn-primary" data-dismiss="modal" (click)="reset()">
                    <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>