/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*Arial*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
@font-face {
  font-family: 'KitithadaRegular';
  src: url("/assets/fonts/PSL094PRO.eot");
  src: url("/assets/fonts/PSL094PRO.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/PSL094PRO.woff") format("woff"), url("/assets/fonts/PSL094PRO.ttf") format("truetype"), url("/assets/fonts/PSL094PRO.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KitithadaBold';
  src: url("/assets/fonts/PSL096PRO.eot");
  src: url("/assets/fonts/PSL096PRO.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/PSL096PRO.woff") format("woff"), url("/assets/fonts/PSL096PRO.ttf") format("truetype"), url("/assets/fonts/PSL096PRO.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* note : for IE8,7 need css3pie helper*/
.mutual-fund-wrapper {
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 75px; }
  .mutual-fund-wrapper .fund-list-wrapper {
    margin-top: 20px; }
  .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper {
    padding: 25px 20px;
    padding-top: 0;
    background-color: #fff; }
    .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper h3 {
      margin: 0;
      margin-bottom: 20px; }
    .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs {
      display: block;
      width: 100%; }
      .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 20px; }
        .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li {
          position: relative;
          display: inline-block;
          padding: 5px 15px;
          margin-bottom: 7px;
          background: #D3D3D3;
          color: #5a5a5a;
          cursor: pointer; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li a {
            font-size: 22px;
            line-height: 24px;
            color: #5a5a5a; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li:hover {
            background-color: #1CA59B; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li:hover a {
              color: #fff; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li.active {
            background-color: #1CA59B;
            cursor: pointer; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li.active a {
              color: #fff; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li.active:after {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 183, 213, 0);
              border-top-color: #1CA59B;
              border-width: 7px;
              margin-left: -7px; }
      @media screen and (max-width: 999px) {
        .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs {
          margin-bottom: 20px; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li {
            display: inline-block;
            width: auto; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .nav-chart-tabs ul li.active:after {
              display: none; } }
    .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination {
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      padding-top: 20px;
      margin: 0 auto 20px auto;
      border-top: 1px solid #cdcdcd; }
      .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .page-text {
        font-size: 22px; }
      .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .view-all {
        font-size: 22px;
        cursor: pointer; }
        .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .view-all:hover {
          color: #1CA59B; }
      .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder {
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle; }
        .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a {
          width: 40px;
          height: 40px;
          display: inline-block;
          font-size: 24px;
          line-height: 40px;
          cursor: pointer;
          margin: 0 5px;
          color: #5a5a5a;
          text-align: center; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a:hover {
            background-color: #1CA59B;
            color: #fff; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-previous {
            text-indent: -9999px;
            background-image: url("../../../../Images/icons/ico-slideleft.png");
            background-position: center center;
            background-repeat: no-repeat; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-previous:hover {
              background-color: transparent;
              color: #fff; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-next {
            text-indent: -9999px;
            background-image: url("../../../../Images/icons/ico-slideright.png");
            background-position: center center;
            background-repeat: no-repeat; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-next:hover {
              background-color: transparent;
              color: #fff; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-first, .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-last {
            color: #5a5a5a;
            background-color: transparent; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-first:hover, .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-last:hover {
              color: #5a5a5a;
              background-color: transparent; }
          .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-current {
            background-color: #1CA59B;
            color: #fff; }
            .mutual-fund-wrapper .fund-table-wrapper .graph-wrapper .list-pagination .holder a.jp-current:hover {
              color: #fff; }
  .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item {
    padding: 1px 0 1px 0;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: none; }
    .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item:first-child {
      padding: 0;
      border-bottom: none; }
    .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item:last-child {
      padding: 0;
      border-bottom: none; }
      .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item:last-child .list-group-head {
        border-bottom: none; }
    .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head {
      height: 50px;
      border-bottom: 1px solid #cdcdcd;
      background-color: transparent;
      cursor: pointer; }
      .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head > div {
        height: 50px;
        padding: 0 15px;
        margin: 0;
        line-height: 34px; }
        .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head > div h3 {
          margin: 0 auto;
          line-height: 34px;
          color: #1CA59B; }
        .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head > div .icn-circle {
          position: absolute;
          top: 0;
          right: 20px;
          font-size: 24px;
          color: #fff;
          border-radius: 50%;
          background-color: #1CA59B; }
          .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head > div .icn-circle.fa-stack {
            width: 34px;
            height: 34px; }
            .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head > div .icn-circle.fa-stack .fa-stack-2x {
              font-size: 24px;
              line-height: 34px; }
        .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head > div a {
          position: absolute;
          top: 0px;
          left: 10px;
          height: 25px;
          color: #fff;
          text-decoration: none;
          vertical-align: middle;
          line-height: 23px; }
      .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-head.active {
        border-bottom: none; }
    .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .active > div {
      height: 50px;
      padding: 0 15px;
      margin: 0;
      line-height: 50px; }
      .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .active > div .fa-angle-down:before {
        content: "\f106"; }
    .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-content {
      display: none;
      height: auto;
      padding: 0;
      border: none;
      border-bottom: 1px solid #cdcdcd;
      border-top: none;
      text-align: center;
      background-color: #fff; }
      .mutual-fund-wrapper .fund-table-wrapper .list-group .list-group-item .list-group-content.opened {
        display: block; }
  .mutual-fund-wrapper .dividend-wrapper {
    position: relative;
    display: block;
    max-width: 100%;
    background-color: #fff; }
    .mutual-fund-wrapper .dividend-wrapper .nav-tabs {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
      background-color: #fff; }
      .mutual-fund-wrapper .dividend-wrapper .nav-tabs > li {
        margin-bottom: 0; }
        .mutual-fund-wrapper .dividend-wrapper .nav-tabs > li a {
          font-size: 24px;
          line-height: 28px;
          color: #ccc;
          padding: 10px 25px;
          border: 0;
          margin-right: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          -pie-border-radius: 0;
          behavior: url("/assets/pie/PIE.htc");
          background-color: #f5f5f5; }
        .mutual-fund-wrapper .dividend-wrapper .nav-tabs > li.active a {
          color: #fff;
          border: 0;
          background-color: #1CA59B; }
      @media screen and (max-width: 999px) {
        .mutual-fund-wrapper .dividend-wrapper .nav-tabs > li a {
          padding: 10px; } }
    .mutual-fund-wrapper .dividend-wrapper .tab-content .tab-pane {
      display: block; }
    .mutual-fund-wrapper .dividend-wrapper .list-group {
      border-top: 15px solid #f5f5f5; }
      .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item {
        padding: 1px 0 1px 0;
        margin: 0 auto;
        margin-bottom: 10px;
        border-bottom: none; }
        .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item:first-child {
          padding: 0;
          border-bottom: none; }
        .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item:last-child {
          padding: 0;
          border-bottom: none; }
          .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item:last-child .list-group-head {
            border-bottom: none; }
        .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head {
          height: 50px;
          border-bottom: 1px solid #cdcdcd;
          background-color: transparent;
          cursor: pointer; }
          .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head > div {
            height: 50px;
            padding: 0 15px;
            margin: 0;
            line-height: 34px; }
            .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head > div h3 {
              margin: 0 auto;
              line-height: 50px;
              color: #1CA59B; }
            .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head > div .icn-circle {
              position: absolute;
              top: 8px;
              right: 20px;
              font-size: 24px;
              color: #fff;
              border-radius: 50%;
              background-color: #1CA59B; }
              .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head > div .icn-circle.fa-stack {
                width: 34px;
                height: 34px; }
                .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head > div .icn-circle.fa-stack .fa-stack-2x {
                  font-size: 24px;
                  line-height: 34px; }
            .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head > div a {
              position: absolute;
              top: 0px;
              left: 10px;
              height: 25px;
              color: #fff;
              text-decoration: none;
              vertical-align: middle;
              line-height: 23px; }
          .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-head.active {
            border-bottom: none; }
        .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .active > div {
          height: 50px;
          padding: 0 15px;
          margin: 0;
          line-height: 50px; }
          .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .active > div .fa-angle-down:before {
            content: "\f106"; }
        .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-content {
          display: none;
          height: auto;
          padding: 15px;
          border: none;
          border-bottom: none solid #cdcdcd;
          border-top: none;
          text-align: left;
          background-color: #fff; }
          .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-content.opened {
            display: block; }
          .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-content ol {
            list-style-type: decimal;
            list-style-position: outside;
            padding: 0;
            padding-left: 20px;
            margin: 0; }
            .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-content ol li {
              font-size: 24px;
              line-height: 28px;
              color: #1CA59B; }
              .mutual-fund-wrapper .dividend-wrapper .list-group .list-group-item .list-group-content ol li span {
                font-size: 24px;
                line-height: 28px;
                color: #5a5a5a; }
    .mutual-fund-wrapper .dividend-wrapper .dividend-tabs-content .list-group .list-group-item .list-group-content {
      padding: 0; }
    .mutual-fund-wrapper .dividend-wrapper .dividend-tabs-content .table-responsive .table.table-nav > tbody > tr > td:first-child {
      width: 300px;
      max-width: unset;
      text-align: left; }
    .mutual-fund-wrapper .dividend-wrapper .dividend-tabs-content .table-responsive .table.table-nav > tbody > tr > td i {
      padding-right: 10px; }
  .mutual-fund-wrapper .calendar-wrapper {
    display: block;
    padding: 25px 20px; }
    .mutual-fund-wrapper .calendar-wrapper .date-title {
      font-size: 66px;
      line-height: 66px;
      color: #1CA59B;
      display: block; }
      @media screen and (max-width: 999px) {
        .mutual-fund-wrapper .calendar-wrapper .date-title {
          display: inline-block;
          width: auto;
          margin-right: 10px;
          margin-top: 0; } }
    .mutual-fund-wrapper .calendar-wrapper .month-title {
      font-size: 28px;
      line-height: 28px;
      color: #1CA59B;
      display: block; }
      @media screen and (max-width: 999px) {
        .mutual-fund-wrapper .calendar-wrapper .month-title {
          display: inline-block;
          width: auto;
          margin-right: 10px;
          margin-top: 0; } }
    .mutual-fund-wrapper .calendar-wrapper .year-title {
      font-size: 66px;
      line-height: 66px;
      color: #1CA59B;
      display: block; }
      @media screen and (max-width: 999px) {
        .mutual-fund-wrapper .calendar-wrapper .year-title {
          display: inline-block;
          width: auto;
          margin-right: 10px;
          margin-top: 0; } }
    .mutual-fund-wrapper .calendar-wrapper .fc-content {
      margin-top: 12px; }
    .mutual-fund-wrapper .calendar-wrapper .event-radio-ctn {
      float: left;
      margin-right: 5px; }
    .mutual-fund-wrapper .calendar-wrapper .event-full {
      float: left;
      margin-right: 5px;
      color: #ee1a29; }
  .mutual-fund-wrapper .btn-wrapper {
    margin: 25px auto; }

#calendar {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: "KitithadaBold";
  font-size: 24px;
  line-height: 24px; }
  #calendar .fc-widget-header {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    color: #1CA59B; }
  #calendar .fc-widget-content {
    color: #5a5a5a;
    border: 1px solid #fff;
    background: #efefef; }
    #calendar .fc-widget-content.fc-other-month {
      background: #efefef; }
    #calendar .fc-widget-content.fc-today {
      color: #1CA59B;
      background-color: #cdcdcd; }
      #calendar .fc-widget-content.fc-today .fc-day-number {
        color: #1CA59B; }
    #calendar .fc-widget-content.fc-sun, #calendar .fc-widget-content.fc-sat {
      background-color: #cdcdcd; }
    #calendar .fc-widget-content .fc-day-number {
      padding: 5px 10px;
      margin: 0;
      font-size: 24px;
      line-height: 24px;
      color: #5a5a5a; }
  #calendar .fc-header {
    display: block;
    position: absolute;
    top: 33px;
    right: -99px;
    width: auto !important; }
    @media screen and (max-width: 999px) {
      #calendar .fc-header {
        position: relative;
        height: 45px;
        padding: 0;
        margin: 10px 0;
        top: unset;
        right: unset; } }
  #calendar .fc-state-default, #calendar .fc-state-default .fc-button-inner {
    display: inline-block;
    width: auto;
    height: 45px;
    padding: 0;
    margin: 0;
    background-color: transparent; }
    #calendar .fc-state-default .fc-button-content, #calendar .fc-state-default .fc-button-inner .fc-button-content {
      display: block;
      width: 45px;
      height: 45px;
      padding: 0;
      line-height: 45px;
      text-align: center;
      color: #fff;
      background-color: #1CA59B; }
  #calendar .fc-event {
    background: none;
    font-size: 13px;
    border: 0px; }
    #calendar .fc-event .fc-event-inner {
      padding: 5px 10px;
      /*color: $color-primary;*/ }
      #calendar .fc-event .fc-event-inner span {
        font-size: 22px;
        line-height: 22px; }
      #calendar .fc-event .fc-event-inner ul {
        margin: 0 0 0 10px; }
        #calendar .fc-event .fc-event-inner ul li {
          list-style: none;
          position: relative;
          padding: 2px 0; }
          #calendar .fc-event .fc-event-inner ul li i {
            display: block;
            position: absolute;
            top: 5px;
            left: -10px;
            font-size: 14px; }
    #calendar .fc-event .fc-event-title a {
      font-size: 22px;
      line-height: 22px;
      color: #1CA59B; }
      #calendar .fc-event .fc-event-title a:hover {
        color: #000;
        text-decoration: none; }
