<div class="fund-table-wrapper">
    <div class="heading-section">
        <div class="detail-head-wrapper">
            <div class="row">
                <div class="col-md-12 col-12 icon-option mb-3">

                    <ul class="">
                        <!-- <li class="ico-fb">
                            <a href="#" title="facebook">
                                <img src="/assets/Images/icons/ico-pipe.png" />
                            </a>
                        </li>
                        <li class="ico-line">
                            <a href="#" title="line">
                                <img src="/assets/Images/icons/ico-download.png" />
                            </a>
                        </li> -->
                        <li class="ico-yt">
                            <a href="#" title="youtube">
                                <img src="/assets/Images/icons/ico-print.png" />
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
                    <div class="select-wrapper inline-block">
                        <select  [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="ddlLink">
                            <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index" >{{ unitholder.UnitholderNo }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
                    <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
                </div>
                
            </div>
        </div>
    </div>


    <!-- <div class="col-md-6"> -->
    <div class="form-profile-wrapper">
        <form>
            <div class="detail-body-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <H4 class="text-left">{{ 'CONTENT.profie' | translate }}</H4>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-12 form-group">
                        <p>{{ 'CONTENT.address' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="add-no" name="add-no" maxlength="30" type="text"  [(ngModel)]="profile.unitholderinfo.ContactAddress1" required  *ngIf="profile">
                        </div>
                    </div>

                    <!-- <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.moo-no' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="moo-no" name="moo-no" maxlength="30" type="text" value="">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.mooban' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="mooban" name="mooban" maxlength="30" type="text" value="">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.floor' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="floor" name="floor" maxlength="30" type="text" value="">
                        </div>
                    </div> -->

                </div>
                <div class="row">
                    <!-- <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.soi' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="soi" name="soi" maxlength="30" type="text" value="จุลดิส">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.road' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="road" name="road" maxlength="30" type="text" value="">
                        </div>
                    </div> -->

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.tambon' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="tambon" name="tambon" maxlength="30" type="text" value="พญาไท">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.amphur' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="amphur" name="amphur" maxlength="30" type="text" value="ราชเทวี">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                            <p>{{ 'CONTENT.province' | translate }}</p>
                            <div class="select-wrapper inline-block">
    
                                <select name="ddlLink" id="ddlLink">
                                    <option value="0" selected="">กรุงเทพมหานคร</option>
                                    <option value="36">กรุงเทพมหานคร</option>
                                    <option value="29">กรุงเทพมหานคร</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="col-md-3 form-group">
                            <p>{{ 'CONTENT.post-code' | translate }}</p>
                            <div class="input-wrapper ">
                                <input id="post-code" maxlength="30" type="text" [(ngModel)]="profile.unitholderinfo.ContactZipCode" name="ContactZipCode" *ngIf="profile">
                            </div>
                        </div>

                </div>

                <div class="row">                    

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.country' | translate }}</p>
                        <div class="select-wrapper inline-block">

                            <select name="ddlLink" id="ddlLink">
                                <option value="0" selected="">ประเทศไทย</option>
                                <option value="36">ประเทศลาว</option>
                                <option value="29">ประเทศพม่า</option>
                            </select>
                        </div>
                    </div>

                </div>


            </div>
            <div class="detail-footer-wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <span class="txt-middle">{{ 'CONTENT.m-phone' | translate }}</span>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="input-wrapper ">
                            <input id="password" name="password" maxlength="30" type="text" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span class="txt-middle">{{ 'CONTENT.w-phone' | translate }}</span>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="input-wrapper ">
                            <input id="password" name="password" maxlength="30" type="text" value="">
                        </div>
                    </div>
                    <!-- 
                    <div class="col-md-3">
                        <span>เบอร์โทรศัพท์ มือถือ</span>
                    </div>

                    <div class="col-md-3">
                        <div class="input-wrapper ">
                            <input id="password" name="password" maxlength="30" type="text" value="0850594153">
                        </div>
                    </div> -->
                </div>

                <!-- <div class="row">
                    
                    
                </div> -->

                <div class="row">
                    <div class="col-md-3">
                        <span class="txt-middle">{{ 'CONTENT.f-num' | translate }}</span>
                    </div>

                    <div class="col-md-3">
                        <div class="input-wrapper ">
                            <input id="password" name="password" maxlength="30" type="text" value="">
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <span>อีเมล</span>
                    </div>
                    <div class="col-md-3">
                        <div class="input-wrapper ">
                            <input id="password" name="password" maxlength="30" type="text" value="natiwat@hotmail.com">
                        </div>
                    </div> -->

                    <div class="col-md-3 txt-middle">
                        <span>{{ 'CONTENT.tax' | translate }}</span>
                    </div>

                    <div class="col-md-3 txt-middle">
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <div class="custom-radio-between">
                                    <input value="101" id="101" name="rad1" type="radio">
                                    <label for="101"></label>
                                    <p>หัก</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="custom-radio-between">
                                    <input value="102" id="102" name="rad1" type="radio">
                                    <label for="102"></label>
                                    <p>ไม่หัก</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- data-toggle="modal" data-target="#disclaimer" data-backdrop="static"
                            data-keyboard="false" -->
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-2 col-6">
                        <button class="btn-med btn-primary" (click)="openmodal()">
                            {{ 'BUTTON.ok' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </button>

                    </div>
                    <div class="col-md-2 col-6">
                        <button class="btn-med btn-cancel">
                            {{ 'BUTTON.cancel' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </button>
                    </div>
                </div>

            </div>


        </form>


    </div>
</div>
