<div class="fund-table-wrapper">
    <div class="heading-section">
        <div class="detail-head-wrapper">
            <div class="row">
                <div class="col-md-12 col-12 icon-option mb-3">

                    <ul class="">
                        <li class="ico-yt">
                            <a title="print">
                                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
                    <div class="select-wrapper inline-block">
                        <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="unitholderno" class="selectpicker"
                            data-live-search="true">
                            <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{
                                unitholder.UnitholderNo }}
                                <ng-container *ngIf="unitholder.AgentCode">({{unitholder.AgentCode }})</ng-container>
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
                    <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
                </div>

            </div>
        </div>
    </div>

    <div class="form-profile-wrapper">
        <form [formGroup]="form">
            <div class="detail-body-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <H4 class="text-left">{{ 'CONTENT.profie' | translate }}</H4>
                    </div>
                </div>


                <div class="row ">

                    <div class="col-12 col-md-6 form-group" [ngClass]="ValidatorDisplayCss('address')">
                        <p>{{ 'CONTENT.address-edit' | translate }}</p>
                        <div class="input-wrapper">
                            <input id="address" name="address" type="text" formControlName="address" required maxlength="250">
                            <div class="form-control-feedback" *ngIf="this.form.controls.address.errors && (this.form.controls.address.touched)">
                                <p *ngIf="this.form.controls.address.errors.required">{{ 'Validation.required' | translate
                                    }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('province')">
                        <p>{{ 'CONTENT.province' | translate }}</p>
                        <div class="select-wrapper inline-block">

                            <select title="{{ 'CONTENT.select-p' | translate }}" name="province" id="province" formControlName="province" required (change)="onprovincechange()"
                                class="selectpicker">
                                <option [ngValue]="province" *ngFor="let province of provincelist; let i = index">{{ province.ProvinceName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.province.errors && (this.form.controls.province.touched)">
                                <p *ngIf="this.form.controls.province.errors.required">{{ 'Validation.required' | translate
                                    }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('amphur')">
                        <p>{{ 'CONTENT.amphur' | translate }}</p>
                        <div class="select-wrapper inline-block">
                            <select title="{{ 'CONTENT.select-a' | translate }}" name="amphur" id="amphur" formControlName="amphur" required (change)="onamphurchange()"
                                [attr.disabled]="!this.form.controls.province.value ? '' : null" class="selectpicker">
                                <option [ngValue]="amphur" *ngFor="let amphur of amphurlist; let i = index">{{ amphur.UmpurName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.amphur.errors && (this.form.controls.amphur.touched)">
                                <p *ngIf="this.form.controls.amphur.errors.required">{{ 'Validation.required' | translate
                                    }}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('tambon')">
                        <p>{{ 'CONTENT.tambon' | translate }}</p>
                        <div class="select-wrapper inline-block">
                            <select title="{{ 'CONTENT.select-t' | translate }}" name="tambon" id="tambon" formControlName="tambon" required (change)="ontambonchange()"
                                [attr.disabled]="!this.form.controls.amphur.value ? '' : null" class="selectpicker">
                                <option [ngValue]="tambon" *ngFor="let tambon of tambonlist; let i = index">{{ tambon.TumbolName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.tambon.errors && (this.form.controls.tambon.touched)">
                                <p *ngIf="this.form.controls.tambon.errors.required">{{ 'Validation.required' | translate
                                    }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('postcode')">
                        <p>{{ 'CONTENT.post-code' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="post-code" maxlength="30" type="text" name="ContactZipCode" formControlName="postcode" required (change)="autoselected()">
                            <div class="form-control-feedback" *ngIf="this.form.controls.postcode.errors && (this.form.controls.postcode.touched)">
                                <p *ngIf="this.form.controls.postcode.errors.required">{{ 'Validation.required' | translate
                                    }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('country')">
                        <p>{{ 'CONTENT.country' | translate }}</p>
                        <div class="select-wrapper inline-block">
                            <select name="ContactCountry" id="country" formControlName="country" required class="selectpicker">
                                <option [ngValue]="country" *ngFor="let country of countrylist; let i = index">{{ country.CountryName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.country.errors && (this.form.controls.country.touched)">
                                <p *ngIf="this.form.controls.country.errors.required">{{ 'Validation.required' | translate
                                    }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="detail-footer-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <p class="color-red mb-2">*{{ 'CONTENT.phone-edit' | translate }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="txt-middle">{{ 'CONTENT.m-phone' | translate }}</p>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="input-wrapper ">
                            <input id="m-phone" name="m-phone" type="text" formControlName="Mphone" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="txt-middle">{{ 'CONTENT.w-phone' | translate }}</p>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="input-wrapper ">
                            <input id="w-phone" name="w-phone" type="text" formControlName="Ophone" maxlength="50">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p class="txt-middle">{{ 'CONTENT.f-num' | translate }}</p>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="input-wrapper ">
                            <input id="f-num" name="f-num" type="text" formControlName="Faxno" maxlength="50">

                        </div>
                    </div>

                    <div class="col-md-3 txt-middle">
                        <p>{{ 'CONTENT.tax' | translate }}</p>
                    </div>

                    <div class="col-md-3 txt-middle">
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <div class="custom-radio-between">
                                    <input [value]="true" id="101" name="allowtax" type="radio" formControlName="allowtax" required>
                                    <label for="101"></label>
                                    <p>{{ 'CONTENT.texs' | translate }}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="custom-radio-between">
                                    <input [value]="false" id="102" name="allowtax" type="radio" formControlName="allowtax" required>
                                    <label for="102"></label>
                                    <p>{{ 'CONTENT.not-texs' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 justify-content-center">
                    <div class="col-md-2 col-6">
                        <button class="btn-med btn-primary btn" [disabled]="!this.form.valid || loading == true" type="submit" (click)="onSubmited()">
                            {{ 'BUTTON.ok' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-md-2 col-6">
                        <button class="btn-med btn-cancel" (click)="reset()" type="button">
                            {{ 'BUTTON.cancel' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" style="z-index: 9999;" id="otpprofile">
    <div class="modal-dialog otp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'LOGIN.otp' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <form [formGroup]="formotp">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{ 'LOGIN.otp-send' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-wrapper">
                                <input id="tel" name="tel" maxlength="30" type="text" [value]="res.mobile" disabled class="bg-gray">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-wrapper" style="margin: 0;">
                                <button class="btn-med btn-blue btn" (click)="requestotp()" [disabled]="loading" type="button">
                                    {{ 'BUTTON.otp' | translate }}
                                    <!-- <div class="d-block d-xl-none d-lg-none d-md-none">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </div> -->
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-receive' | translate }} Ref. Code {{ res?.refotp }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss1('otp')">
                            <div class="input-wrapper">
                                <input class="bg-gray" id="otp" name="otp" maxlength="6" type="password" formControlName="otp" (keypress)="numberOnly($event)">
                                <div class="form-control-feedback" *ngIf="this.formotp.controls.otp.errors && ( this.formotp.controls.otp.touched)">
                                    <p *ngIf="this.formotp.controls.otp.errors.required">{{ 'Validation.required' | translate
                                        }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row has-danger">
                        <div class="col-12 form-control-feedback">
                            <p>{{message}}</p>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-request' | translate }}{{ 'BUTTON.otp' | translate }}{{ 'LOGIN.otp-request2'
                                | translate }}</p>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-primary btn" (click)="updateprofile()" type="submit" [disabled]="loading">
                                {{ 'BUTTON.confirm' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-cancel" data-dismiss="modal" type="button" (click)="resetotp()">
                                {{ 'BUTTON.cancel' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'Modal.notifications' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <h3>{{ message }}</h3>
            </div>
            <div class="modal-footer" style="display: block;">
                <div class="row justify-content-end">
                    <div class="col-sm-6">
                        <button class="btn-med btn-primary" data-dismiss="modal" (click)="reset()">
                            <p style="margin-top: 7px;">{{ 'BUTTON.ok' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>