<div class="fund-table-wrapper">
    <div class="heading-section">
        <div class="detail-head-wrapper">
            <div class="row">
                <div class="col-md-12 col-12 icon-option mb-3">

                    <ul class="">
                        <!-- <li class="ico-fb">
                            <a href="#" title="facebook">
                                <img src="/assets/Images/icons/ico-pipe.png" />
                            </a>
                        </li>
                        <li class="ico-line">
                            <a href="#" title="line">
                                <img src="/assets/Images/icons/ico-download.png" />
                            </a>
                        </li> -->
                        <li class="ico-yt">
                            <a title="print">
                                <img src="/assets/Images/icons/ico-print.png" (click)="print()" />
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
                    <div class="select-wrapper inline-block">
                        <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="ddlLink">
                            <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{
                                unitholder.UnitholderNo }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
                    <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
                </div>

            </div>
        </div>
    </div>


    <!-- <div class="col-md-6"> -->
    <div class="form-profile-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmited()">
            <div class="detail-body-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <H4 class="text-left">{{ 'CONTENT.profie' | translate }}</H4>
                    </div>
                </div>


                <div class="row ">

                    <div class="col-12 col-md-6 form-group" [ngClass]="ValidatorDisplayCss('address')">
                        <p>{{ 'CONTENT.address' | translate }}</p>
                        <div class="input-wrapper">
                            <input id="address" name="address" maxlength="50" type="text" formControlName="address" required *ngIf="profile">
                            <div class="form-control-feedback" *ngIf="this.form.controls.address.errors && (this.form.controls.address.touched)">
                                <p *ngIf="this.form.controls.address.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('province')">
                        <p>{{ 'CONTENT.province' | translate }}</p>
                        <div class="select-wrapper inline-block">

                            <select name="province" id="province" formControlName="province" required (change)="onprovincechange()">
                                <option [ngValue]="province" *ngFor="let province of provincelist; let i = index">{{ province.ProvinceName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.province.errors && (this.form.controls.province.touched)">
                                <p *ngIf="this.form.controls.province.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('amphur')">
                        <p>{{ 'CONTENT.amphur' | translate }}</p>
                        <div class="input-wrapper ">
                            <!-- <input id="amphur" name="amphur" maxlength="30" type="text" formControlName="amphur"> -->
                            <select name="amphur" id="amphur" formControlName="amphur" required (change)="onamphurchange()">
                                <option selected disabled *ngIf="show">เขต / อำเภอ</option>
                                <option [ngValue]="amphur" *ngFor="let amphur of amphurlist; let i = index">{{ amphur.UmpurName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.amphur.errors && (this.form.controls.amphur.touched)">
                                <p *ngIf="this.form.controls.amphur.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                            </div>
                        </div>
                    </div>





                    <!-- <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.moo-no' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="moo-no" name="moo-no" maxlength="30" type="text" value="">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.mooban' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="mooban" name="mooban" maxlength="30" type="text" value="">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.floor' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="floor" name="floor" maxlength="30" type="text" value="">
                        </div>
                    </div> -->
                    <!-- <button (click)="onSubmited()">submit</button> -->

                </div>

                <div class="row">
                    <!-- <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.soi' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="soi" name="soi" maxlength="30" type="text" value="จุลดิส">
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <p>{{ 'CONTENT.road' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="road" name="road" maxlength="30" type="text" value="">
                        </div>
                    </div> -->

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('tambon')">
                        <p>{{ 'CONTENT.tambon' | translate }}</p>
                        <div class="input-wrapper ">
                            <!-- <input id="tambon" name="tambon" maxlength="30" type="text" formControlName="tambon"> -->
                            <select name="tambon" id="tambon" formControlName="tambon" required (change)="ontambonchange()">
                                <option [selected]="show" disabled *ngIf="show">แขวง / ตำบล</option>
                                <option [ngValue]="tambon" *ngFor="let tambon of tambonlist; let i = index">{{ tambon.TumbolName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.tambon.errors && (this.form.controls.tambon.touched)">
                                <p *ngIf="this.form.controls.tambon.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('postcode')">
                        <p>{{ 'CONTENT.post-code' | translate }}</p>
                        <div class="input-wrapper ">
                            <input id="post-code" maxlength="30" type="text" name="ContactZipCode" formControlName="postcode" required (change)="autoselected()">
                            <div class="form-control-feedback" *ngIf="this.form.controls.postcode.errors && (this.form.controls.postcode.touched)">
                                <p *ngIf="this.form.controls.postcode.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('country')">
                        <p>{{ 'CONTENT.country' | translate }}</p>
                        <div class="select-wrapper inline-block">
                            <select name="ContactCountry" id="country" formControlName="country" required>
                                <option [ngValue]="country" *ngFor="let country of countrylist; let i = index">{{ country.CountryName
                                    }}
                                </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="this.form.controls.country.errors && (this.form.controls.country.touched)">
                                <p *ngIf="this.form.controls.country.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <div class="row">                    

                    

                </div> -->


            </div>
            <div class="detail-footer-wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <p class="txt-middle">{{ 'CONTENT.m-phone' | translate }}</p>
                    </div>
                    <div class="col-md-3 form-group" [ngClass]="ValidatorDisplayCss('Mphone')">
                        <div class="input-wrapper ">
                            <input id="m-phone" name="m-phone" maxlength="30" type="text" formControlName="Mphone" required (keypress)="numberOnly($event)">
                            <div class="form-control-feedback" *ngIf="this.form.controls.Mphone.errors && (this.form.controls.Mphone.touched)">
                                <p *ngIf="this.form.controls.Mphone.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="txt-middle">{{ 'CONTENT.w-phone' | translate }}</p>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="input-wrapper ">
                            <input id="w-phone" name="w-phone" maxlength="30" type="text" formControlName="Ophone" (keypress)="numberOnly($event)">
                            
                        </div>
                    </div>
                    <!-- 
                    <div class="col-md-3">
                        <span>เบอร์โทรศัพท์ มือถือ</span>
                    </div>

                    <div class="col-md-3">
                        <div class="input-wrapper ">
                            <input id="password" name="password" maxlength="30" type="text" value="0850594153">
                        </div>
                    </div> -->
                </div>

                <!-- <div class="row">
                    
                    
                </div> -->

                <div class="row">
                    <div class="col-md-3">
                        <p class="txt-middle">{{ 'CONTENT.f-num' | translate }}</p>
                    </div>

                    <div class="col-md-3 form-group">
                        <div class="input-wrapper ">
                            <input id="f-num" name="f-num" maxlength="20" type="text" formControlName="Faxno">
                           
                        </div>
                    </div>

                    <!-- <div class="col-md-3">
                        <span>อีเมล</span>
                    </div>
                    <div class="col-md-3">
                        <div class="input-wrapper ">
                            <input id="password" name="password" maxlength="30" type="text" value="natiwat@hotmail.com">
                        </div>
                    </div> -->

                    <div class="col-md-3 txt-middle">
                        <p>{{ 'CONTENT.tax' | translate }}</p>
                    </div>

                    <div class="col-md-3 txt-middle">
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <div class="custom-radio-between">
                                    <input [value]="true" id="101" name="allowtax" type="radio" formControlName="allowtax" required>
                                    <label for="101"></label>
                                    <p>หัก</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="custom-radio-between">
                                    <input [value]="false" id="102" name="allowtax" type="radio" formControlName="allowtax" required>
                                    <label for="102"></label>
                                    <p>ไม่หัก</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- data-toggle="modal" data-target="#disclaimer" data-backdrop="static"
                            data-keyboard="false" -->
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-2 col-6">
                        <button class="btn-med btn-primary">
                            {{ 'BUTTON.ok' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </button>

                    </div>
                    <div class="col-md-2 col-6">
                        <button class="btn-med btn-cancel">
                            {{ 'BUTTON.cancel' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" style="z-index: 9999;" id="otpprofile" *ngIf="res">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">{{ 'LOGIN.otp' | translate }}</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <form [formGroup]="formotp">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{ 'LOGIN.otp-send' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-wrapper">
                                <input id="tel" name="tel" maxlength="30" type="text" [value]="res.mobile" disabled class="bg-gray">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-wrapper" style="margin: 0;">
                                <button class="btn-med btn-blue" (click)="requestotp()">
                                    {{ 'BUTTON.otp' | translate }}
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-receive' | translate }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group" [ngClass]="ValidatorDisplayCss1('otp')">
                            <div class="input-wrapper">
                                <input class="bg-gray" id="otp" name="otp" maxlength="6" type="text" formControlName="otp" (keypress)="numberOnly($event)">
                                <div class="form-control-feedback" *ngIf="this.formotp.controls.otp.errors && ( this.formotp.controls.otp.touched)">
                                    <p *ngIf="this.formotp.controls.otp.errors.required">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                                    <!-- <p *ngIf="this.form.controls.otp.errors.pattern">ข้อมูลไม่ถูกต้อง</p> -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row has-danger">
                        <div class="col-12 form-control-feedback">
                            <p>{{message}}</p>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <p>{{ 'LOGIN.otp-request' | translate }}</p>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-primary" (click)="updateprofile()">
                                {{ 'BUTTON.confirm' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-4 col-6">
                            <button class="btn-med btn-cancel" data-dismiss="modal">
                                {{ 'BUTTON.cancel' | translate }}
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="message" style="z-index: 9999;" *ngIf="message">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">แจ้งเตือน</h4>
            </div>
            <div class="modal-body" id="content-scroll-1">
                <h3>{{ message }}</h3>
            </div>
            <div class="modal-footer" style="display: block;">
                <div class="row justify-content-end">
                    <div class="col-sm-6">
                        <button class="btn-med btn-primary" data-dismiss="modal" (click)="reset()">
                            <p style="margin-top: 7px;">ตกลง
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
