<div class="fund-table-wrapper">
    <div class="heading-section">
        <div class="detail-head-wrapper">
            <div class="row">
                <div class="col-md-12 col-12 icon-option mb-3">

                    <ul class="">
                        <!-- <li class="ico-fb">
                          <a href="#" title="facebook">
                              <img src="/assets/Images/icons/ico-pipe.png" />
                          </a>
                      </li>
                      <li class="ico-line">
                          <a href="#" title="line">
                              <img src="/assets/Images/icons/ico-download.png" />
                          </a>
                      </li> -->
                        <li class="ico-yt">
                            <a href="#" title="youtube">
                                <img src="/assets/Images/icons/ico-print.png" />
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-num' | translate }}</p>
                    <div class="select-wrapper inline-block">
                        <select [(ngModel)]="unitholderno" name="unitholderno" (ngModelChange)="onChange()" id="ddlLink">
                            <option [ngValue]="unitholder" *ngFor="let unitholder of userall.unitholderlist; let i = index">{{
                                unitholder.UnitholderNo }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <p>{{ 'CONTENT.unit-holder-name' | translate }}</p>
                    <span class="txt-middle">{{ userselect.FirstName}} {{ userselect.LastName}}</span>
                </div>

                <div class="col-md-6">
                    <p>{{ 'CONTENT.address' | translate }}</p>
                    <span class="txt-middle">{{ userselect.ContactAddress}}</span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="detail-body-wrapper">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <span class="txt-middle">{{ 'CONTENT.defult-start-page' | translate }}</span>
                    </div>
                    <div class="col-md-6">
                        <div class="select-wrapper inline-block">
                            <select name="ddlLink" id="ddlLink">
                                <option value="0" selected="">ยอดคงเหลือ</option>
                                <option value="36">ยอดคงเหลือ</option>
                                <option value="29">ยอดคงเหลือ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="txt-middle">{{ 'LOGIN.comfirm-p' | translate }}</span>
                    </div>
                    <div class="col-md-6">
                        <div class="input-wrapper ">
                            <input id="name" name="name" maxlength="30" type="text" class="bg-gray" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6 offset-md-4">
                        <button class="btn-med btn-primary">
                            {{ 'BUTTON.ok' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </button>
                    </div>
                    <div class="col-md-3 col-6">
                        <button class="btn-med btn-cancel">
                            {{ 'BUTTON.cancel' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>