<div class="" id="maincontainer-wrapper">
  <div class="page-content-wrapper">
    <div class="mutual-fund-wrapper">
      <div class="max-width-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="tabs-menu-wrapper">
              <div class="dropdown dropdown-content">
                <button class="btn-med btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  เมนูกองทุน
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="navigate('purchase')" title="{{ 'NAVBAR.subscription' | translate }}">{{ 'NAVBAR.subscription' | translate }}</a>
                  <a class="dropdown-item" (click)="navigate('sell')" title="{{ 'NAVBAR.redemption' | translate }}">{{ 'NAVBAR.redemption' | translate }}</a>
                  <a class="dropdown-item" (click)="navigate('exchange')" title="{{ 'NAVBAR.switching' | translate }}">{{ 'NAVBAR.switching' | translate }}</a>
                  <!-- <a class="dropdown-item" (click)="navigate('purchase-for-sell')" title="รายการซื้อเพื่อขาย">รายการซื้อเพื่อขาย</a> -->
                </div>
              </div>
              <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                <li role="presentation" id="menu1">
                  <a title="{{ 'NAVBAR.subscription' | translate }}" (click)="navigate('purchase')">{{ 'NAVBAR.subscription' | translate }}</a>
                </li>
                <li role="presentation" id="menu2">
                  <a title="{{ 'NAVBAR.redemption' | translate }}" (click)="navigate('sell')">{{ 'NAVBAR.redemption' | translate }}</a>
                </li>
                <li role="presentation" id="menu3">
                  <a title="{{ 'NAVBAR.switching' | translate }}" (click)="navigate('exchange')">{{ 'NAVBAR.switching' | translate }}</a>
                </li>
                <!-- <li role="presentation" id="menu4">
                  <a title="รายการซื้อเพื่อขาย" (click)="navigate('purchase-for-sell')">รายการซื้อเพื่อขาย</a>
                </li> -->

              </ul>
            </div>

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-custom" tabindex="-1" role="dialog" id="disclaimer">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">คุณต้องการลบรายการที่เลือกหรือไม่</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <h4 class="modal-title">X</h4>
        </button>
      </div>
      <div class="modal-body" id="content-scroll-1">
        <div class="row mt-3">
          <div class="col-md-6 col-6">
            <p>เลขที่ผู้ถือหน่วยลงทุน</p>
            <span>9990244757</span>
          </div>
          <div class="col-md-6 col-6">
            <p>ชื่อผู้ถือหน่วยลงทุน</p>
            <span>เนติวัฒน์ โชติกร</span>
          </div>

          <div class="col-md-12 mt-4">
            <div class="table-responsive">
              <table class="table table-custom">
                <tbody>
                  <tr>
                    <td class="text-left">
                      วันที่ทำรายการ
                    </td>
                    <td class="text-left content">
                      7 มิถุนายน 2561, 11:25
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      เลือกวิธีชำระเงิน
                    </td>
                    <td class="text-left content">
                      หักบัญชีธนาคาร
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      กองทุน
                    </td>
                    <td class="text-left content">
                      กองทุนเปิดกรุงศรีหุ้นระยะยาว
                      <br/>ไทยออลสตาร์ปันผล
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      จำนวน
                    </td>
                    <td class="text-left content">
                      80,000 บาท
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      หักบัญชีธนาคาร
                    </td>
                    <td class="text-left content">
                      ธนคารกรุงศรีอยุธยา จำกัด (มหาชน)
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      วันที่ทำรายการซื้อล่วงหน้า
                    </td>
                    <td class="text-left content">
                      7 มิถุนายน 2561
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center">
            <div class="col-md-6 col-6 col-sm-6">
              <button class="btn-med btn-cancel" (click)="checkpage('')" data-dismiss="modal">
                ลบรายการนี้
                <i class="fa fa-angle-right" aria-hidden="true"></i>

              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>