<div class="" id="maincontainer-wrapper">
  <div class="page-content-wrapper">
    <div class="mutual-fund-wrapper">
      <div class="max-width-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="tabs-menu-wrapper">
              <div class="dropdown dropdown-content">
                <button class="btn-med btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  เมนูกองทุน
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="navigate('purchase')" title="{{ 'NAVBAR.subscription' | translate }}">{{ 'NAVBAR.subscription' | translate }}</a>
                  <a class="dropdown-item" (click)="navigate('sell')" title="{{ 'NAVBAR.redemption' | translate }}">{{ 'NAVBAR.redemption' | translate }}</a>
                  <a class="dropdown-item" (click)="navigate('exchange')" title="{{ 'NAVBAR.switching' | translate }}">{{ 'NAVBAR.switching' | translate }}</a>
                  <!-- <a class="dropdown-item" (click)="navigate('purchase-for-sell')" title="รายการซื้อเพื่อขาย">รายการซื้อเพื่อขาย</a> -->
                </div>
              </div>
              <ul class="nav nav-tabs" role="tablist" id="mutual-tab-menu">
                <li role="presentation" id="menu1">
                  <a title="{{ 'NAVBAR.subscription' | translate }}" (click)="navigate('purchase')">{{ 'NAVBAR.subscription' | translate }}</a>
                </li>
                <li role="presentation" id="menu2">
                  <a title="{{ 'NAVBAR.redemption' | translate }}" (click)="navigate('sell')">{{ 'NAVBAR.redemption' | translate }}</a>
                </li>
                <li role="presentation" id="menu3">
                  <a title="{{ 'NAVBAR.switching' | translate }}" (click)="navigate('exchange')">{{ 'NAVBAR.switching' | translate }}</a>
                </li>
                <!-- <li role="presentation" id="menu4">
                  <a title="รายการซื้อเพื่อขาย" (click)="navigate('purchase-for-sell')">รายการซื้อเพื่อขาย</a>
                </li> -->

              </ul>
            </div>

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

